<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                        <span class="input-group-addon input-group-addon-custom">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                    <input type="text" placeholder="Search Users" class="form-control" ng-model="querry" ng-change="search(null,querry)" ng-model-options="{debounce: 700}">
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<form class="" role="form">-->
                    <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown">-->
                        <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                        <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                            <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                            <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div ng-class="{'row m-t-10 animated':true, 'bounceOutLeft':disableSlideLeftBack, 'bounceInLeft':disableSlideLeft, 'bounceInRight':disableSlideRight, 'bounceOutRight':disableSlideRightBack}">
            <div class="col-sm-3 m-b-10">
                <div class="ar-1-1">
                    <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin cursor-style" ui-sref="side_menu.new_user">
                        <div class="panel-heading">
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <!--<a data-toggle="refresh" class="portlet-refresh text-black" href="#">-->
                                            <!--<i class="portlet-icon portlet-icon-refresh-lg-white"></i>-->
                                            <!--&lt;!&ndash;<i class="fa fa-circle-o" aria-hidden="true"></i>&ndash;&gt;-->
                                        <!--</a>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body body-align">
                            <div class="plus-box">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <h1 class="add-package">Add a User</h1>
                            <p>Create a new user</p>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="users.data.length == 0">No results found</p>
            <div class="col-sm-3 m-b-10" ng-repeat="user in users.data track by $index">
                <div class="ar-1-1">
                    <div pg-portlet class="panel panel-default m-b-0 tile-hover image" id="portlet-basic" on-refresh="refreshTest('#portlet-basic')">
                    <!--<img src="../../../../../img/user.png" class="hover-on-img">-->
                        <div class="gradient">
                            <div class="row panel-heading">
                                <div class="col-md-10">
                                    <div class="panel-title custom-panel-title">{{user.firstname | limitTo:15}}{{user.name.length > 15 ? '...' : ''}} {{user.lastname | limitTo:15}}{{user.name.length > 20 ? '...' : ''}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="panel-controls">
                                        <ul>
                                            <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                            </li>
                                            <!--<li><a href="" data-toggle="refresh" class="portlet-refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                                            <!--</li>-->
                                            <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body text-hover">
                                <p class="tile-description"><span class="bold-text">First Name:</span> {{user.firstname}}</p>
                                <p class="tile-description"><span class="bold-text">Last Name:</span> {{user.lastname}}</p>
                                <p class="tile-description"><span class="bold-text">Username:</span> {{user.username}}</p>
                                <p class="tile-description"><span class="bold-text">Email:</span> {{user.email | limitTo:21}}{{user.email.length > 21 ? '...' : ''}}</p>
                                <p class="tile-description"><span class="bold-text">Phone Number:</span> (010) 692-6593</p>
                                <button class="btn btn-primary button-edit button-hover bottom-left" ui-sref="side_menu.edit_user({id: user.id})">Edit</button>
                                <button class="btn button-delete button-hover bottom-right" type="button" ng-click="deleteUser(user.id,$index)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="users!=null">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" ng-change="paginate()" items-per-page="maxSize">
            </ul>
        </div>
    </div>
    <!-- DISPLAY NONE OBRISATI -->
    <div class="col-md-2" style="display:none">
        <div class="row custom-loader">
            <a class="custom-style-view-more" ng-click="loadMoreUsers(nextPageUrl)">Load more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            <div class="progress-circle-indeterminate"></div>
        </div>
        <!--<input class="progress-circle" ui-jq="circularProgress" value="75" type="hidden" data-color="complete">-->
    </div>
</div>