.textarea-step2 {
	width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
    padding-top: 10px;
}
.corner-ribbon {
  width: 200px;
  background: #4db6ac;
  position: absolute;
  top: 25px;
  left: -60px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon span {
	font-size: 11px;
	margin-right: 8px;
}
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-left{
  top: 15px;
  left: -50px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  z-index: 1;
}
.box {
	border-radius: 4px;
	/*background-color: rgb(236, 239, 241);*/
	background-color: #f8f8f8;
}
.box-border {
	border-style: solid;
	border-width: 1px;
	border-color: #ededed;
	background-color: rgb(255, 255, 255);
}

.checkable-square {
	webkit-box-align:center;
	-webkit-box-pack:center;
	display:-webkit-box;
}
/* step 3 content */
.square-step3 {
	width: 100%;
	max-width: 150px;
	min-height: 150px;
	padding-bottom: 20px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.square-step3:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 88%;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left bottom, left bottom, color-stop(-75%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) -50%, rgba(255,255,255,0) 100%);
}
.square-step3 img {
	height: 150px;
}
.square-step3 img:hover {
	background-color: red;
	opacity: 30%;
}
.step3-dropdown {
	position: absolute;
	top: 10px;
	right: 10px;

}
.step3-dropdown button {
	border-radius: 20px;
	z-index: 1;
}
input[type="checkbox"][id^="cb"] {
  display: none;
}
:checked + label {
  border-color: #ddd;
}
:checked + label:before {
  background-color: grey;
  transform: scale(1);
}
:checked + label img {
  border: 5px solid #6d5caf;
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
:checked + label .square-step3:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 88%;
    background: -moz-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left bottom, left bottom, color-stop(-75%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(bottom, rrgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, rgba(109,92,175,1) -50%, rgba(255,255,255,0) 100%);
}
.addon-step-title {
	bottom: 60px;
	padding: 0 10px;
	height: 42px;
	 line-height: 14px;
	position: absolute;
	font-weight: bold;
	color: #ffffff;
	font-family: Helvetica;
	z-index: 1;
	text-transform: uppercase;
}
.addon-step-price {
	position: absolute;
	bottom: 20px;
	padding: 0 10px;
	font-family: Helvetica;
	font-weight: 300;
	color: #ffffff;
	z-index: 1;
}
.addon-step-details {
	position: absolute;
	bottom: 20px;
	padding: 0 0 10px;
	font-family: Helvetica;
	font-weight: 300;
	color: #ffffff;
	z-index: 2;
	right: 10px;
	text-decoration: none;
}
.addon-step-details:hover {
	color: #9781ec;
}
/*ADD-ON modal*/
.image-modal {
	background-image: url("../../../img/step3-img1.png");
	background-size: cover;
}
.recommended-modal {
	font-size: 12px;
	color: rgb(221, 221, 221);
	margin-bottom: 0;
}
.title-modal {
	font-size: 16px!important;
}
.price-modal {
	color: #6d5cae;
	margin-bottom: 5px!important;
	font-size: 16px!important;
}
/*ADD-ON modal END*/

/** step header **/
.steps-padding-right {
	padding-right: 50px;
}
.podstep-container {
	margin-top: 30px;
}
.hr-podstep-inactive {
	border: none;
	width: 0%;
	margin: 0 auto;
	margin-top: 15px;
	-webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
	transition: width 1s ease-out;
	float: left;
}
.hr-podstep-active {
	border: 1px solid #6d5cae;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	-webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
	transition: width 1s ease-out;
	float: left;
}
.hr-podstep-grow {
	border: 1px solid #6d5cae;
	width: 100%;
}
.podstep {
	height: 30px;
	width: 30px;
	color: #fff;
	border-radius: 4px;
	display: table;
}
.podstep span {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.sub-step-unfinished {
	color: #b0bec5;
	border: 1px solid #b0bec5;
	border-radius: 4px;
}
.sub-step-1-text {
	width: 100px;
}
.sub-step-2-text {
	width: 127px;
}
.sub-step-3-text {
	width: 100px;
}
.sub-step-finished-text {
	color: #6d5cae;
}
.sub-step-unfinished-text {
	color: #b0bec5;
}
.steps-cards {
	margin-top: 40px;
	margin-bottom: 30px;
}
.step-col {
	width: 13.88%;
}
.steps-count {
	background-color: #ffffff;
	height: 50px;
	border-radius: 2px;
	border: 1px solid #6d5cae;
	padding: 0px;
}
.step-count-value {
	text-align: center;
	color: #6d5cae;
	font-weight: 500;
	line-height: 49px;
}
.step-card {
	height: 50px;
	border-radius: 2px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
}
.step-card-active-fade {
	-webkit-animation: 1s ease 0s normal forwards 1 fadein;
	animation: 1s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
	0% { opacity:0; }
	5% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadein {
	0% { opacity:0; }
	5% { opacity:0; }
	100% { opacity:1; }
}
.step-card-unfinished {
	border: 1px solid #cccccc;
}
.step-arrow {
	width: 17px;
	height: 17px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	margin-top: 4px;
}
.sub-step-arrow {
	width: 17px;
	height: 17px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	margin-top: -7px;
	background-color: #f8f8f8;
}
.step-number {
	border-radius: 50%;
	box-shadow: 0.174px 0.985px 4px 0px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	margin-top: -12px;
	margin-bottom: 8px;
}
.step-number p {
	text-align: center;
	line-height: 23px;
}
.step-number-finished {
	color: #6d5cae;
}
.step-number-unfinished {
	color: #b0bec5;
}
.step-number-xs {
	width: 25px;
	height: 25px;
	float: left;
	border-radius: 50%;
	box-shadow: 0.174px 0.985px 4px 0px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	text-align: center;
	display: table;
	margin-right: 10px;
}
.step-number-xs span {
	display: table-cell;
	vertical-align: middle;
}
.step-number-finished-xs {
	color: #ffffff;
	background-color: #6d5cae;
	box-shadow: none;
}
.steps-count-xs {
	background-color: #ffffff;
	height: 30px;
	max-width: 55px;
	border-radius: 2px;
	border: 1px solid #6d5cae;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	display: table;
}
.step-count-value-xs {
	text-align: center;
	color: #6d5cae;
	font-weight: 500;
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}
.step-name {
	margin: 0 auto;
	text-align: center;
	line-height: 13px;
}
.step-name-finished {
	color: #ffffff;
}
.step-name-unfinished {
	color: #78909c;
}
.step-name-xs {
	text-align: center;
	color: #6d5cae;
	margin-top: 20px;
	margin-bottom: -10px;
}
.step-line {
	padding: 0px;
}
.step-line-inactive {
	border: none;
	margin-top: 25px;
	-webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
	transition: width 1s ease-out;
	width : 0%;
	float: left;
}
.step-line-active {
	border: 1px solid #6d5cae;
	margin-top: 25px;
	width: 100%;
	float: left;
}
.step-line-hr-grow {
	border: 1px solid #6d5cae;
	width: 100%;
}
.right-line {
	padding-right: 0px;
}
.both-line {
	padding-right: 0px;
	padding-left: 0px;
}
.sub-step-col-xs {
	width: 5.333333% !important;
}
.booking-event-datepicker .table-condensed {
	width: 100%;
}
.booking-event-datepicker .datepicker {
	padding: 0px !important;
	background-color: #fff;
	margin-bottom: 80px;
}
.time-slots:hover {
	background-color: #6d5cae;
	cursor: pointer;
	color: #fff;
}
.time-slots {
	border: 1px solid #cce4f0;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 10px;
	color: #5b8ba5;
}
.time-slots p {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.available-title {
	margin-top: 10px;
}
.available-title p {
	color: #6d5cae;
}
.availabile-bg {
	background-color: #fff;
	min-height: 235px;
}
.box-checkbox {
	background-color: #fff;
	border: 1px solid #eeeeee;
}
.box-textarea {
	/*width: 100%;*/
	border: 1px solid #eeeeee!important;
	background-color: #ffffff!important;
}
.booking-textarea {
	width: 100%;
	height: 120px;
	resize: none;
	border: none;
}
.step-title {
	color: #626262;
	font-weight: 500;
	font-size: 15px;
}
.step-description {
	font-size: 13px;
	color: #90a4ae;
	font-weight: 500;
	margin-bottom: 0;
}
.add-guest-btn {
	width: 100% !important;
	height: 54px;
}
.btn-text-left {
	float: left;
	font-size: 11px;
}
.btn-icon-right {
	float: right;
}
.policies-text {
	max-height: 320px;
	overflow-y: scroll;
}
.custom-label {
	color: #c4c4c4;
	font-weight: 500 !important;
}
.expandable-panel-heading {
	padding: 20px 20px 10px 20px !important;
}
.expandable-panel-body {
	border-top: 1px solid #ddd !important;
}
.expandable-panel-title {
	font-weight: 500 !important;
	color: #626262;
}
.expandable-body-value {
	color: #90a4ae;
	margin-bottom: 0;
}
.expandable-body-label {
	color: #546e7a;
	margin-bottom: 0;
}
.dollar-value {
	float: right;
}
.pricing-values {
	border-bottom: 1px solid #ddd !important;
}
.expandable-body-deposit-label {
	color: #6d5caf;
	margin-bottom: 0;
	font-weight: 600;
}
.final-message {
	font-size: 16px;
	color: #626262;
}
.final-value {
	color: #6d5caf;
}
.terms-message {
	color: #90a4ae;
	font-size: 13px;
}
.terms-message span {
	color: #6d5caf;
}
.btn-complete-booking {
	width: 100%;
	max-width: 175px !important;
}

/*STEP 1 MODAL*/

.custom-carousel {
	position: relative;
	float: none !important;
}
.carousel-control {
	top: 85px;
}
.carousel-control.left {
	background: transparent!important;
	font-size: 30px;
	left: -52px;
}
.carousel-control.right {
	background: transparent!important;
	font-size: 30px;
	right: -52px;
}
.arrow-carousel {
	color: #b0bec5;
}
.carousel-indicators {
	bottom: -35px!important;
}
.carousel-indicators .active {
	background-color: #6d5ab0;
	width: 10px!important;
	height: 10px!important;
}
.carousel-indicators li {
	background-color: #b0bec5;
	border: none!important;
	width: 8px!important;
	height: 8px!important;
}
.custom-checkbox:checked + label {
	margin-left: -20px;
}
.checkbox-circle {
	margin-left: 14%;
}
.image-padding {
	padding-left: 5px!important;
	padding-right: 5px!important;
}
.btn-position {
	text-align: center;
	margin-top: 35px;
}
.round-progress {
	margin: 0 auto;
}
.progress-percentage-wrapper {
	position: relative;
	margin: 20px auto;
	font-size: 50px;
	width: 200px;
	height: 100px;
}
.round-progress-wrapper {
	margin-left: 50px;
}
.progress-percentage {
	position: absolute;
	color: #bbb;
	width: 100%;
	text-align: center !important;
	top: 18%;
}
.progress-percentage img {
	width: 60px;
	-webkit-animation: 1s ease 0s normal forwards 1 check-fade-in;
	animation: 1s ease 0s normal forwards 1 check-fade-in;
}
@keyframes check-fade-in {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes check-fade-in {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
.modal-step-6-dialog {
	max-width: 450px !important;
}
.modal-step-6-body {
	padding: 30px 50px 60px 50px !important;
}
/*STEP 1 MODAL END*/

@media only screen and (min-width: 320px) and (max-width: 374px){
	.sub-step-col-xs {
		width: 20% !important;
	}
	.sub-steps-mobile-p-l {
		padding-left: 40px !important;
	}
	.sub-step-2-text {
		width: 84px;
	}
	.sub-steps-text-mobile-p-l {
		padding-left: 20px !important
	}
}

@media only screen and (min-width: 375px) and (max-width: 420px){
	.step-number-xs {
		margin-right: 20px;
	}
	.sub-step-col-xs {
		width: 20% !important;
	}
	.sub-steps-mobile-p-l {
		padding-left: 60px !important;
	}
	.sub-step-2-text {
		width: 113px;
	}
}

@media only screen and (min-width: 421px) and (max-width: 767px){
	.step-number-xs {
		margin-right: 27px;
	}
	.sub-step-col-xs {
		width: 18% !important;
	}
	.sub-steps-mobile-p-l {
		padding-left: 60px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	.step-name {
		font-size: 11px;
	}
	.step-count-value {
		font-size: 12px;
	}
	.sub-step-col-xs {
		width: 8.8% !important;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
	.sub-step-col-xs {
		width: 6.6% !important;
	}
}