<div class="container">
    <div class="row">
        <h3 class="font-logo-menu text-center m-t-40">booking</h3>
    </div>
</div>
<div class="container box-border m-t-40 m-b-40">
	<div class="row steps-cards">
		<div class="col-xs-12 steps-padding-right hidden-xs">
			<div class="col-xs-2 step-col both-line m-l-10">
				<div class="step-card bg-primary col-xs-9 col-xs-offset-3">
					<div class="step-number step-number-finished">
						<p>1</p>
					</div>
					<p ng-if="steps[0] == 1" class="step-name step-name-finished">Date & Time</p>
					<p ng-if="steps[0] == 2" class="step-name step-name-finished">Party Details</p>
					<p ng-if="steps[0] == 3" class="step-name step-name-finished">Add-Ons</p>
					<p ng-if="steps[0] == 4" class="step-name step-name-finished">Host & GoH</p>
					<p ng-if="steps[0] == 5" class="step-name step-name-finished">Policies</p>
					<div ng-if="activeStepId == 1" class="step-arrow bg-primary"></div>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="col-xs-3 step-line">
					<hr class="step-line-inactive" ng-class="{'step-line-inactive': activeStepId < 2, 'step-line-inactive step-line-hr-grow': activeStepId == 2, 'step-line-active': activeStepId > 2}">
				</div>
				<div ng-if="activeStepId >= 2" class="step-card bg-primary col-xs-9" ng-class="{'step-card step-card-active-fade': activeStepId == 2, 'step-card': activeStepId != 2}">
					<div class="step-number step-number-finished">
						<p>2</p>
					</div>
					<p ng-if="steps[1] == 1" class="step-name step-name-finished">Date & Time</p>
					<p ng-if="steps[1] == 2" class="step-name step-name-finished">Party Details</p>
					<p ng-if="steps[1] == 3" class="step-name step-name-finished">Add-Ons</p>
					<p ng-if="steps[1] == 4" class="step-name step-name-finished">Host & GoH</p>
					<p ng-if="steps[1] == 5" class="step-name step-name-finished">Policies</p>
					<div ng-if="activeStepId == 2" class="step-arrow bg-primary"></div>
				</div>
				<div ng-if="activeStepId < 2" class="step-card step-card-unfinished col-xs-9">
					<div class="step-number step-number-unfinished">
						<p>2</p>
					</div>
					<p ng-if="steps[1] == 1" class="step-name step-name-unfinished">Date & Time</p>
					<p ng-if="steps[1] == 2" class="step-name step-name-unfinished">Party Details</p>
					<p ng-if="steps[1] == 3" class="step-name step-name-unfinished">Add-Ons</p>
					<p ng-if="steps[1] == 4" class="step-name step-name-unfinished">Host & GoH</p>
					<p ng-if="steps[1] == 5" class="step-name step-name-unfinished">Policies</p>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="col-xs-3 step-line">
					<hr class="step-line-inactive" ng-class="{'step-line-inactive': activeStepId < 3, 'step-line-inactive step-line-hr-grow': activeStepId == 3, 'step-line-active': activeStepId > 3}">
				</div>
				<div ng-if="activeStepId >= 3" class="step-card bg-primary col-xs-9" ng-class="{'step-card step-card-active-fade': activeStepId == 3, 'step-card': activeStepId != 3}">
					<div class="step-number step-number-finished">
						<p>3</p>
					</div>
					<p ng-if="steps[2] == 1" class="step-name step-name-finished">Date & Time</p>
					<p ng-if="steps[2] == 2" class="step-name step-name-finished">Party Details</p>
					<p ng-if="steps[2] == 3" class="step-name step-name-finished">Add-Ons</p>
					<p ng-if="steps[2] == 4" class="step-name step-name-finished">Host & GoH</p>
					<p ng-if="steps[2] == 5" class="step-name step-name-finished">Policies</p>
					<div ng-if="activeStepId == 3" class="step-arrow bg-primary"></div>
				</div>
				<div ng-if="activeStepId < 3" class="step-card step-card-unfinished col-xs-9">
					<div class="step-number step-number-unfinished">
						<p>3</p>
					</div>
					<p ng-if="steps[2] == 1" class="step-name step-name-unfinished">Date & Time</p>
					<p ng-if="steps[2] == 2" class="step-name step-name-unfinished">Party Details</p>
					<p ng-if="steps[2] == 3" class="step-name step-name-unfinished">Add-Ons</p>
					<p ng-if="steps[2] == 4" class="step-name step-name-unfinished">Host & GoH</p>
					<p ng-if="steps[2] == 5" class="step-name step-name-unfinished">Policies</p>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="col-xs-3 step-line">
					<hr class="step-line-inactive" ng-class="{'step-line-inactive': activeStepId < 4, 'step-line-inactive step-line-hr-grow': activeStepId == 4, 'step-line-active': activeStepId > 4}">
				</div>
				<div ng-if="activeStepId >= 4" class="step-card bg-primary col-xs-9" ng-class="{'step-card step-card-active-fade': activeStepId == 4, 'step-card': activeStepId != 4}">
					<div class="step-number step-number-finished">
						<p>4</p>
					</div>
					<p ng-if="steps[3] == 1" class="step-name step-name-finished">Date & Time</p>
					<p ng-if="steps[3] == 2" class="step-name step-name-finished">Party Details</p>
					<p ng-if="steps[3] == 3" class="step-name step-name-finished">Add-Ons</p>
					<p ng-if="steps[3] == 4" class="step-name step-name-finished">Host & GoH</p>
					<p ng-if="steps[3] == 5" class="step-name step-name-finished">Policies</p>
					<div ng-if="activeStepId == 4" class="step-arrow bg-primary"></div>
				</div>
				<div ng-if="activeStepId < 4" class="step-card step-card-unfinished col-xs-9">
					<div class="step-number step-number-unfinished">
						<p>4</p>
					</div>
					<p ng-if="steps[3] == 1" class="step-name step-name-unfinished">Date & Time</p>
					<p ng-if="steps[3] == 2" class="step-name step-name-unfinished">Party Details</p>
					<p ng-if="steps[3] == 3" class="step-name step-name-unfinished">Add-Ons</p>
					<p ng-if="steps[3] == 4" class="step-name step-name-unfinished">Host & GoH</p>
					<p ng-if="steps[3] == 5" class="step-name step-name-unfinished">Policies</p>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="col-xs-3 step-line">
					<hr class="step-line-inactive" ng-class="{'step-line-inactive': activeStepId < 5, 'step-line-inactive step-line-hr-grow': activeStepId == 5, 'step-line-active': activeStepId > 5}">
				</div>
				<div ng-if="activeStepId >= 5" class="step-card bg-primary col-xs-9" ng-class="{'step-card step-card-active-fade': activeStepId == 5, 'step-card': activeStepId != 5}">
					<div class="step-number step-number-finished">
						<p>5</p>
					</div>
					<p ng-if="steps[4] == 1" class="step-name step-name-finished">Date & Time</p>
					<p ng-if="steps[4] == 2" class="step-name step-name-finished">Party Details</p>
					<p ng-if="steps[4] == 3" class="step-name step-name-finished">Add-Ons</p>
					<p ng-if="steps[4] == 4" class="step-name step-name-finished">Host & GoH</p>
					<p ng-if="steps[4] == 5" class="step-name step-name-finished">Policies</p>
					<div ng-if="activeStepId == 5" class="step-arrow bg-primary"></div>
				</div>
				<div ng-if="activeStepId < 5" class="step-card step-card-unfinished col-xs-9">
					<div class="step-number step-number-unfinished">
						<p>5</p>
					</div>
					<p ng-if="steps[4] == 1" class="step-name step-name-unfinished">Date & Time</p>
					<p ng-if="steps[4] == 2" class="step-name step-name-unfinished">Party Details</p>
					<p ng-if="steps[4] == 3" class="step-name step-name-unfinished">Add-Ons</p>
					<p ng-if="steps[4] == 4" class="step-name step-name-unfinished">Host & GoH</p>
					<p ng-if="steps[4] == 5" class="step-name step-name-unfinished">Policies</p>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="col-xs-3 step-line">
					<hr class="step-line-inactive" ng-class="{'step-line-inactive': activeStepId < 6, 'step-line-inactive step-line-hr-grow': activeStepId == 6, 'step-line-active': activeStepId > 6}">
				</div>
				<div ng-if="activeStepId >= 6" class="step-card bg-primary col-xs-9" ng-class="{'step-card step-card-active-fade': activeStepId == 6, 'step-card': activeStepId != 6}">
					<div class="step-number step-number-finished">
						<p>6</p>
					</div>
					<p class="step-name step-name-finished">Confirm</p>
					<div ng-if="activeStepId == 6" class="step-arrow bg-primary"></div>
				</div>
				<div ng-if="activeStepId < 6" class="step-card step-card-unfinished col-xs-9">
					<div class="step-number step-number-unfinished">
						<p>6</p>
					</div>
					<p class="step-name step-name-unfinished">Confirm</p>
				</div>
			</div>
			<div class="col-xs-2 step-col both-line">
				<div class="steps-count col-xs-9 col-xs-offset-3">
					<p class="step-count-value">$500.00</p>
				</div>
			</div>
		</div>

		<!--visible xs-->
		<div class="col-xs-12 visible-xs p-l-20">
			<div class="step-number-xs step-number-finished-xs">
				<span>1</span>
			</div>
			<div ng-if="activeStepId < 2" class="step-number-xs step-number-unfinished">
				<span>2</span>
			</div>
			<div ng-if="activeStepId >= 2" class="step-number-xs step-number-finished-xs">
				<span>2</span>
			</div>
			<div ng-if="activeStepId < 3" class="step-number-xs step-number-unfinished">
				<span>3</span>
			</div>
			<div ng-if="activeStepId >= 3" class="step-number-xs step-number-finished-xs">
				<span>3</span>
			</div>
			<div ng-if="activeStepId < 4" class="step-number-xs step-number-unfinished">
				<span>4</span>
			</div>
			<div ng-if="activeStepId >= 4" class="step-number-xs step-number-finished-xs">
				<span>4</span>
			</div>
			<div ng-if="activeStepId < 5" class="step-number-xs step-number-unfinished">
				<span>5</span>
			</div>
			<div ng-if="activeStepId >= 5" class="step-number-xs step-number-finished-xs">
				<span>5</span>
			</div>
			<div ng-if="activeStepId < 6" class="step-number-xs step-number-unfinished">
				<span>6</span>
			</div>
			<div ng-if="activeStepId >= 6" class="step-number-xs step-number-finished-xs">
				<span>6</span>
			</div>
			<div class="steps-count-xs">
				<span class="step-count-value-xs">$500.00</span>
			</div>
		</div>
		<div class="col-xs-12 visible-xs p-l-20">
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == steps[0]">Date & Time</h4>
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == steps[1]">Party Details</h4>
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == steps[2]">Add-Ons</h4>
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == steps[3]">Host & GoH</h4>
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == steps[4]">Polices</h4>
			<h4 class="step-name-xs m-r-10" ng-if="activeStepId == 6">Confirm</h4>
		</div>
		<div ng-if="(steps[0] == 3 && activeStepId == 1) || (steps[1] == 3 && activeStepId == 2) || (steps[2] == 3 && activeStepId == 3) || (steps[3] == 3 && activeStepId == 4) || (steps[4] == 3 && activeStepId == 5)" class="col-xs-12 steps-padding-right p-l-60 podstep-container hidden-xs">
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div class="podstep bg-primary">
					<span>1</span>
				</div>
			</div>
			<div class="col-xs-1 both-line sub-step-col-xs">
				<div class="col-xs-12 both-line">
					<hr class="hr-podstep-inactive" ng-class="{'hr-podstep-inactive': activeSubStepId < 2, 'hr-podstep-inactive hr-podstep-grow': activeSubStepId == 2, 'hr-podstep-active': activeSubStepId > 2}">
				</div>
			</div>
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div ng-if="activeSubStepId >= 2" class="podstep bg-primary" ng-class="{'podstep bg-primary step-card-active-fade': activeSubStepId == 2, 'podstep bg-primary': activeSubStepId != 2}">
					<span>2</span>
				</div>
				<div ng-if="activeSubStepId < 2" class="podstep sub-step-unfinished">
					<span>2</span>
				</div>
			</div>
			<div class="col-xs-1 both-line sub-step-col-xs">
				<div class="col-xs-12 both-line">
					<hr class="hr-podstep-inactive" ng-class="{'hr-podstep-inactive': activeSubStepId < 3, 'hr-podstep-inactive hr-podstep-grow': activeSubStepId == 3, 'hr-podstep-active': activeSubStepId > 3}">
				</div>
			</div>
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div ng-if="activeSubStepId >= 3" class="podstep bg-primary" ng-class="{'podstep bg-primary step-card-active-fade': activeSubStepId == 3, 'podstep bg-primary': activeSubStepId != 3}">
					<span>3</span>
				</div>
				<div ng-if="activeSubStepId < 3" class="podstep sub-step-unfinished">
					<span>3</span>
				</div>
			</div>
		</div>

		<div ng-if="(steps[0] == 3 && activeStepId == 1) || (steps[1] == 3 && activeStepId == 2) || (steps[2] == 3 && activeStepId == 3) || (steps[3] == 3 && activeStepId == 4) || (steps[4] == 3 && activeStepId == 5)" class="col-xs-12 steps-padding-right podstep-container sub-steps-mobile-p-l visible-xs">
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div class="podstep bg-primary">
					<span>1</span>
				</div>
			</div>
			<div class="col-xs-1 both-line sub-step-col-xs">
				<div ng-if="activeSubStepId >= 2" class="col-xs-12 both-line hr-podstep">
					<hr>
				</div>
			</div>
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div ng-if="activeSubStepId >= 2" class="podstep bg-primary">
					<span>2</span>
				</div>
				<div ng-if="activeSubStepId < 2" class="podstep sub-step-unfinished">
					<span>2</span>
				</div>
			</div>
			<div class="col-xs-1 both-line sub-step-col-xs">
				<div ng-if="activeSubStepId >= 3" class="col-xs-12 both-line hr-podstep">
					<hr>
				</div>
			</div>
			<div class="col-xs-1 text-center sub-step-col-xs">
				<div ng-if="activeSubStepId >= 3" class="podstep bg-primary">
					<span>3</span>
				</div>
				<div ng-if="activeSubStepId < 3" class="podstep sub-step-unfinished">
					<span>3</span>
				</div>
			</div>
		</div>
		<div ng-if="(steps[0] == 3 && activeStepId == 1) || (steps[1] == 3 && activeStepId == 2) || (steps[2] == 3 && activeStepId == 3) || (steps[3] == 3 && activeStepId == 4) || (steps[4] == 3 && activeStepId == 5)" class="col-xs-12 both-line m-t-10 p-l-40 sub-steps-text-mobile-p-l">
			<div class="col-xs-1 text-center both-line sub-step-1-text sub-step-finished-text">
				<p>Foods & Drinks</p>
			</div>
			<div ng-if="activeSubStepId < 2" class="col-xs-1 text-center both-line sub-step-2-text sub-step-unfinished-text">
				<p>Sweets</p>
			</div>
			<div ng-if="activeSubStepId >= 2" class="col-xs-1 text-center both-line sub-step-2-text sub-step-finished-text">
				<p>Sweets</p>
			</div>
			<div ng-if="activeSubStepId < 3" class="col-xs-1 text-center both-line sub-step-3-text sub-step-unfinished-text">
				<p>Additional Fun</p>
			</div>
			<div ng-if="activeSubStepId >= 3" class="col-xs-1 text-center both-line sub-step-3-text sub-step-finished-text">
				<p>Additional Fun</p>
			</div>
		</div>
	</div>

	<!--step 1-->
	<div class="row box m-l-10 m-r-10" ng-if="(steps[0] == 1 && activeStepId == 1) || (steps[1] == 1 && activeStepId == 2) || (steps[2] == 1 && activeStepId == 3) || (steps[3] == 1 && activeStepId == 4) || (steps[4] == 1 && activeStepId == 5)">
		<div class="col-xs-12">
			<form class="m-t-10" role="form">
				<div pg-form-group class="form-group form-group-default form-group-default-select required">
					<label class="">SELECT/CHANGE PACKAGE</label>
					<ui-select ng-model="packageSelect" theme="bootstrap" ng-disabled="true">
						<ui-select-match placeholder="{{package.name}}"></ui-select-match>
						<ui-select-choices group-by="'country'" >
							<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
							<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
						</ui-select-choices>
					</ui-select>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<p><b>PICK A DATE</b></p>
				</div>
				<div class="col-xs-12 booking-event-datepicker">
					<div id="datepicker-embeded" ui-jq="datepicker" ui-options="dateOptions" ng-model="eventDate.date">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row m-r-5 m-l-5 m-b-5">
					<div class="col-xs-12">
					<p><b>AVAILABLE TIME SLOTS</b></p>
				</div>
				<div class="col-xs-12 availabile-bg">
					<div class="row">
						<div class="col-xs-12 available-title">
							<p><b>MORNING</b></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>11:00 PM - 12:30 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>11:30 PM - 1:00 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>1:00 PM - 2:30 PM</b></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 available-title">
							<p><b>AFTERNOON</b></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>12:00 PM - 1:30 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>2:00 PM - 3:30 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>3:30 PM - 4:30 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>4:30 PM - 6:30 PM</b></p>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="time-slots">
								<p><b>6:30 PM - 7:30 PM</b></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--step 2-->
	<div class="row box m-l-10 m-r-10" ng-if="(steps[0] == 2 && activeStepId == 1) || (steps[1] == 2 && activeStepId == 2) || (steps[2] == 2 && activeStepId == 3) || (steps[3] == 2 && activeStepId == 4) || (steps[4] == 2 && activeStepId == 5)">
		<div class="col-xs-12">
			<form class="m-t-10" role="form">
				<div pg-form-group class="form-group form-group-default form-group-default-select required">
					<label class="">ESTIMATED # OF CHILDREN</label>
					<ui-select ng-model="person.selected" theme="bootstrap">
						<ui-select-match placeholder="1">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
							<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
							<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
						</ui-select-choices>
					</ui-select>
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			<p><b>DIRECTARY RESTRICTIONS</b></p>
		</div>
		<div class="col-xs-12">
			<div class="row m-r-0 m-l-0 box-checkbox">
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox1">
						<label for="checkbox1">NONE</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox2">
						<label for="checkbox2">DAIRY ALERGY</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox3">
						<label for="checkbox3">GLUTEN FREE</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="1" id="checkbox4">
						<label for="checkbox4">PEANUT ALLERGY</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox5">
						<label for="checkbox5">ALL NUTS ALLERGY</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox6">
						<label for="checkbox6">NOT SURE (WILL CONFIRM SOON)</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="checkbox check-success  ">
						<input type="checkbox" checked="checked" value="0" id="checkbox7">
						<label for="checkbox7">OTHER</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 form-group m-t-10">
			<label for="description" class="textarea-step2 p-l-15 p-r-15">Notes & Special Requests</label>
			<textarea class="booking-textarea p-r-15 p-l-15" placeholder="Please let us know of any special requests or notes here" name="" id="description" ></textarea>
		</div>
		<div class="row p-l-15 p-r-15">
			<div class="col-xs-12 col-sm-4">
				<form class="m-t-10" role="form">
					<div pg-form-group class="form-group form-group-default form-group-default-select required">
						<label class="">Choice of Dessert</label>
						<ui-select ng-model="person.selected" theme="bootstrap">
							<ui-select-match placeholder="Marivle Cake">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
								<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
								<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<form class="m-t-10" role="form">
					<div pg-form-group class="form-group form-group-default form-group-default-select required">
						<label class="">How did you hear about us?</label>
						<ui-select ng-model="person.selected" theme="bootstrap">
							<ui-select-match placeholder="Google">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
								<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
								<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<form class="m-t-10" role="form">
					<div pg-form-group class="form-group form-group-default form-group-default-select required">
						<label class="">Complimentary Add-On</label>
						<ui-select ng-model="person.selected" theme="bootstrap">
							<ui-select-match placeholder="All Packages">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
								<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
								<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-6">
			<form role="form">
				<div class="form-group  form-group-default">
					<div class="col-md-10 p-l-0">
						<label>In need of a Spanish speaking party host? (will do our
							best to accommodate)</label>
						<label class="custom-label">No</label>
					</div>
					<div class="col-md-2 p-r-0">
						<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-6">
			<form role="form">
				<div class="form-group  form-group-default">
					<div class="col-md-10 p-l-0">
						<label>Lorem Ipsum is simply dummy text of the printing and
							typeset</label>
						<label class="custom-label">No</label>
					</div>
					<div class="col-md-2 p-r-0">
						<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-6"></div>
	</div>

	<!--step 3-->
	<div class="row box m-l-10 m-r-10" ng-if="(steps[0] == 3 && activeStepId == 1) || (steps[1] == 3 && activeStepId == 2) || (steps[2] == 3 && activeStepId == 3) || (steps[3] == 3 && activeStepId == 4) || (steps[4] == 3 && activeStepId == 5)">
		<div class="col-xs-1 text-center p-l-55 sub-step-col-xs">
			<div ng-if="activeSubStepId == 1" class="sub-step-arrow bg-primary"></div>
		</div>
		<div class="col-xs-1 both-line sub-step-col-xs"></div>
		<div class="col-xs-1 text-center p-l-40 sub-step-col-xs">
			<div ng-if="activeSubStepId == 2" class="sub-step-arrow bg-primary"></div>
		</div>
		<div class="col-xs-1 both-line sub-step-col-xs"></div>
		<div class="col-xs-1 text-center p-l-35 sub-step-col-xs">
			<div ng-if="activeSubStepId == 3" class="sub-step-arrow"></div>
		</div>
		<div ng-if="activeSubStepId == 1" class="col-xs-12 m-t-20">
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb1" />
	    			<label for="cb1">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img1.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
							<a class="addon-step-details" data-toggle="modal" data-target="#modalStepAddonDetails">Details</a>
		                    <div class="corner-ribbon top-left sticky red shadow">
		                    	<span>RECOMMENDED</span>
		                    </div>
						</div>
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb2" />
	    			<label for="cb2">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img2.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb3" />
	    			<label for="cb3">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img3.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
		</div>
		<div ng-if="activeSubStepId == 2" class="col-xs-12 m-t-20">
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb1" />
	    			<label for="cb1">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img1.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb2" />
	    			<label for="cb2">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img2.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb3" />
	    			<label for="cb3">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img3.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
		</div>
		<div ng-if="activeSubStepId == 3" class="col-xs-12 m-t-20">
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb1" />
	    			<label for="cb1">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img1.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb2" />
	    			<label for="cb2">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img2.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 center-block">
				<div class="checkable-square">
					<input type="checkbox" id="cb3" />
	    			<label for="cb3">
		    			<div class="square-step3">
							<img class="img-responsive" src="img/step3-img3.png">
					        <div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
		                        <button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
		                        <ul class="dropdown-menu ">
		                            <li><a href="">1</a>
		                            </li>
		                            <li><a href="">2</a>
		                            </li>
		                            <li><a href="">3</a>
		                            </li>
		                        </ul>
		                    </div>
		                    <span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
		                    <p class="addon-step-price">
		                    	$ 25.00
		                    </p>
						</div>
					</div>
				</label>
			</div>
		</div>
	</div>

	<!--step 4-->
	<div class="row box m-l-10 m-r-10" ng-if="(steps[0] == 4 && activeStepId == 1) || (steps[1] == 4 && activeStepId == 2) || (steps[2] == 4 && activeStepId == 3) || (steps[3] == 4 && activeStepId == 4) || (steps[4] == 4 && activeStepId == 5)">
		<div class="col-xs-12 m-t-20">
			<p class="step-title">Enter host information</p>
			<p class="step-description">Please provide information about the host who is in charge of organizing this event. Make sure email address is entered correctly.</p>
			<p class="step-description">A booking confirmation will be sent to this email. Enter the best contact number where the host can be reached on the day of the event.</p>
		</div>
		<div class="col-xs-12 m-t-20">
			<div class="row clearfix">
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
						<label>First name</label>
						<input type="text" class="form-control" name="firstName" ng-model="project_.firstName" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required ng-class="{ 'has-error' : project.lastname.$invalid && !project.lastname.$pristine }">
						<label>Last name</label>
						<input type="text" class="form-control" name="lastName">
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
						<label>Email</label>
						<input type="email" class="form-control" name="email" ng-model="project_.email" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
						<label>Contact Phone</label>
						<input type="text" class="form-control" name="contactPhone">
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default">
						<label>Ext</label>
						<input type="text" class="form-control" name="ext">
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-12">
					<div pg-form-group class="form-group form-group-default">
						<label>Mailing address</label>
						<input type="text" class="form-control" name="mAddress">
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default">
						<label>City</label>
						<input type="text" class="form-control" name="city">
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default form-group-default-select">
						<label class="">State</label>
						<ui-select ng-model="person.selected" theme="bootstrap">
							<ui-select-match placeholder="New York">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
								<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
								<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default">
						<label>Zip Code</label>
						<input type="text" class="form-control" name="zip">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 m-t-20">
			<p class="step-title">Enter birthday information</p>
			<p class="step-description">If you have 2 guests of honor, please enter information afor both of them.</p>
		</div>
		<div class="col-xs-12 m-t-20">
			<div class="row clearfix">
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
						<label>First name</label>
						<input type="text" class="form-control" name="firstName" ng-model="project_.firstName" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default required ng-class="{ 'has-error' : project.lastname.$invalid && !project.lastname.$pristine }">
						<label>Last name</label>
						<input type="text" class="form-control" name="lastName">
					</div>
				</div>
				<div class="col-sm-4">
					<div pg-form-group class="form-group form-group-default input-group">
						<label>Date of Birth</label>
						<input type="email" class="form-control" placeholder="Pick a date of birth" id="datepicker-component2" ui-jq="datepicker">
						<span class="input-group-addon">
						  	<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="row clearfix m-b-20">
				<div class="col-sm-4">
					<button data-toggle="modal" data-target="#modalStep2" class="btn btn-success btn-cons add-guest-btn">
						<span class="btn-text-left">ADD GUEST OF HONOR</span>
						<span class="btn-icon-right"><i class="fa fa-plus-circle"></i></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!--step 5-->
	<div class="row box m-l-10 m-r-10" ng-if="(steps[0] == 5 && activeStepId == 1) || (steps[1] == 5 && activeStepId == 2) || (steps[2] == 5 && activeStepId == 3) || (steps[3] == 5 && activeStepId == 4) || (steps[4] == 5 && activeStepId == 5)">
		<div class="col-xs-12 m-t-20">
			<p class="step-title">Police 3014</p>
			<div class="policies-text">
				<p class="step-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
				<p class="step-description m-t-20">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				<p class="step-description m-t-20">1914 translation by H. Rackham</p>
				<p class="step-description m-t-20">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
				<p class="step-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
				<p class="step-description m-t-20">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				<p class="step-description m-t-20">1914 translation by H. Rackham</p>
				<p class="step-description m-t-20">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
				<p class="step-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
				<p class="step-description m-t-20">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				<p class="step-description m-t-20">1914 translation by H. Rackham</p>
				<p class="step-description m-t-20">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
				<p class="step-description">- Lorem Ipsum has been</p>
			</div>
		</div>
		<div class="col-xs-12 m-t-30">
			<div class="row clearfix">
				<div class="col-xs-12">
					<div class="form-group form-group-default required">
						<div class="col-md-10 p-l-0">
							<label>i have read and agree to the above policies</label>
							<label class="custom-label">Yes</label>
						</div>
						<div class="col-md-2 p-r-10">
							<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-12">
					<div class="form-group form-group-default required">
						<div class="col-md-10 p-l-0">
							<label>Lorem Ipsum is simply dummy text of the printing</label>
							<label class="custom-label">Yes</label>
						</div>
						<div class="col-md-2 p-r-10">
							<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-12 m-b-20">
					<div class="form-group form-group-default required">
						<div class="col-md-10 p-l-0">
							<label>Lorem Ipsum is simply dummy text of the printing</label>
							<label class="custom-label">Yes</label>
						</div>
						<div class="col-md-2 p-r-10">
							<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--step 6-->
	<div class="row box m-l-10 m-r-10" ng-if="activeStepId == 6">
		<div class="col-xs-12 m-t-20">
			<div pg-portlet id="sub-portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
				<div class="panel-heading expandable-panel-heading">
					<div class="panel-title expandable-panel-title">EVENT INFORMATION</div>
					<div class="panel-controls">
						<ul>
							<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body expandable-panel-body p-t-20">
					<p class="expandable-body-label">Event Name: <span class="expandable-body-value">Eudora</span></p>
					<p class="expandable-body-label">Package Name: <span class="expandable-body-value">Adaline</span></p>
					<p class="expandable-body-label">Date: <span class="expandable-body-value">Sunday, May 28, 2017</span></p>
					<p class="expandable-body-label">Time: <span class="expandable-body-value">3:00 PM - 4:30 PM</span></p>
					<p class="expandable-body-label">Host: <span class="expandable-body-value">Marko</span></p>
					<p class="expandable-body-label">Estimated # of Children: <span class="expandable-body-value">12</span></p>
					<p class="expandable-body-label">Guest of Honor: <span class="expandable-body-value">Vasilli Antoniu</span></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div pg-portlet id="sub-portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
				<div class="panel-heading expandable-panel-heading">
					<div class="panel-title expandable-panel-title">PACKAGE INCLUSIONS</div>
					<div class="panel-controls">
						<ul>
							<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body expandable-panel-body p-t-20">
					<p class="expandable-body-label">Package description</p>
					<p class="expandable-body-value">-Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<!--<p class="expandable-body-label">Lorem Ipsum is:</p>-->
					<!--<p class="expandable-body-value">-Yes</p>-->
					<!--<p class="expandable-body-label">Lorem Ipsum is simply dummy text of the printing:</p>-->
					<!--<p class="expandable-body-value">-Yes</p>-->
					<!--<p class="expandable-body-label">Lorem Ipsum is simply dummy text of the printing:</p>-->
					<!--<p class="expandable-body-value">-Yes</p>-->
					<!--<p class="expandable-body-label">Lorem Ipsum is simply dummy text of the printing text of:</p>-->
					<!--<p class="expandable-body-value">-Yes</p>-->
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div pg-portlet id="sub-portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
				<div class="panel-heading expandable-panel-heading">
					<div class="panel-title expandable-panel-title">ORDER SUMMARY</div>
					<div class="panel-controls">
						<ul>
							<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body expandable-panel-body p-t-20 p-r-0 p-l-0">
					<div class="pricing-values p-r-20 p-l-20 p-b-20">
						<p class="expandable-body-label">Weekend & Holidays:</p>
						<p class="expandable-body-value">-Sunday, May 28, 2017 <span class="dollar-value">$515.00</span></p>
						<p class="expandable-body-label">Additional Guests:</p>
						<p class="expandable-body-value">-3 additional shildren (3x18.00$) <span class="dollar-value">$54.00</span></p>
						<p class="expandable-body-label">Additional items:</p>
						<p class="expandable-body-value">-Complimentary Chips & Salsa <span class="dollar-value">$230.00</span></p>
						<p class="expandable-body-label">Add-Ons and Extras:</p>
						<p class="expandable-body-value">-Mini Melts Ice Cream Room Rervice (11 x 3.00$) <span class="dollar-value">$09.00</span></p>
						<p class="expandable-body-value">-Amerisian Party Hero (3x5.00$) <span class="dollar-value">$15.00</span></p>
						<p class="expandable-body-value">-Fresh Crudite (2x25.00$) <span class="dollar-value">$50.00</span></p>
						<p class="expandable-body-value">-Baked Ziti 1/2 Tray (4x7.00$) <span class="dollar-value">$28.00</span></p>
					</div>
					<div class="pricing-values p-t-20 p-r-20 p-l-20 p-b-20">
						<div class="row">
							<div class="col-sm-offset-6 col-sm-6 col-md-offset-8 col-md-4">
								<p class="expandable-body-label">Subtotal: <span class="expandable-body-value dollar-value">$901.00</span></p>
								<p class="expandable-body-label">NYS Sales Tax (6.3424%): <span class="expandable-body-value dollar-value">$5.7144</span></p>
							</div>
						</div>
					</div>
					<div class="deposit p-t-20 p-r-20 p-l-20">
						<p class="expandable-body-deposit-label">Deposit due today <span class="dollar-value">$100.00</span></p>
						<p class="expandable-body-label">Balance due at the event <span class="expandable-body-value dollar-value">$795.28</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div pg-portlet id="sub-portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
				<div class="panel-heading expandable-panel-heading">
					<div class="panel-title expandable-panel-title">PAYMENT AND BILLING</div>
					<div class="panel-controls">
						<ul>
							<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body expandable-panel-body p-t-20">
					<div class="row clearfix">
						<div class="col-sm-4">
							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
								<label>Credit Card Number</label>
								<input type="password" class="form-control" name="email" ng-model="project_.email" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
							</div>
						</div>
						<div class="col-sm-4">
							<div pg-form-group class="form-group form-group-default required ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
								<label>Security Code</label>
								<input type="text" class="form-control" name="contactPhone">
							</div>
						</div>
						<div class="col-sm-4">
							<div pg-form-group class="form-group form-group-default required">
								<label>Expiration Date</label>
								<input type="text" class="form-control" name="ext">
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-sm-4">
							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : project.firstName.$invalid && !project.firstName.$pristine }">
								<label>Postal Code</label>
								<input type="text" class="form-control" name="email" ng-model="project_.postal" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
							</div>
						</div>
						<div class="col-sm-8">
							<img class="pull-right" src="img/visa.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row clearfix">
				<div class="col-xs-12">
					<p class="final-message">You will be changed <span class="final-value">$100.00</span> today.</p>
					<p class="terms-message">By clicking 'Complete booking', you agree to Birthday Master <span>'Terms of Use</span> and <span>Privacy Policy'</span></p>
				</div>
			</div>
			<div class="row clearfix m-t-10 m-b-30">
				<div class="col-xs-12">
					<button data-toggle="modal" data-target="#modalStep6" ng-click="startCompletedAnimation()" class="btn btn-primary btn-cons btn-complete-booking">Complete My Booking</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 m-t-20 m-b-20">
			<button ng-if="(activeStepId < 6 && activeSubStepId != 3)  || (activeStepId > step3 && activeStepId < 6)" class="btn btn-primary btn-cons m-b-10 m-r-10 pull-right" type="button" ng-click="nextStep()"><span class="bold">Next</span>
			</button>
			<button ng-if="activeSubStepId == 3 && ((steps[0] == 3 && activeStepId == 1) || (steps[1] == 3 && activeStepId == 2) || (steps[2] == 3 && activeStepId == 3) || (steps[3] == 3 && activeStepId == 4) || (steps[4] == 3 && activeStepId == 5))" class="btn btn-primary btn-cons m-b-10 m-r-10 pull-right" type="button" data-toggle="modal" data-target="#modalStep3"><span class="bold">Next</span>
			</button>
			<button ng-if="activeStepId > 1 || activeSubStepId > 1" class="btn btn-default btn-cons m-b-10 m-l-10 pull-left" type="button" ng-click="previousStep()"><span class="bold">Previous</span>
			</button>
		</div>
	</div>
</div>

<!-- Modal step 1-->
<!--<div class="modal fade slide-up disable-scroll" id="modalStep1" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">-->
	<!--<div class="modal-dialog ">-->
		<!--<div class="modal-content-wrapper">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header clearfix text-left">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
						<!--<i class="pg-close fs-14"></i>-->
					<!--</button>-->
					<!--<h5 class="p-l-15"><span class="semi-bold">Select/Change Package</span></h5>-->
					<!--<p class="p-l-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div data-interval="false" class="carousel slide custom-carousel booking-carousel" data-ride="carousel">-->
						<!--&lt;!&ndash; Indicators &ndash;&gt;-->
						<!--<ol class="carousel-indicators">-->
							<!--<li data-target=".booking-carousel" data-slide-to="0" class="active"></li>-->
							<!--<li data-target=".booking-carousel" data-slide-to="1"></li>-->
							<!--&lt;!&ndash; <li data-target=".booking-carousel" data-slide-to="2"></li> &ndash;&gt;-->
						<!--</ol>-->

						<!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
						<!--<div class="carousel-inner" role="listbox">-->
							<!--<div class="item active">-->
								<!--<div class="row m-l-10 m-r-10">-->
									<!--<div class="col-md-3 image-padding" ng-repeat="i in packages.package_options track by $index">-->
										<!--{{i.name}}-->
										<!--<div class="boxes-style">-->
											<!--<label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBoxOption[$index].active}">-->
												<!--<div class="checkbox-circle">-->
													<!--<i class="fa fa-check" aria-hidden="true"></i>-->
													<!--<input hidden ng-click="makeCheckboxActive($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option 1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>-->
												<!--</div>-->
											<!--</label>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--&lt;!&ndash;<img src="..." alt="...">&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
									<!--&lt;!&ndash;...&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--</div>-->
							<!--<div class="item">-->
								<!--<div class="row m-l-10 m-r-10">-->
									<!--<div class="col-md-3 image-padding" ng-repeat="i in getNumber(numbersOfOptions) track by $index">-->
										<!--<div class="boxes-style">-->
											<!--<label for="box2+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBoxOption2[$index].active}">-->
												<!--<div class="checkbox-circle">-->
													<!--<i class="fa fa-check" aria-hidden="true"></i>-->
													<!--<input hidden ng-click="makeCheckboxActive2($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option 1" id="box2+{{$index}}"><label for="box2+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>-->
												<!--</div>-->
											<!--</label>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->

						<!--&lt;!&ndash; Controls &ndash;&gt;-->
						<!--<a class="left carousel-control" href=".booking-carousel" role="button" data-slide="prev">-->
							<!--<i class="fa fa-angle-left arrow-carousel" aria-hidden="true"></i>-->
							<!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&ndash;&gt;-->
							<!--<span class="sr-only">Previous</span>-->
						<!--</a>-->
						<!--<a class="right carousel-control" href=".booking-carousel" role="button" data-slide="next">-->
							<!--<i class="fa fa-angle-right arrow-carousel" aria-hidden="true"></i>-->
							<!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&ndash;&gt;-->
							<!--<span class="sr-only">Next</span>-->
						<!--</a>-->
					<!--</div>-->
					<!--<div class="row btn-position">-->
						<!--<button class="btn btn-primary btn-cons">Save</button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
	<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- /.modal-dialog -->

<!--Modal step 3-->
<div class="modal fade slide-up disable-scroll" id="modalStep3" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog ">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<h5><span class="semi-bold">Hey, you forgot choose some awesome add ons!</span></h5>
					<p>Quickly pick up some of recommended products.</p>
				</div>
				<div class="modal-body">
					<div data-interval="false" class="carousel slide custom-carousel booking-carousel" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target=".booking-carousel" data-slide-to="0" class="active"></li>
							<li data-target=".booking-carousel" data-slide-to="1"></li>
							<!-- <li data-target=".booking-carousel" data-slide-to="2"></li> -->
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb4" />
										<label for="cb4">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb5" />
										<label for="cb5">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb6" />
										<label for="cb6">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb7" />
										<label for="cb7">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb8" />
										<label for="cb8">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="checkable-square">
										<input type="checkbox" id="cb9" />
										<label for="cb9">
											<div class="square-step3">
												<img class="img-responsive" src="img/step3-img1.png">
												<div class="btn-group dropdown-default step3-dropdown" pg-dropdown>
													<button class="btn dropdown-toggle" data-toggle="dropdown"> 1 <span class="caret"></span> </button>
													<ul class="dropdown-menu">
														<li><a href="">1</a>
														</li>
														<li><a href="">2</a>
														</li>
														<li><a href="">3</a>
														</li>
													</ul>
												</div>
												<span class="addon-step-title">American Party Hero (per foot. 3 ft. min)</span>
												<p class="addon-step-price">
													$ 25.00
												</p>
												<div class="corner-ribbon top-left sticky red shadow">
													<span>RECOMMENDED</span>
												</div>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href=".booking-carousel" role="button" data-slide="prev">
							<i class="fa fa-angle-left arrow-carousel" aria-hidden="true"></i>
							<!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href=".booking-carousel" role="button" data-slide="next">
							<i class="fa fa-angle-right arrow-carousel" aria-hidden="true"></i>
							<!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="row btn-position">
						<button class="btn btn-primary btn-cons" ng-click="nextStep()" data-dismiss="modal">Continue</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!-- /.modal-dialog -->
<!--modal step 3 end-->

<!--Modal step 4-->
<div class="modal fade slide-up disable-scroll" id="modalStep2" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog ">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<h5><span class="semi-bold">Add guest of honor</span></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="modal-body">
					<form role="form" class="ng-pristine ng-valid">
						<div class="form-group-attached">
							<div class="row">
								<div class="col-sm-12">
									<div pg-form-group="" class="form-group form-group-default">
										<label>First Name</label>
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<div pg-form-group="" class="form-group form-group-default">
										<label>Last Name</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-sm-4">
									<div pg-form-group="" class="form-group form-group-default">
										<label>Date of Birth</label>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-sm-8">
							<!--<div class="p-t-20 clearfix p-l-10 p-r-10">-->
								<!--<div class="pull-left">-->
									<!--<p class="bold font-montserrat text-uppercase">TOTAL</p>-->
								<!--</div>-->
								<!--<div class="pull-right">-->
									<!--<p class="bold font-montserrat text-uppercase">$20.00</p>-->
								<!--</div>-->
							<!--</div>-->
						</div>
						<div class="col-sm-4 m-t-10 sm-m-t-10">
							<button type="button" class="btn btn-primary btn-block m-t-5">Add guest of honor</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!-- /.modal-dialog -->
<!--modal step 4 end-->

<!--Modal step 6-->
<div class="modal fade slide-up disable-scroll" id="modalStep6" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog modal-step-6-dialog">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
				</div>
				<div class="modal-body modal-step-6-body">
					<div class="progress-percentage-wrapper">
						<div class="progress-percentage ng-cloak"><img src="img/check.png" /></div>
						<round-progress
								max="100"
								current="current"
								color="#6f5eb0"
								bgcolor="#ffffff"
								radius="50"
								stroke="5"
								semi="false"
								rounded="true"
								clockwise="true"
								responsive="false"
								duration="800"
								animation="easeOutCubic"
								animation-delay="0"></round-progress>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal addon details-->
<div class="modal fade slide-up disable-scroll" id="modalStepAddonDetails" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog ">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<h5 class="m-b-0"><span class="semi-bold">American Party Hero (per foot. 3 ft. min)</span></h5>
					<p>Recommended</p>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="ar-1-1 image-modal">

							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-10 p-l-0">
									<!--<p class="recommended-modal">Recommended</p>-->
									<!--<p class="title-modal">Title go here</p>-->
									<p class="price-modal">$ 25.00</p>
								</div>
								<!--<div class="col-md-2">-->
									<!--<p class="price-modal">$ 25.00</p>-->
								<!--</div>-->
							</div>
							<div class="row">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!-- /.modal-dialog -->
<!--modal addon details end-->