/*.custom-bar-visible:hover {*/
    /*transform: translate(210px, 0px);*/
/*}*/
.font-logo-menu {
    font-weight: 700!important;
}
.body-align {
    text-align: -webkit-center;
    padding-top: 20px!important;
}
.add-package {
    color: #ffffff;
}
.plus-box {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.title-card {
    margin: 0!important;
    line-height: 15px!important;
    font-size: 15px!important;
    font-weight: 500!important;
    color: #ffffff;
}
.custom-color {
    color: #ffffff;
}
.float-r {
    float: right;
}
.cursor-style {
    cursor: pointer;
}
.custom-dropdown {
    margin: 0!important;
    padding-bottom: 5px!important;
}
.input-group-addon-custom {
    background-color: #ffffff!important;
}
/*BUTTONS TILES*/
.button-edit {
    min-width: 90px;
    margin-left: 20px;
}
.button-delete {
    min-width: 90px;
    margin-right: 20px;
    background: transparent;
    border: 1px solid #ffffff!important;
    color: #ffffff;
}
.button-delete:hover {
    color: #6d5cae;
    font-weight: 500;
}
/*HOVER TIELS*/
.gradient{
    transition: 0.5s;
}
.button-hover {
    display: none;
}
.tile-hover:hover .button-hover {
    display: block;
    /*z-index: 999999!important;*/
    position: absolute;
    bottom: 20px;
}
.gradient:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.gradient:hover .tile-description {
    display: block;
    color: #ffffff;
}
.image {
    /*background:url('../../../../../img/1.png') center no-repeat;*/
    background-size: cover;
    position: relative;
}
.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(35%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
}
.custom-panel-title {
    color: #ffffff;
}
.tile-description {
    display: none;
}
