<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                        <span class="input-group-addon input-group-addon-custom">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                    <input type="text" placeholder="Search packages" class="form-control" ng-model="querry" ng-change="search(null,querry)" ng-model-options="{debounce: 700}">
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<form class="" role="form">-->
                    <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown">-->
                        <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                            <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                            <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div ng-class="{'row m-t-10 animated':true, 'bounceOutLeft':disableSlideLeftBack, 'bounceInLeft':disableSlideLeft, 'bounceInRight':disableSlideRight, 'bounceOutRight':disableSlideRightBack}">
            <div class="col-sm-3 m-b-10">
                <div class="ar-1-1">
                    <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin cursor-style" ui-sref="side_menu.new_package">
                        <div class="panel-heading">
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <!--<a data-toggle="refresh" class="portlet-refresh text-black" href="#">-->
                                            <!--<i class="portlet-icon portlet-icon-refresh-lg-white"></i>-->
                                            <!--&lt;!&ndash;<i class="fa fa-circle-o" aria-hidden="true"></i>&ndash;&gt;-->
                                        <!--</a>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body body-align">
                            <div class="plus-box">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <h1 class="add-package">Add Package</h1>
                            <p>Create a new package</p>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="packages.data.length == 0">No results found</p>
                <div class="col-sm-3 m-b-10" ng-repeat="package in packages.data track by $index">
                    <div class="ar-1-1">
                        <div pg-portlet ng-style="{'background-image':'url({{baseUrlPagination}}/{{package.images[0].path}})'}" id="portlet-linear" class="panel panel-default tile-hover image" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                            <div class="gradient">
                                <div class="row panel-heading">
                                    <div class="col-md-10">
                                        <div class="panel-title custom-panel-title">{{package.name | limitTo:30}}{{package.name.length > 30 ? '...' : ''}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="panel-controls">
                                            <ul>
                                                <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-arrow"></i></a>
                                                </li>
                                                <!--<li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                                                <!--</li>-->
                                                <!--<li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <!--<h3>-->
                                    <!--<span class="semi-bold">Linear</span> Progress-->
                                    <!--</h3>-->
                                    <p class="body-add-on tile-description">{{package.description | limitTo:170}}{{package.description.length > 170 ? '...' : ''}}
                                    </p>
                                    <button class="btn btn-primary button-edit button-hover bottom-left" ui-sref="side_menu.edit_package({id: package.id})">Edit</button>
                                    <button class="btn button-delete button-hover bottom-right" type="button" ng-click="deletePackage(package.id,$index)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- <div class="col-sm-3 m-b-10">
                <div class="ar-1-1">
                    <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div> -->

            <!-- PAGINACIJA KOJA SE MENJA -->
            <!--<ul class="pagination pull-right">-->
                <!--<li><a class="custom-color-pagination" href="" ng-click="firstPagePackages()">1</a></li>-->
                <!--<li><a class="custom-color-pagination" href="" ng-click="secondPagePackages()">2</a></li>-->
            <!--</ul>-->
        </div>
        <div ng-show="packages!=null">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" ng-change="paginate()" items-per-page="maxSize">
            </ul>
        </div>
    </div>
    <div class="col-md-2" ng-if="viewMoreActivePackages">
        <div class="row custom-loader">
            <a class="custom-style-view-more" ng-click="loadMorePackages(nextPageUrl)">Load more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            <!-- LOADER!!!!!!!!!!!!!!! -->
            <!-- <div class="progress-circle-indeterminate"></div> -->
        </div>
        <!--<input class="progress-circle" ui-jq="circularProgress" value="75" type="hidden" data-color="complete">-->
    </div>
</div>