<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
        <div class="panel-heading ">
            <div class="panel-title">CREATE EVENT
            </div>
            <div class="panel-controls">
                <ul>
                    <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                    </li>
                    <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <form role="form" name="personal1">
                <div class="row">
                    <div pg-form-group class="form-group form-group-default form-group-default-select required">
                        <label class="">SELECT PACKAGE</label>
                        <ui-select on-select="onSelected($item)" ng-model="event.package" theme="bootstrap" ng-change="setPackageSelectedToTrue()">
                            <ui-select-match placeholder="Select Package">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in packages.data | filter: $select.search">
                                <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <p ng-show="packageSelected" ng-if="packageOptions.length > 0">CHOOSE OPTIONS</p>
                <p ng-if="!hasOptions">THERE IS NO OPTION FOR THIS PACKAGE</p>
                <div ng-show="packageSelected" class="row row-margin2 m-b-15">
                <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="i in getNumber(numbersOfOptions) track by $index">
                        <div class="boxes-style">
                            <div class="option-name">
                                <span>{{activeCheckBoxOption[$index].name|limitTo:10}}</span>
                            </div>
                            <label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBoxOption[$index].active}">
                                <div class="checkbox-circle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <input hidden ng-click="makeCheckBoxChange($index)" class="custom-checkbox" type="checkbox" name="checkbox1" ng-checked="activeCheckBoxOption[$index].active" value="Option1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>

                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                    <div class="row" ng-show="optionsSelected">
                    
                        <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal1.addonname.$invalid && !personal1.addonname.$pristine }">
                            <label>EVENT NAME</label>
                            <input type="text" name="addonname" ng-model="event.name" ng-change="setEventNameDirtyToTrue()" placeholder="Enter name for event" class="form-control" required>
                        </div>
                    </div>
                <div class="row" ng-show="eventNameDirty">
                    <!--<div class="panel-heading summernote-padding-left">-->
                        <!--<div class="panel-title summernote-font-size">-->
                            <!--EVENT DESCRIPTION-->
                        <!--</div>-->
                    <!--</div>-->
                <div pg-form-group class="form-group form-group-default reauired-desc required">
                    <p>EVENT DESCRIPTION</p>
                </div>
                    <div class="no-scroll">
                        <div class="summernote-wrapper">
                            <div id="summernote" config="summernote_options" ng-model="event.description" on-focus="focus(evt)" on-blur="blur(evt)" summernote ng-change="setEventDescDirtyToTrue()" required="true"></div>
                        </div>
                    </div>
                </div>
                <p ng-show="eventDescDirty" class="m-t-10">ORDER OF STEPS</p>
                <!-- Odavde kopiraj -->
                <!-- <ul dnd-list="containers"
                    dnd-allowed-types="['container']"
                    dnd-external-sources="true"
                    dnd-dragover="dragoverCallback(index, external, type, callback)"
                    dnd-drop="dropCallback(index, item, external, type)"> -->
                <!-- <li ng-repeat="container in containers"
                    dnd-draggable="container"
                    dnd-type="'container'"
                    dnd-effect-allowed="copyMove"
                    dnd-moved="containers.splice($index, 1)"
                    dnd-callback="container.items.length"> -->
                <div ng-show="eventDescDirty" class="box box-blue">
                    <!-- <h3>Container (effects allowed: {{container.effectAllowed}})</h3> -->
                    <ul dnd-list="container.items"
                        dnd-allowed-types="['item']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        dnd-effect-allowed="{{container.effectAllowed}}"
                        dnd-dragover="dragoverCallback(index, external, type)"
                        dnd-drop="dropCallback(index, item, external, type)"
                        dnd-inserted="logListEvent('inserted at', index, external, type)"
                        class="itemlist row">
                        <li class="col-md-2" ng-repeat="item in container.items"
                            dnd-draggable="item"
                            dnd-type="'item'"
                            dnd-effect-allowed="{{item.effectAllowed}}"
                            dnd-dragstart="logEvent('Started to drag an item')"
                            dnd-moved="container.items.splice($index, 1)"
                            dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <div class="draggable-circuit">
                                        <i class="fa fa-arrows" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!--<div class="fav-icon">-->
                                        <!--<i class="fa fa-star-o" aria-hidden="true"></i>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 desc-box">
                                    {{item.label}}
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </li>
                        <li class="col-md-2">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <div class="draggable-circuit">
                                        <i class="fa fa-arrows" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!--<div class="fav-icon">-->
                                        <!--<i class="fa fa-star-o" aria-hidden="true"></i>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 desc-box">
                                    Confirm
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
        
                <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')" ng-if="eventDescDirty" ng-repeat="i in getNumber(numOfQuestions) track by $index">
                    <div class="panel-heading ">
                        <div class="panel-title">ADD QUESTION TO USERS
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group form-group-default form-group-default-select col-xs-12">
                                <label>{{$index+1}}) Question</label>
                                <input type="text" name="addonname" ng-model="questions[$index].question" placeholder="Enter your Question here" class="form-control">
                            </div>
                        </div>
                        <div class="row m-b-5">
                            <div class="col-xs-12 form-group form-group-default form-group-default-select " >
                                <label class="">SELECT TYPE</label>
                                <ui-select theme="bootstrap" ng-change="resetDropDown($index)" ng-model="questions[$index].typeOfQuestion" >
                                    <ui-select-match placeholder="Type of Question">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in questionOptions | filter: $select.search">
                                        <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                        <small ng-bind-html="trustAsHtml((item.description | highlight: $select.search))"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-12">
                                <div ng-if="questions[$index].typeOfQuestion.name=='Text'">
                                    <div class="row" >
                                        <div class="col-md-4">
                                            <label>User will have free will of answering the question.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div ng-if="questions[$index].typeOfQuestion.name=='Checkbox'">
                                    <div class="row option-row">
                                        <div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="i in getNumber(questions[$parent.$index].numOfOptions) track by $index">
                                            <div class="col-md-12 form-group form-group-default form-group-default-select">
                                                <label class="p-l-5">{{$index+1}}) Option</label>
                                                 <input type="text" name="addonname" ng-model="questions[$parent.$index].options[$index].answer" placeholder="Enter option of Question here" class="form-control p-l-5">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row option-row" >
                                        <div class="col-md-4">
                                            <button class="btn btn-primary btn-cons option-button" ng-click="addMoreOptions($parent.$index)">Add more options</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div ng-if="questions[$index].typeOfQuestion.name=='Dropdown'">
                                    <div class="row option-row">
                                        <div class="col-md-4" ng-repeat="i in getNumber(questions[$parent.$index].numOfOptionsDropDown) track by $index">
                                            <div class="col-md-12 form-group form-group-default form-group-default-select">
                                                <label class="p-l-5">{{$index+1}}) Option</label>
                                                 <input type="text" name="addonname" ng-model="questions[$parent.$index].options[$index].answer" placeholder="Enter option of Question here" class="form-control p-l-5">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row option-row">
                                        <div class="col-md-4">
                                            <button class="btn btn-primary btn-cons option-button" ng-click="addMoreOptionsDropDown($parent.$index)">Add more options</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-l-5" ng-if="eventDescDirty">
                    <button class="btn btn-primary btn-cons" ng-click="addMoreQuestions()">Add more question</button>
                </div>
                <div class="row btn-position">
                    <button class="btn btn-primary btn-cons" ng-click="addEvent()" ng-disabled="!personal1.$valid">Save</button>
                    <button class="btn btn-default btn-cons" ui-sref="side_menu.add_ons">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
