<body class="fixed-header ">
<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <h1 class="font-logo-register p-r-5 p-l-5">booking</h1>
                <!--<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">-->
                <h3 class="p-r-5 p-l-5">Pages makes it easy to enjoy what matters the most in your life</h3>
                <p class="p-r-5 p-l-5">
                    <small>
                        Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
                    </small>
                </p>
                <form id="form-register" name="personal" class="p-t-15" role="form" action="index.html" novalidate>
                    <div class="row">
                        <div class="col-sm-6 no-padding p-r-5 p-l-5">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal.fname.$invalid && !personal.fname.$pristine }">
                                <label>First Name</label>
                                <input type="text" name="fname" ng-model="user.firstname" placeholder="John" class="form-control" required>
                            </div>
                            <label class="error" for="fname" ng-if="personal.fname.$invalid && !personal.fname.$pristine">This field is required.</label>
                        </div>
                        <div class="col-sm-6 no-padding p-r-5 p-l-5">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal.lname.$invalid && !personal.lname.$pristine }">
                                <label>Last Name</label>
                                <input type="text" name="lname" ng-model="user.lastname" placeholder="Smith" class="form-control" required>
                            </div>
                            <label class="error" for="lname" ng-if="personal.lname.$invalid && !personal.lname.$pristine">This field is required.</label>
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-sm-10 no-padding">-->
                            <!--<div class="form-group form-group-default custom-style">-->
                                <!--<label>Pages User name</label>-->
                                <!--<input type="text" name="uname" placeholder="yourname.pages.com (this can be changed later)" class="form-control" required>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2 custom-box">-->
                            <!--<div class="box-font-style">.pages.com</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-sm-12 no-padding p-r-5 p-l-5">
                                <div class="form-group form-group-default required" ng-class="{ 'has-error' : personal.pass.$invalid && !personal.pass.$pristine }">
                                    <label>booking username</label>
                                    <input ng-change="checkForExistingUser()" ng-model-options="{debounce:1000}" type="text" class="form-control" name="pages" placeholder="yourname.pages.com (this can be changed later)" ng-model="user.username" required>
                                </div>
                                <label class="error" for="pages" ng-if="personal.pages.$invalid && !personal.pages.$pristine">This field is required.</label>
                                <label class="error" for="pages" ng-if="usernameExist">Username already exist.</label>
                            </div>
                        </div>
                        <!--<div pg-form-group class="form-group form-group-default input-group required col-sm-12" ng-class="{ 'has-error' : personal.pages.$invalid && !personal.pages.$pristine }">-->
                            <!--<label>booking username</label>-->
                            <!--<input ng-change="checkForExistingUser()" ng-model-options="{debounce:1000}" type="text" class="form-control" name="pages" placeholder="yourname.pages.com (this can be changed later)" ng-model="user.username" required>-->
                        <!--</div>-->
                        <!--<label class="error" for="pages" ng-if="personal.pages.$invalid && !personal.pages.$pristine">This field is required.</label>-->
                        <!--<label class="error" for="pages" ng-if="usernameExist">Username already exist.</label>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-sm-12 no-padding p-r-5 p-l-5">
                            <div class="form-group form-group-default required" ng-class="{ 'has-error' : personal.pass.$invalid && !personal.pass.$pristine }">
                                <label>Password</label>
                                <input type="password" ng-model="user.password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" required>
                            </div>
                            <label class="error" for="pass" ng-if="personal.pass.$invalid && !personal.pass.$pristine">This field is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding p-r-5 p-l-5">
                            <div class="form-group form-group-default required" ng-class="{ 'has-error' : personal.email.$invalid && !personal.email.$pristine }">
                                <label>Email</label>
                                <input ng-change="checkForExistingUser()" ng-model-options="{debounce:1000}" type="email" ng-model="user.mail" name="email" placeholder="We will send loging details to you" class="form-control" required>
                            </div>
                            <label class="error" for="email" ng-if="personal.email.$invalid && !personal.email.$pristine">This email is invalid.</label>
                            <label class="error" ng-if="emailExist">Email already in use.</label>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-6 p-r-5 p-l-5">
                            <p>I agree to the <a href="/#!/terms" class="text-info small font-color">booking Terms</a> and <a href="/#!/policy" class="text-info small font-color">Privacy</a>.</p>
                        </div>
                        <div class="col-md-6 text-right p-r-5 p-l-5">
                            <a href="#" class="text-info small font-color">Help? Contact Support</a>
                        </div>
                    </div>
                    <div class="p-r-5 p-l-5">
                        <button class="btn btn-primary btn-cons m-t-10" type="button" ng-disabled="!personal.$valid" ng-click="registerUser()">Create a new account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class=" full-width">
    <div class="register-container m-b-10 clearfix">
        <!--<div class="inline pull-left">-->
            <!--<img src="assets/img/demo/pages_icon.png" alt="" class="m-t-5 " data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" width="60" height="60">-->
        <!--</div>-->
        <!--<div class="col-md-10 m-t-15">-->
            <!--<p class="hinted-text small inline ">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>-->
        <!--</div>-->
    </div>
</div>
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            <img class="overlay-brand" src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="#" class="close-icon-light overlay-close text-black fs-16">
                <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Controls !-->
            <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
            <br>
            <div class="inline-block">
                <div class="checkbox right">
                    <input id="checkboxn" type="checkbox" value="1" checked="checked">
                    <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
                </div>
            </div>
            <div class="inline-block m-l-10">
                <p class="fs-13">Press enter to search</p>
            </div>
            <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
        <div class="container-fluid">
          <span>
                <strong>suggestions :</strong>
            </span>
            <span id="overlay-suggestions"></span>
            <br>
            <div class="search-results m-t-40">
                <p class="bold">Pages Search Results</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>
                                    <img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
                                <p class="hint-text">via john smith</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>T</div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
                                <p class="hint-text">via pages</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div><i class="fa fa-headphones large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
                                <p class="hint-text">via pagesmix</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                                <div><i class="fa fa-facebook large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
                                <p class="hint-text">via facebook</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                                <div><i class="fa fa-twitter large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via twitter</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                                <div><i class="fa fa-google-plus large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via google plus</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
<!--<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>-->
<!--<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>-->
<!--<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>-->
<!--<script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>-->
<!-- END VENDOR JS -->
<!--<script src="pages/js/pages.min.js"></script>-->
<!--<script>-->
    <!--$(function()-->
    <!--{-->
        <!--$('#form-register').validate()-->
    <!--})-->
<!--</script>-->
</body>