.font-color {
    color: #1791d6!important;
}
.font-logo-register {
    font-weight: 700;
}
.custom-box {
    background-color: #f0f0f0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.custom-style {
    padding-right: 0px!important;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
.box-font-style {
    color: #626262;
}