<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <form name="scheduledForm">
        <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
            <div class="panel-heading ">
                <div class="panel-title">CREATE A SCHEDULE BLOCK
                </div>
                <div class="panel-controls">
                    <ul>
                        <!--<li>-->
                        <!--<div class="dropdown">-->
                        <!--<a id="portlet-settings" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">-->
                        <!--<i class="portlet-icon portlet-icon-settings "></i>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="portlet-settings">-->
                        <!--<li><a>API</a>-->
                        <!--</li>-->
                        <!--<li><a>Preferences</a>-->
                        <!--</li>-->
                        <!--<li><a>About</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</li>-->
                        <!--<li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="" data-toggle="refresh" class="portlet-refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                        <!--</li>-->
                        <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                        </li>
                        <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="first-box">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox1" ng-model="scheduledBlock.days.workingDays.mon">
                                    <label class="custom-label" for="checkbox1"></label>
                                </div>
                                <p class="days-style">MONDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox2" ng-model="scheduledBlock.days.workingDays.tue">
                                    <label class="custom-label" for="checkbox2"></label>
                                </div>
                                <p>TUESDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox3" ng-model="scheduledBlock.days.workingDays.wed">
                                    <label class="custom-label" for="checkbox3"></label>
                                </div>
                                <p>WEDNESDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox4" ng-model="scheduledBlock.days.workingDays.thu">
                                    <label class="custom-label" for="checkbox4"></label>
                                </div>
                                <p>THURSDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox5" ng-model="scheduledBlock.days.workingDays.fri">
                                    <label class="custom-label" for="checkbox5"></label>
                                </div>
                                <p>FRIDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox6" ng-model="scheduledBlock.days.weekend.sat">
                                    <label class="custom-label" for="checkbox6"></label>
                                </div>
                                <p>SATURDAY</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                <div class="checkbox check-success custom-chackbox-position">
                                    <input type="checkbox"  value="1" id="checkbox7" ng-model="scheduledBlock.days.weekend.sun">
                                    <label class="custom-label" for="checkbox7"></label>
                                </div>
                                <p>SUNDAY</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 no-padding">
                        <!-- <div pg-form-group class="form-group form-group-default input-group col-sm-10 input-width" ui-jq="datepicker">
                            <label>PERIOD FROM</label>
                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2" ng-model="scheduledBlock.from">
                            <span style="cursor: pointer;" class="input-group-addon">
                                                      <i class="fa fa-calendar"></i>
                                                    </span>
                        </div> -->
                        <label>PERIOD FROM</label>
                        <div pg-form-group class="input-group date" ui-jq="datepicker">
                            <input type="text" class="form-control" ng-model="scheduledBlock.from" required="true"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4 custom-padding2">
                        <!-- <div pg-form-group class="form-group form-group-default input-group col-sm-10 input-width custom-bg">
                            <label>PERIOD TO</label>
                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component3" ui-jq="datepicker" ng-model="scheduledBlock.to">
                            <span style="cursor: pointer;" class="input-group-addon">
                                                      <i class="fa fa-calendar"></i>
                                                    </span>
                        </div> -->
                        <label>PERIOD TO</label>
                        <div pg-form-group class="input-group date" ui-jq="datepicker">
                            <input type="text" class="form-control" ng-model="scheduledBlock.to" required="true"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row row-margin2">
                    <div class="col-md-4 no-padding">
                        <div pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label class="">FIRST PARTY START TIME</label>
                            <ui-select ng-model="scheduledBlock.start" theme="bootstrap" required="true">
                                <ui-select-match placeholder="Please select">{{$select.selected.start}}<span class="custom-color"></span></ui-select-match>
                                <ui-select-choices group-by="'country'" repeat="start in from | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((start.start | highlight: $select.search))"></span>
                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 custom-padding2">
                        <div pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label class="">LAST PARTY START TIME</label>
                            <ui-select ng-model="scheduledBlock.end" theme="bootstrap" required="true">
                                <ui-select-match placeholder="Please select">{{$select.selected.end}}<span class="custom-color"></span></ui-select-match>
                                <ui-select-choices group-by="'country'" repeat="end in to | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((end.end | highlight: $select.search))"></span>
                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 custom-padding">
                        <div pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label class="">INTERVAL</label>
                            <ui-select ng-model="scheduledBlock.interval" theme="bootstrap" required="true">
                                <ui-select-match placeholder="Please select">{{$select.selected.interval}} <span class="custom-color"></span></ui-select-match>
                                <ui-select-choices group-by="'country'" repeat="interval in inter | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((interval.interval | highlight: $select.search))"></span>
                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row row-margin2">
                    <div class="col-md-4 no-padding">
                        <div pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label class="">#CONSECUTIVES</label>
                            <ui-select ng-model="scheduledBlock.consecutives" theme="bootstrap" required="true">
                                <ui-select-match placeholder="Please select">{{$select.selected.number}} <span class="custom-color"></span></ui-select-match>
                                <ui-select-choices group-by="'country'" repeat="item in consecutives | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((item.number | highlight: $select.search))"></span>
                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <p class="form-group-default required" style="border:none;">CHOOSE OPTIONS</p>
                <div class="row row-margin2">
                    <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="i in getNumber(numbersOfBoxes) track by $index">
                        <div class="boxes-style">
                            <div class="option-name">
                                <span>{{activeCheckBox[$index].name|limitTo:10}}</span>
                            </div>
                            <label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBox[$index].active}">
                                <div class="checkbox-circle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <input hidden ng-click="makeCheckBoxChange($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>

                                </div>
                                <!-- <div class="text-choose-options">
                                    <p>{{activeCheckBox[$index].name|limitTo:10}}</p>
                                </div> -->
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row btn-position">
            <button class="btn btn-primary btn-cons" ng-click="addScheduledBlock()" ng-disabled="!scheduledForm.$valid||checkForOptions()">Save</button>
            <button class="btn btn-default btn-cons" ui-sref="side_menu.scheduled_blocks">Cancel</button>
        </div>
    </form>
</div>
