.first-box {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.subbox-position {
    text-align: center;
}
.custom-label {
    margin-right: -7px!important;
}
.custom-label::after {
    left: 1px!important;
}
.custom-chackbox-position {
    margin-bottom: 0px!important;
}
.days-style {
    color: #626262;
}
.row-margin {
    margin-top: 18px;
}
.row-margin2 {
    margin-top: 8px;
}
.input-width {
    width: 100%;
}
.custom-padding {
    padding-left: 18px!important;
}
.custom-padding2 {
    padding-left: 18px;
    padding-right: 0px;
}
.custom-bg {
    background-color: #f0f0f0;
}
.boxes-style {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 95px;
    text-align: center;
    /*padding: 36px;*/
}
/*.boxes-style:hover {*/
    /*background-color: rgba(109, 92, 175, 0.75);*/
/*}*/

@media (min-width: 992px) {
    .col-md-1-5 { width: 20%; }
    .col-md-2-5 { width: 40%; }
    .col-md-3-5 { width: 60%; }
    .col-md-4-5 { width: 80%; }
    .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
    .col-lg-1-5 { width: 20%; }
    .col-lg-2-5 { width: 40%; }
    .col-lg-3-5 { width: 60%; }
    .col-lg-4-5 { width: 80%; }
    .col-lg-5-5 { width: 100%; }
}

.btn-position {
    text-align: center;
}
.custom-color {
    font-size: 14px;
    color: #c9c9c9;
}
.options-style {
    font-weight: 500;
}
.custom-content {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 251px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
}
.option-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.option-name span {
    display: table-cell;
    vertical-align: middle;
    color: #626262;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

