[class^="pg-"], [class*=" pg-"] {
    color: #fff !important;
}
/*.form-group-default-select .ui-select-bootstrap .ui-select-match > .ui-select-toggle {
    width: calc(100%) !important;
    height: 50px;
    margin-top: -34px;
    margin-left: -16px;
    padding: 32px 16px 16px;
}
.form-group-default-select .ui-select-bootstrap .ui-select-dropdown {
    width: calc(100%) !important;
    margin-left: -12px;
    padding: 10px;
}*/
.header-inner .icon-set.menu-hambuger-plus {
    display: none;
}
.portlet-icon {
    color: #fff !important;
}
.text-choose-options {
    color: #fff;
    font-weight: 600;
}
.reauired-desc {
    border: none !important;
    padding: 0 !important;
}
.dropdown-location {
    overflow: auto;
    height: 250px;
}
.logout-button:hover {
    color: #000 !important;
}
.custom-style {
    list-style: none;
    padding-left: 0;
    width: 240px;
    margin-bottom: 0!important;
}
.custom-style li {
    margin-top: 11px;
}
.custom-style2 {
    list-style: none;
    padding-left: 0;
    width: 250px;
    margin-bottom: 0!important;
}
.custom-style2 .bg-master-lighter {
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-top: 0px !important;
}
.custom-style2 .bg-master-lighter .pg-power {
    color: #000 !important;
}
.custom-style2 .add-location {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.custom-style2 .add-location span {
    color: #000 !important;
}
/*.custom-style2 .add-location a:focus, a:hover, a:active {
    color: #000 !important;
}*/
.custom-arrow {
    color: #fff !important;
}
.tile-hover:hover .custom-arrow-hover {
    color: #fff !important;
}
.font-logo-menu {
    font-weight: 700!important;
}
.font-logo-menu2 {
    font-weight: 700!important;
    color: #ffffff!important;
}
.boxes-style-hover {
    display: none;
    background-color: rgba(109, 92, 175, 0.75);
    width: 100%;
    height: 100%;
    padding: 29px;
}
.boxes-style:hover > .boxes-style-hover {
    display: block;
}
.checkbox-circle {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 38%;
    padding: 9px;
    font-size: 20px;
    color: #f0f0f0;
}
.activeCheckBox {
    display: block;
}
/*// style checked button*/
.custom-checkbox:checked + label {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 9px;
    font-size: 20px;
    color: #8a7dbe;
    position: absolute;
    margin-top: -31px;
    margin-left: -20px;
}
.custom-checkbox + label {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 59px;
    padding: 9px;
    font-size: 20px;
    color: #f0f0f0;
    position: absolute;
    margin-top: -31px;
    margin-left: -20px;
}
/*// accessible hide inputs*/
.custom-checkbox {
    height: 1px; margin: -1px;
    width: 1px;
}
/*.body-align {*/
    /*text-align: -webkit-center;*/
    /*padding-top: 20px!important;*/
/*}*/
/*.add-package {*/
    /*color: #ffffff;*/
/*}*/
/*.plus-box {*/
    /*border-radius: 10px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border: 1px solid #ffffff;*/
    /*text-align: center;*/
    /*padding: 15px;*/
    /*font-size: 20px;*/
/*}*/
/*.title-card {*/
    /*margin: 0!important;*/
    /*line-height: 15px!important;*/
    /*font-size: 15px!important;*/
    /*font-weight: 500!important;*/
    /*color: #ffffff;*/
/*}*/
/*.custom-color {*/
    /*color: #ffffff;*/
/*}*/
/*.float-r {*/
    /*float: right;*/
/*}*/

/*SCHEDULE BLOCK START*/

.first-box {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.subbox-position {
    text-align: center;
}
.custom-label {
    margin-right: -7px!important;
}
.custom-label::after {
    left: 1px!important;
}
.custom-chackbox-position {
    margin-bottom: 0px!important;
}
.days-style {
    color: #626262;
}
.row-margin {
    margin-top: 18px;
}
.row-margin2 {
    margin-top: 8px;
}
.input-width {
    width: 100%;
}
.custom-padding {
    padding-left: 18px!important;
}
.custom-padding2 {
    padding-left: 18px!important;
    padding-right: 0px!important;
}
.custom-bg {
    background-color: #f0f0f0;
}
.boxes-style {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 95px;
    text-align: center;
    /*padding: 36px;*/
}
/*.boxes-style:hover {*/
    /*background-color: rgba(109, 92, 175, 0.75);*/
/*}*/

@media (min-width: 992px) {
    .col-md-1-5 { width: 20%; }
    .col-md-2-5 { width: 40%; }
    .col-md-3-5 { width: 60%; }
    .col-md-4-5 { width: 80%; }
    .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
    .col-lg-1-5 { width: 20%; }
    .col-lg-2-5 { width: 40%; }
    .col-lg-3-5 { width: 60%; }
    .col-lg-4-5 { width: 80%; }
    .col-lg-5-5 { width: 100%; }
}

.btn-position {
    text-align: center;
}
.custom-color {
    font-size: 14px;
    color: #c9c9c9;
}
.options-style {
    font-weight: 500;
}
.custom-content {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 255px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
}

/*CREATE PACKAGES*/

/*.options-first-box {*/
    /*!*border: 1px solid #6d5bae;*!*/
    /*border-radius: 2px;*/
    /*background-color: #6d5bae;*/
    /*color: #ffffff;*/
    /*height: 40px;*/
    /*width: 100%;*/
    /*padding: 8px;*/
/*}*/
/*.plus-box-options {*/
    /*border-radius: 5px;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*border: 1px solid #ffffff;*/
    /*text-align: center;*/
    /*padding: 0px;*/
    /*font-size: 14px;*/
    /*position: absolute;*/
/*}*/
/*.first-options-text {*/
    /*margin-left: 28px;*/
/*}*/
/*.custom-bold {*/
    /*font-weight: 600;*/
/*}*/
/*.options-second-box {*/
    /*border: 1px solid #ededed;*/
    /*border-radius: 2px;*/
    /*background-color: #ffffff;*/
    /*height: 40px;*/
    /*width: 100%;*/
    /*padding: 6px;*/
/*}*/
/*.btn-custom {*/
    /*line-height: 12px!important;*/
    /*padding-left: 22px!important;*/
    /*padding-right: 22px!important;*/
    /*border-radius: 0!important;*/
    /*float: right;*/
/*}*/
/*.options-second-text-pad {*/
    /*padding-top: 2px;*/
/*}*/

/*EDIT OPTIONS PACKAGE*/

/*.custom-header {*/
    /*background-color: #6d5cae!important;*/
    /*color: #ffffff!important;*/
    /*!*border: 1px solid #6d5cae!important;*!*/
/*}*/
/*.custom-panel-control {*/
    /*color: #ffffff!important;*/
/*}*/
/*.custom-panel-body {*/
    /*background-color: #f8f8f8;*/
/*}*/
/*.custom-title-quest {*/
    /*font-weight: 400!important;*/
    /*font-size: 14px!important;*/
    /*color: #626262!important;*/
/*}*/
/*.custom-text-quest {*/
    /*color: #90a4ae!important;*/
    /*font-size: 12px!important;*/
    /*font-weight: 400!important;*/
/*}*/
/*.custom-tier-heading {*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.07)!important;*/
/*}*/
/*.custom-tier-checkbox {*/
    /*margin-bottom: 0px!important;*/
    /*margin-top: -4px!important;*/
    /*float: right!important;*/
/*}*/
/*.first-box-schedule {*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #f0f0f0;*/
    /*border-radius: 2px;*/
/*}*/
/*.boxes-style-schedule {*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #f0f0f0;*/
    /*border-radius: 3px;*/
    /*height: 95px;*/
    /*text-align: center;*/
    /*padding: 36px;*/
/*}*/
/*.boxes-style-schedule:hover {*/
    /*background-color: rgba(109, 92, 175, 0.75);*/
/*}*/

/*USER SETTINGS*/

/*.custom-dropzone {*/
    /*min-height: 45px!important;*/
    /*border: 0px solid #f0f0f0!important;*/
    /*background-color: #ffffff!important;*/
    /*padding: 0px!important;*/
/*}*/
/*.input-group-addon1 {*/
    /*height: calc(43px);*/
    /*!*min-width: calc(50px);*!*/
    /*!*border-radius: 0px;*!*/
    /*!*border-width: initial;*!*/
    /*!*border-style: none;*!*/
    /*!*border-color: initial;*!*/
    /*!*border-image: initial;*!*/
    /*color: rgba(98, 98, 98, 0.47);*/
    /*font-size: 14px;*/
    /*display: table-cell;*/
    /*background: #ffffff;*/
    /*border-right: 1px solid rgba(0, 0, 0, 0.07);*/
    /*!*border-width: 1px;*!*/
    /*!*border-style: solid;*!*/
    /*!*border-color: rgba(0, 0, 0, 0.07);*!*/
    /*border-image: initial;*/
    /*padding: 12px;*/
    /*!*border-radius: 3px;*!*/
    /*transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;*/
/*}*/
/*.input-position {*/
    /*position: absolute!important;*/
/*}*/
/*.custom-margintop-upload {*/
    /*margin-top: 12px;*/
/*}*/
/*.custom-margintop-uploadtext {*/
    /*font-weight: 400!important;*/
    /*color: #c9c9c9!important;*/
    /*font-size: 14px!important;*/
/*}*/

.sidebar-menu .menu-items li.active > .icon-thumbnail {
    background-color: #10CFBD !important;
}
.custom-style-view-more {
    color: #626262;
}
.custom-style-view-more:hover, .custom-style-view-more:focus {
    color: #626262;
}
.custom-loader {
    margin-top: 235%;
    text-align: center;
}
.custom-color-pagination {
    color: #6d5cae!important;
    font-weight: 500!important;
}
.addlocation {
    color: #6d5cae!important;
    cursor: pointer;
}
.summernote-font-size {
    font-size:11px!important;
}
.summernote-padding-left {
    padding-left:13px!important;
}
.option-row div:first-child {
    padding-left: 0px !important;
}
.option-row div:nth-child(3),.option-row div:nth-child(6),.option-row div:nth-child(9), .option-row div:nth-child(12), .option-row div:nth-child(15) {
    padding-right: 0px !important;
}
.option-row div:nth-child(4),.option-row div:nth-child(7),.option-row div:nth-child(10), .option-row div:nth-child(13), .option-row div:nth-child(16) {
    padding-left: 0px !important;
}

/*Odavde krece zvezda za favorite*/
.presentation {
  text-align: center;
}
.btn-icon {
    font-size: 3em;
    margin: 0 0.5em;
}
.presentation {
  text-align: center;
}
.presentation .btn-icon {
  font-size: 3em;
  margin: 0 0.5em;
}
.btn-icon {
  padding: 0 !important;
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}
.btn-icon:active,
.btn-icon:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.btn-icon:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/*.btn-icon:focus {*/
  /*outline: 0 none !important;*/
/*}*/
.btn-icon .glyphicon {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.btn-icon .glyphicon-star {
  color: rgba(109, 92, 174, 0.43);
}
.btn-icon .glyphicon-star:hover {
  color: rgb(109, 92, 174);
}
.btn-icon .glyphicon-star.active {
  color: rgb(109, 92, 174);
}
.btn-icon .glyphicon-star.active:hover {
  color: rgb(109, 92, 174);
}
.btn-icon .glyphicon-heart {
  color: #666;
}
.center-star {
    text-align:center;
}
/*Ovde gotova zvezda za favorite*/

/*WIDGET FIX*/
.nav-tabs > li > a {
    padding: 10px 14px!important;
}
/*WIDGET END*/

/*PAGINATION*/
.pagination>.active>a {
    background-color: #6d5cae;
    border: #6d5cae;
}
.pagination>li>a {
    color: #6d5cae;
}
.pagination>.active>a:hover {
    background-color: #8a7dbe;
    border-color: #8a7dbe;
}
/*PAGINATION END*/

/*CHECKBOXES TEXT*/
.boxes-style {
    position: relative;
}
.boxes-style label {
    position: absolute;
}
.option-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.option-name span {
    display: table-cell;
    vertical-align: middle;
    color: #626262;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
/*CHECKBOXES TEXT END*/

.activeLocation {
    color: #48b0f7!important;
}
.click {
    cursor: pointer;
}