/*.custom-bar-visible:hover {*/
    /*transform: translate(210px, 0px);*/
/*}*/
.custom-search {
    width: 100%;
}
.font-logo-menu {
    font-weight: 700!important;
}
.body-align {
    text-align: -webkit-center;
    padding-top: 20px!important;
}
.add-package {
    color: #ffffff;
    font-size: 24px!important;
}
.plus-box {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.title-card {
    margin: 0!important;
    line-height: 15px!important;
    font-size: 15px!important;
    font-weight: 500!important;
    color: #ffffff;
}
.custom-color {
    color: #ffffff;
}
.float-r {
    float: right;
}
/*HOVER BUTTON*/

.button-hover {
    display: none;
    z-index: 100!important;
}
.tile-hover:hover .button-hover {
    display: block;
    position: absolute;
    bottom: 20px;
}
.tile-hover:hover {
    background-color: rgb(109, 92, 174);
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.8);
}
.tile-hover:hover .panel-heading {
    color: #ffffff!important;
}
/*END*/

.cursor-style {
    cursor: pointer;
}
.custom-dropdown {
    margin: 0!important;
    padding-bottom: 5px!important;
}
.input-group-addon-custom {
    background-color: #ffffff!important;
}
.custom-color {
    background-color: #f0f0f0;
}


/*BUTTONS TILES*/
.button-edit {
    min-width: 90px;
    margin-left: 20px;
}
.button-delete {
    min-width: 90px;
    margin-right: 20px;
    background: transparent;
    border: 1px solid #ffffff!important;
    color: #ffffff;
}
.button-delete:hover {
    color: #6d5cae;
    font-weight: 500;
}
