<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                        <span class="input-group-addon input-group-addon-custom">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                    <!--<input type="text" placeholder="Search schedule blocks" class="form-control">-->
                    <div class="input-daterange custom-search input-group" id="datepicker-range" ui-jq="datepicker">
                        <input type="text" ng-model="searchTerm.from" ng-change="search(null)" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">to</span>
                        <input type="text" ng-model="searchTerm.to" ng-change="search(null)" class="input-sm form-control" name="end" />
                    </div>
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<form class="" role="form">-->
                    <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown custom-color">-->
                        <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                        <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                            <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                            <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<form class="" role="form">-->
                    <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown">-->
                        <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                        <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                            <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                            <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div ng-class="{'row m-t-10 animated':true, 'bounceOutLeft':disableSlideLeftBack, 'bounceInLeft':disableSlideLeft, 'bounceInRight':disableSlideRight, 'bounceOutRight':disableSlideRightBack}">
            <div class="col-sm-3 m-b-10">
                <div class="ar-1-1">
                    <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin cursor-style" ui-sref="side_menu.new_scheduled_blocks">
                        <div class="panel-heading">
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <!--<a data-toggle="refresh" class="portlet-refresh text-black" href="#">-->
                                            <!--<i class="portlet-icon portlet-icon-refresh-lg-white"></i>-->
                                            <!--&lt;!&ndash;<i class="fa fa-circle-o" aria-hidden="true"></i>&ndash;&gt;-->
                                        <!--</a>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body body-align">
                            <div class="plus-box">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <h1 class="add-package">Add Schedule Block</h1>
                            <p>Create a new schedule block</p>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="scheduledBlocks.data.length == 0">No results found</p>
            <div class="col-sm-3 m-b-10" ng-repeat="blocks in scheduledBlocks.data track by $index">
                <div class="ar-1-1">
                    <div pg-portlet class="panel panel-default m-b-0 tile-hover" id="portlet-basic" on-refresh="refreshTest('#portlet-basic')">
                    
                        <div class="row panel-heading">
                            <div class="col-md-10">
                                <div class="panel-title">From: {{moment(blocks.from).format('MMM DD YYYY') }} </br>To: {{moment(blocks.to).format('MMM DD YYYY')}}
                                </div>
                                <div class="panel-title">Start: {{blocks.start}} </br>End: {{blocks.end}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel-controls">
                                    <ul>
                                        <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="portlet-icon portlet-icon-collapse custom-arrow-hover"></i></a>
                                        </li>
                                        <!--<li><a href="" data-toggle="refresh" class="portlet-refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                                        <!--</li>-->
                                        <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-hover">
                            <!-- <p>{{blocks.body | limitTo:170}}{{blocks.body.length > 170 ? '...' : ''}}</p> -->
                            <!--<div class="custom-overlayer"></div>-->
                            <!--<button class="btn btn-default btn-cons button-hover" ui-sref="side_menu.edit_scheduled_blocks({id: blocks.id})">Edit</button>-->
                            <button class="btn btn-default button-edit button-hover bottom-left" ui-sref="side_menu.edit_scheduled_blocks({id: blocks.id})">Edit</button>
                            <button type="button" class="btn button-delete button-hover bottom-right" ng-click="deleteScheduledBlock(blocks.id,$index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGINACIJA ZA MENJANJE -->
            <!-- <ul class="pagination pull-right">
                <li  ng-repeat="i in getNumber(scheduledBlocks.last_page) track by $index"><a class="custom-color-pagination" ng-click="paginate($index+1)">{{$index+1}}</a></li>
            </ul> -->
        </div>
        <div ng-show="scheduledBlocks!=null">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" ng-change="paginate()" items-per-page="maxSize">
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row custom-loader" ng-if="scheduledBlocks.next_page_url!=null">
            <a class="custom-style-view-more" ng-click="loadPaginatedItems(scheduledBlocks.next_page_url)">Load more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            <!-- LOADER!!!!!!!!!!!!!!! -->
            <!-- <div class="progress-circle-indeterminate"></div> -->
        </div>
        <!--<input class="progress-circle" ui-jq="circularProgress" value="75" type="hidden" data-color="complete">-->
    </div>
</div>