.edit-order-item p {
	font-weight: 700;
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.50);
}
.items {
	margin-top: 20px;
}
.items p {
	color: #000;
	font-weight: 600;
}
.items label {
	color: #78909c;
	font-weight: 600;
}
.items td {
	color: #78909c;
	font-weight: 400;
}
.items th {
	color: #fff !important;
	font-weight: 600;
}
.table.table-hover tbody tr:hover td {
	background-color: #f8f8f8 !important;
}
.panel-edit-order {
	background-color: #f8f8f8;
}
.table-items {
	margin-top: 0px;
}
.table tbody tr td {
	background-color: #f8f8f8;
	padding-left: 8px;
}
.btn-delete-order {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.delete-order p {
	margin-top: 5px;
}
.footer-table {
	background-color: #fff;
}
.footer-table h4 {
	font-size: 30px;
}
.footer-table p {
	font-size: 24px;
}
.label-panel label {
	margin-top: 5px;
	width: 100px;
}
.event-date {
	padding-right: 0px;
}
.event-time {
	padding-left: 0px;
}
@media screen and (max-width: 767px) {
    .event-date {
		padding-right: 15px;
	}
	.event-time {
		padding-left: 15px;
	}
}