
<div class="container-fluid container-fixed-lg m-t-20">
    <!-- START PANEL -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="invoice padding-50 sm-padding-10" style="padding-bottom: 5px !important;">
                <div>
                    <div class="pull-left">
                    	<h1>Logo</h1>
                        <!-- <img width="235" height="47" alt="" class="invoice-logo" ui-jq="unveil" data-src-retina="assets/img/invoice/squarespace2x.png" data-src="assets/img/invoice/squarespace.png" src="assets/img/invoice/squarespace2x.png"> -->
                        <address class="m-t-10">
                            Apple Enterprise Sales
                            <br>(877) 412-7753.
                            <br>
                        </address>
                    </div>
                    <div class="pull-right sm-m-t-20">
                        <h2 class="font-montserrat all-caps hint-text">ORDER</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br>
                <br>
                <div class="container-sm-height">
                    <div class="row-sm-height">
                        <div class="col-md-9 col-sm-height sm-no-padding p-l-0">
                            <p class="small no-margin">Invoice to</p>
                            <h5 class="semi-bold m-t-0">Nikola Gavric</h5>
                            <address>
                                <strong>Pub NewYork</strong>
                                <br>pub.newyork@gmail.com 
								<br>1600 Amphitheatre Pkwy, Mountain View,
								<br>CA 94043, United States
                            </address>
                        </div>
                        <div class="col-md-3 col-sm-height col-bottom sm-no-padding sm-p-b-20 p-r-0">
                            <br>
                            <div>
                                <div class="pull-left font-montserrat bold all-caps">ORDER NUM :</div>
                                <div class="pull-right">0047</div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div class="pull-left font-montserrat bold all-caps">ORDER DATE :</div>
                                <div class="pull-right">29/09/14</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div pg-portlet id="portlet-linear1" class="panel panel-default m-t-40" progress="bar" on-refresh="refreshTest('#portlet-linear')">
					<div class="panel-heading1 bg-primary custom-header">
						<div class="panel-title">
							ORDER INFORMATIONS
						</div>
						<div class="panel-controls">
							<ul>
								<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-body custom-panel-body panel-edit-order">
						<div class="row m-t-20">
							<div class="container-fluid container-fixed-lg p-l-5 p-r-5">
								<!-- START PANEL -->
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default">
		                                    <label>Date</label>
		                                    <!-- <input type="text" placeholder="Default input" class="form-control"> -->
		                                    <input type="text" placeholder="24/06/2017" id="date" class="form-control" ui-jq="mask" ui-options="'99/99/9999'">
		                                </div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default">
		                                    <label>FIRST & LAST NAME</label>
		                                    <input type="text" placeholder="Nikola Gavric" class="form-control">
		                                </div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default form-group-default-select required">
				                            <label class="">STATUS</label>
				                            <ui-select ng-model="person.selected" theme="bootstrap">
				                                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
				                                <ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
				                                    <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
				                                    <small ng-bind-html="trustAsHtml((item.country | highlight: $select.search))"></small>
				                                </ui-select-choices>
				                            </ui-select>
				                        </div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default disabled">
				                            <label>PACKAGE</label>
				                            <input type="text" class="form-control" value="Birthday Adventure" disabled>
				                        </div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="row">
											<div class="col-xs-12 col-sm-4 event-date">
												<div pg-form-group class="form-group form-group-default">
				                                    <label>EVENT DATE</label>
				                                    <!-- <input type="text" placeholder="Default input" class="form-control"> -->
				                                    <input type="text" placeholder="30/06/2017" id="date" class="form-control" ui-jq="mask" ui-options="'99/99/9999'">
		                                		</div>
											</div>
											<div class="col-xs-12 col-sm-8 event-time">
												<div pg-form-group class="form-group form-group-default">
				                                    <label>EVENT TIME</label>
				                                    <input type="text" placeholder="07 AM - 09 AM" class="form-control">
				                                    <button class="btn btn-primary pull-right" style="margin-top: -39px;" ui-sref="side_menu.edit_package_order">EDIT</button>
				                                </div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default">
		                                    <label>GUEST OF HONOR</label>
		                                    <input type="text" placeholder="John Mark" class="form-control">
		                                </div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div pg-form-group class="form-group form-group-default">
		                                    <label>NUMBER OF HONOR</label>
		                                    <input type="NUBER" placeholder="20" class="form-control">
		                                </div>
									</div>
								</div>
								<!-- END PANEL -->
							</div>
						</div>
					</div>
				</div>
				<div pg-portlet id="portlet-linear1" class="panel panel-default m-t-40 table-responsive" progress="bar" on-refresh="refreshTest('#portlet-linear')">
					<table class="table table-hover panel-heading1 bg-primary custom-header table-items items" id="basicTable" ui-jq="dataTable" ui-options="options">
						<!-- <div class="panel-heading1 bg-primary custom-header"> -->
							<thead>
		                        <tr>
		                            <th style="width:75%">ITEMS</th>
		                            <th style="width:10%; color: rgba(255, 255, 255, 0.50) !important;">QUANTITY</th>
		                            <th style="width:10%; color: rgba(255, 255, 255, 0.50) !important;">PRICE</th>
		                            <th style="width:15%; color: rgba(255, 255, 255, 0.50) !important;"><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a></th>
		                        </tr>
		                    </thead>
							
							<!-- <div class="panel-title">
								ITEMS
							</div>
							<div class="panel-controls edit-order-item">
								<ul>
									<li>
										<p>QUANTITY</p>
									</li>
									<li>
										<p>PRICE</p>
									</li>
									<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
									</li>
								</ul>
							</div> -->
						<!-- </div> -->
						<!-- <div class="panel-body custom-panel-body panel-edit-order"> -->
							<!-- <div class="row items">
								<div class="col-xs-6">
									<p>Birthday Adventure</p>
								</div>
								<div class="col-xs-6">
									<label class="pull-right">$350.00</label>
								</div>
								<div class="col-xs-12">
									<ul>
										<li>12 Children (Birthday child + 11 guest)</li>
										<li>Pizza for each child</li>
										<li>Organic juice box for each child </li>
										<li>$4 game card for each child</li>
										<li>Cake or 25 cupcakes (candles included)</li>
										<li>Private party room for 90 minutes with party host</li>
										<li>Paper goods</li>
										<li>Stay and play all day!</li>
									</ul>
								</div>
							</div> -->
							<tbody class="panel-body custom-panel-body panel-edit-order label-panel">
		                        <tr>
		                            <td class="v-align-middle">
		                                <p>Birthday Adventure</p>
		                                <ul>
											<li>12 Children (Birthday child + 11 guest)</li>
											<li>Pizza for each child</li>
											<li>Organic juice box for each child </li>
											<li>$4 game card for each child</li>
											<li>Cake or 25 cupcakes (candles included)</li>
											<li>Private party room for 90 minutes with party host</li>
											<li>Paper goods</li>
											<li>Stay and play all day!</li>
										</ul>
		                            </td>
		                            <td class="v-align-middle ">
		                                <p></p>
		                            </td>
		                            <td class="v-align-middle">
		                                <label>$ 350.00</label>	
		                            </td>
		                            <td class="v-align-middle"></td>
		                        </tr>
		                        <tr>
		                        	<td>
		                        		<p>8 Extra Guests</p>
		                        	</td>
		                        	<td><label>8</label></td>
		                        	<td><label>$ 125.00</label></td>
		                        	<td></td>
		                        </tr>
		                        <tr>
		                        	<td class="delete-order">
		                        		<button class="btn btn-primary btn-delete-order"><i class="fa fa-times" aria-hidden="true"></i></button>
		                        		<p>Add on 1</p>
		                        	</td>
		                        	<td><label>5</label></td>
		                        	<td><label>$ 100.00</label></td>
		                        	<td></td>
		                        </tr>
		                        <tr>
		                        	<td class="delete-order">
		                        		<button class="btn btn-primary btn-delete-order"><i class="fa fa-times" aria-hidden="true"></i></button>
		                        		<p>Add on 2</p>
		                        	</td>
		                        	<td><label>6</label></td>
		                        	<td><label>$ 120.00</label></td>
		                        	<td></td>
		                        </tr>
		                        <tr>
		                        	<td colspan="4">
		                        		<button class="btn btn-primary" data-toggle="modal" data-target="#modalAddItem"><i class="fa fa-plus p-r-10" aria-hidden="true"></i>Add item</button>
		                        	</td>
		                        </tr>
		                        <tr>
		                        	<td colspan="4">
		                        		<div class="container-sm-height footer-table">
				                            <div class="row row-sm-height b-a b-grey">
				                                <div class="col-sm-3 col-sm-height col-middle p-l-10 sm-padding-15">
				                                    <h5 class="font-montserrat all-caps small no-margin hint-text bold">TAX #1</h5>
				                                    <p class="no-margin">$10.00</p>
				                                </div>
				                                <div class="col-sm-7 col-sm-height col-middle sm-padding-15 ">
				                                    <h5 class="font-montserrat all-caps small no-margin hint-text bold">SUBTOTAL</h5>
				                                    <p class="no-margin">$190.00</p>
				                                </div>
				                                <div class="col-sm-2 text-right bg-primary col-sm-height col-middle padding-10" style="width: 200px;">
				                                    <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Total</h5>
				                                    <h4 class="no-margin text-white">$200.00</h4>
				                                </div>
				                            </div>
				                        </div>
		                        	</td>
		                        </tr>
		                    </tbody>
						<!-- </div> -->
					</table>
				</div>
            </div>
        </div>
    </div>
    <div class="row btn-position">
		<button class="btn btn-primary btn-cons">Save</button>
		<button class="btn btn-default btn-cons" ui-sref="side_menu.list_order">Cancel</button>
	</div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID
<!-- ADD ITEM MODAL -->
<div class="modal fade slide-up disable-scroll" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog ">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<h5 class="m-b-0"><span class="semi-bold">Add nre item</span></h5>
					<p>Quickly add new item</p>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<div pg-form-group class="form-group form-group-default form-group-default-select required">
	                            <label class="">ITEM</label>
	                            <ui-select ng-model="person.selected" theme="bootstrap">
	                                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
	                                <ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">
	                                    <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
	                                    <small ng-bind-html="trustAsHtml((item.country | highlight: $select.search))"></small>
	                                </ui-select-choices>
	                            </ui-select>
	                        </div>
						</div>
						<div class="col-xs-12">
							<div pg-form-group class="form-group form-group-default">
                                <label>FIRST & LAST NAME</label>
                                <input type="text" placeholder="/" class="form-control">
                            </div>
						</div>
						<div class="col-xs-6">
							<div pg-form-group class="form-group form-group-default">
                                <label>QUANTITY</label>
                                <input type="text" placeholder="0" class="form-control">
                            </div>
						</div>
						<div class="col-xs-6">
							<div pg-form-group class="form-group form-group-default">
                                <label>PRICE</label>
                                <input type="text" placeholder="$" class="form-control">
                            </div>
						</div>
						<div class="col-xs-12">
							<div class="checkbox check-success  ">
		                        <input type="checkbox" checked="checked" value="1" id="checkbox2">
		                        <label for="checkbox2">Discount</label>
		                    </div>
						</div>
						<div class="col-xs-12 text-center">
							<button class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>