/*EDIT OPTIONS PACKAGE*/

.custom-header {
    /*background-color: #6d5cae!important;*/
    color: #ffffff!important;
    /*border: 1px solid #6d5cae!important;*/
}
.custom-panel-control {
    color: #ffffff!important;
}
.custom-panel-body {
    background-color: #f8f8f8;
}
.custom-title-quest {
    font-weight: 400!important;
    font-size: 14px!important;
    color: #626262!important;
}
.custom-text-quest {
    color: #90a4ae!important;
    font-size: 12px!important;
    font-weight: 400!important;
}
.custom-tier-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.custom-tier-checkbox {
    margin-bottom: 0px!important;
    margin-top: -4px!important;
    float: right!important;
}
.first-box-schedule {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.boxes-style-schedule {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 95px;
    text-align: center;
    padding: 36px;
}
.boxes-style-schedule:hover {
    background-color: rgba(109, 92, 175, 0.75);
}
.input-width {
    width: 100%;
}
.boxes-style {
    background-color: #ffffff!important;
}

/*DRAG AND DROP STYLE*/

ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

li {
    display: block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation.
 */
.dndDraggingSource {
    opacity: 0.5;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
    background-color: #ddd !important;
    display: block;
    min-height: 42px;
}

/***************************** Element type specific styles *****************************/

.itemlist {
    min-height: 120px !important;
}

.itemlist > li {
    background-color: transparent;
    border: 1px solid #eeeeee;
    /*border-radius: .25em;*/
    color: black;
    float: left;
    font-weight: 700;
    height: 100px;
    /*margin: 5px;*/
    padding: 3px;
    text-align: center;
    /*width: 80px;*/
}
.container-element {
    margin: 10px;
}
.draggable-circuit > i {
    border: 1px solid #eeeeee;
    padding: 7px;
    border-radius: 50%;
    color: #dddddd;
    cursor: pointer;
}
.fav-icon {
    float: right;
    cursor: pointer;
    color: #dddddd;
}
.desc-box {
    border: 1px solid #eeeeee;
    /*width: 100px;*/
    height: 50px;
    padding: 11px;
    margin-top: 5px;
    color: #6d5cae;
}
/*DRAG AND DROP STYLE -- END*/

