<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div id="portlet-advance1" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
        <div class="panel-heading ">
            <div class="panel-title">ADD OPTIONS
            </div>
            <div class="panel-controls">
                <ul>
                    <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                    </li>
                    <!--<li><a href="" ng-click="closeOption()" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <!--FIRST PORTLET-->
                    <div pg-portlet id="portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                        <div class="panel-heading1 bg-primary custom-header">
                            <div class="panel-title">Birthday adventure
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body custom-panel-body">
                            <form role="form" name="personal">
                                <div class="row m-t-15">
                                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal.packagename1.$invalid && !personal.packagename1.$pristine }">
                                        <label>PACKAGE NAME</label>
                                        <input type="text" name="packagename1" ng-model="option.name" placeholder="Birthday adventure" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 p-l-0">
                                        <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : personal.pricingmodel.$invalid && !personal.pricingmodel.$pristine }">
                                            <label class="">PRICING MODEL</label>
                                            <ui-select ng-model="pricingModel.selected" name="pricingmodel" theme="bootstrap" required>
                                                <ui-select-match placeholder="Select model">{{$select.selected.price}} <span class="custom-color"></span></ui-select-match>
                                                <ui-select-choices group-by="'country'" repeat="price in pricingModel | filter: $select.search">
                                                    <span ng-bind-html="trustAsHtml((price.price | highlight: $select.search))"></span>
                                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal.baseprice.$invalid && !personal.baseprice.$pristine }">
                                            <label>Base Price</label>
                                            <input type="text" data-a-sign="$ " ng-model="option.basePrice" name="baseprice" placeholder="$3500" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 p-r-0">
                                        <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : personal.partyduration.$invalid && !personal.partyduration.$pristine }">
                                            <label class="">PARTY DURATION</label>
                                            <ui-select ng-model="partyDuration.selected" name="partyduration" theme="bootstrap" required>
                                                <ui-select-match placeholder="1 hr 30 min">{{$select.selected.time}}</ui-select-match>
                                                <ui-select-choices group-by="'country'" repeat="time in partyDuration | filter: $select.search">
                                                    <span ng-bind-html="trustAsHtml((time.time | highlight: $select.search))"></span>
                                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4 class="custom-title-quest">Quest informations</h4>
                                    <p class="custom-text-quest">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>

                                <!--TIERS-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- START PANEL -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading custom-tier-heading">
                                                <div class="panel-title">
                                                    PRICING TIER 1
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="m-t-10">
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>Quest Included</label>
                                                        <input type="text" class="form-control" placeholder="12" ng-model="option.tier1GuestIncluded">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>PRICE PER ADDITIONAL QUEST</label>
                                                        <input type="text" data-a-sign="$ " placeholder="$53.00" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="option.tier1PricePerAdditionalQuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>min # of guest</label>
                                                        <input type="number" class="form-control" placeholder="0" ng-model="option.tier1MinGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>max # of guest</label>
                                                        <input type="number" class="form-control" placeholder="500" ng-model="option.tier1MaxGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (singular)</label>
                                                        <input type="text" class="form-control" placeholder="child" ng-model="option.tier1Singular">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (Plural)</label>
                                                        <input type="text" class="form-control" placeholder="children" ng-model="option.tier1Plural">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default form-group-default-select">
                                                        <label class="">ask guest count?</label>
                                                        <ui-select ng-model="askGuestCount.selected" theme="bootstrap">
                                                            <ui-select-match placeholder="Yes">{{$select.selected.name}} <span class="custom-color"></span></ui-select-match>
                                                            <ui-select-choices group-by="'country'" repeat="ask in askGuestCount | filter: $select.search">
                                                                <span ng-bind-html="trustAsHtml((ask.name | highlight: $select.search))"></span>
                                                                <!-- <small ng-bind-html="trustAsHtml((ask.name | highlight: $select.search))"></small> -->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <!--<div pg-form-group class="form-group form-group-default disabled">-->
                                                    <!--<label>Disabled</label>-->
                                                    <!--<input type="email" class="form-control" value="You can put anything here" disabled>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                    <div class="col-md-4">
                                        <!-- START PANEL -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading custom-tier-heading">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="panel-title">
                                                            PRICING TIER 2
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="checkbox check-success custom-tier-checkbox">
                                                            <input type="checkbox" checked="checked" value="1" id="checkboxtier1">
                                                            <label for="checkboxtier1">Enable</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="m-t-10">
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>Quest Included</label>
                                                        <input type="text" class="form-control" placeholder="12" ng-model="option.tier2QuestIncluded">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>PRICE PER ADDITIONAL QUEST</label>
                                                        <input type="text" data-a-sign="$ " placeholder="$53.00" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="option.tier2PricePerAdditionalQuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>min # of guest</label>
                                                        <input type="number" class="form-control" placeholder="0" ng-model="option.tier2MinGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>max # of guest</label>
                                                        <input type="number" class="form-control" placeholder="500" ng-model="option.tier2MaxGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (singular)</label>
                                                        <input type="text" class="form-control" placeholder="child" ng-model="option.tier2Singular">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (Plural)</label>
                                                        <input type="text" class="form-control" placeholder="children" ng-model="option.tier2Plural">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default form-group-default-select">
                                                        <label class="">ask guest count?</label>
                                                        <ui-select ng-model="askGuestCount2.selected" theme="bootstrap">
                                                            <ui-select-match placeholder="Yes">{{$select.selected.name}} <span class="custom-color"></span></ui-select-match>
                                                            <ui-select-choices group-by="'country'" repeat="ask in askGuestCount2 | filter: $select.search">
                                                                <span ng-bind-html="trustAsHtml((ask.name | highlight: $select.search))"></span>
                                                                <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <!--<div pg-form-group class="form-group form-group-default disabled">-->
                                                    <!--<label>Disabled</label>-->
                                                    <!--<input type="email" class="form-control" value="You can put anything here" disabled>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                    <div class="col-md-4">
                                        <!-- START PANEL -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading custom-tier-heading">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="panel-title">
                                                            PRICING TIER 3
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="checkbox check-success custom-tier-checkbox">
                                                            <input type="checkbox" checked="checked" value="1" id="checkboxtier2">
                                                            <label for="checkboxtier2">Enable</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="m-t-10">
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>Quest Included</label>
                                                        <input type="text" class="form-control" placeholder="12" ng-model="option.tier3QuestIncluded">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default">
                                                        <label>PRICE PER ADDITIONAL QUEST</label>
                                                        <input type="text" data-a-sign="$ " placeholder="$53.00" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="option.tier3PricePerAdditionalQuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>min # of guest</label>
                                                        <input type="number" class="form-control" placeholder="0" ng-model="option.tier3MinGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>max # of guest</label>
                                                        <input type="number" class="form-control" placeholder="500" ng-model="option.tier3MaxGuest">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (singular)</label>
                                                        <input type="text" class="form-control" placeholder="child" ng-model="option.tier3Singular">
                                                    </div>
                                                    <div class="form-group  form-group-default">
                                                        <label>label (Plural)</label>
                                                        <input type="text" class="form-control" placeholder="children" ng-model="option.tier3Plural">
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default form-group-default-select">
                                                        <label class="">ask guest count?</label>
                                                        <ui-select ng-model="askGuestCount3.selected" theme="bootstrap">
                                                            <ui-select-match placeholder="Yes">{{$select.selected.name}} <span class="custom-color"></span></ui-select-match>
                                                            <ui-select-choices group-by="'country'" repeat="ask in askGuestCount3 | filter: $select.search">
                                                                <span ng-bind-html="trustAsHtml((ask.name | highlight: $select.search))"></span>
                                                                <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <!--<div pg-form-group class="form-group form-group-default disabled">-->
                                                    <!--<label>Disabled</label>-->
                                                    <!--<input type="email" class="form-control" value="You can put anything here" disabled>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                </div>
                            </form>
                            <!--END TIERS-->

                            <div class="row">
                                <div class="col-md-4">
                                    <form role="form">
                                        <div pg-form-group class="form-group form-group-default">
                                            <label>DEPOSIT ($)</label>
                                            <input type="text" data-a-sign="$ " placeholder="$100.00" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="option.tier1Deposit">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form role="form">
                                        <div class="form-group  form-group-default">
                                            <label>DEPOSIT (%)</label>
                                            <input type="number" class="form-control" placeholder="%" ng-model="option.tier2Deposit">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form role="form">
                                        <div pg-form-group class="form-group form-group-default form-group-default-select">
                                            <label class="">BALANCE DUE</label>
                                            <ui-select ng-model="balanceDue.selected" theme="bootstrap">
                                                <ui-select-match placeholder="At the event">{{$select.selected.value}} <span class="custom-color"></span></ui-select-match>
                                                <ui-select-choices group-by="'country'" repeat="item in balanceDue | filter: $select.search">
                                                    <span ng-bind-html="trustAsHtml((item.value | highlight: $select.search))"></span>
                                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <form role="form">
                                        <div pg-form-group class="form-group form-group-default form-group-default-select">
                                            <label class="">in birthday person free?</label>
                                            <ui-select ng-model="birthdayPersonFree.selected" theme="bootstrap">
                                                <ui-select-match placeholder="No">{{$select.selected.free}} <span class="custom-color"></span></ui-select-match>
                                                <ui-select-choices group-by="'country'" repeat="person in birthdayPersonFree | filter: $select.search">
                                                    <span ng-bind-html="trustAsHtml((person.free | highlight: $select.search))"></span>
                                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form role="form">
                                        <div pg-form-group class="form-group form-group-default form-group-default-select">
                                            <label class="">Are 2 guest of honor ok?</label>
                                            <ui-select ng-model="twoGuestOfHonor.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Yes">{{$select.selected.numberOfGuests}} <span class="custom-color"></span></ui-select-match>
                                                <ui-select-choices group-by="'country'" repeat="guest in twoGuestOfHonor | filter: $select.search">
                                                    <span ng-bind-html="trustAsHtml((guest.numberOfGuests | highlight: $select.search))"></span>
                                                    <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form role="form">
                                        <div pg-form-group class="form-group form-group-default">
                                            <label>2nd Guest of Honor Charge</label>
                                            <input type="text" data-a-sign="$ " placeholder="$00.0" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="option.tier3Deposit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIRST PORTLET END-->

                    <!--SECOND PORTLET-->
                    <div pg-portlet id="portlet-linear1" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                        <div class="panel-heading1 bg-primary custom-header">
                            <div class="panel-title">SCHEDULE BLOCKS
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body custom-panel-body">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <div class="first-box-schedule m-t-15">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox1" ng-model="option.scheduledBlocks.monday">
                                                    <label class="custom-label" for="checkbox1"></label>
                                                </div>
                                                <p class="days-style">MONDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox2" ng-model="option.scheduledBlocks.tuesday">
                                                    <label class="custom-label" for="checkbox2"></label>
                                                </div>
                                                <p>TUESDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox3" ng-model="option.scheduledBlocks.wednesday">
                                                    <label class="custom-label" for="checkbox3"></label>
                                                </div>
                                                <p>WEDNESDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox4" ng-model="option.scheduledBlocks.thursday">
                                                    <label class="custom-label" for="checkbox4"></label>
                                                </div>
                                                <p>THURSDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox5" ng-model="option.scheduledBlocks.friday">
                                                    <label class="custom-label" for="checkbox5"></label>
                                                </div>
                                                <p>FRIDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox6" ng-model="option.scheduledBlocks.saturday">
                                                    <label class="custom-label" for="checkbox6"></label>
                                                </div>
                                                <p>SATURDAY</p>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-md-1 subbox-position">
                                                <div class="checkbox check-success custom-chackbox-position">
                                                    <input type="checkbox"  value="1" id="checkbox7" ng-model="option.scheduledBlocks.sunday">
                                                    <label class="custom-label" for="checkbox7"></label>
                                                </div>
                                                <p>SUNDAY</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-4 no-padding">
                                        <div pg-form-group class="form-group form-group-default input-group col-sm-10 input-width" style="cursor: pointer;">
                                            <label>PERIOD FROM</label>
                                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2" ui-jq="datepicker" ng-model="option.periodFrom">
                                            <span class="input-group-addon">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 custom-padding2">
                                        <div pg-form-group class="form-group form-group-default input-group col-sm-10 input-width custom-bg" style="cursor: pointer;">
                                            <label>PERIOD TO</label>
                                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component3" ui-jq="datepicker" ng-model="option.periodTo">
                                            <span class="input-group-addon">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-margin2">
                                    <div class="col-md-4 no-padding">
                                        <form role="form">
                                            <div pg-form-group class="form-group form-group-default form-group-default-select required">
                                                <label class="">FIRST PARTY START TIME</label>
                                                <ui-select ng-model="firstParty.selected" theme="bootstrap">
                                                    <ui-select-match placeholder="Please select">{{$select.selected.party}}<span class="custom-color"></span></ui-select-match>
                                                    <ui-select-choices group-by="'country'" repeat="party in firstParty | filter: $select.search">
                                                        <span ng-bind-html="trustAsHtml((party.party | highlight: $select.search))"></span>
                                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4 custom-padding2">
                                        <form role="form">
                                            <div pg-form-group class="form-group form-group-default form-group-default-select required">
                                                <label class="">LAST PARTY START TIME</label>
                                                <ui-select ng-model="lastParty.selected" theme="bootstrap">
                                                    <ui-select-match placeholder="Please select">{{$select.selected.party}} <span class="custom-color"></span></ui-select-match>
                                                    <ui-select-choices group-by="'country'" repeat="party in lastParty | filter: $select.search">
                                                        <span ng-bind-html="trustAsHtml((party.party | highlight: $select.search))"></span>
                                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4 custom-padding">
                                        <form role="form">
                                            <div pg-form-group class="form-group form-group-default form-group-default-select required">
                                                <label class="">INTERVAL</label>
                                                <ui-select ng-model="interval.selected" theme="bootstrap">
                                                    <ui-select-match placeholder="3 hrs">{{$select.selected.time}} <span class="custom-color"></span></ui-select-match>
                                                    <ui-select-choices group-by="'country'" repeat="item in interval | filter: $select.search">
                                                        <span ng-bind-html="trustAsHtml((item.time | highlight: $select.search))"></span>
                                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row row-margin2">
                                    <div class="col-md-4 no-padding">
                                        <form role="form">
                                            <div pg-form-group class="form-group form-group-default form-group-default-select required">
                                                <label class="">#CONSECUTIVES</label>
                                                <ui-select ng-model="consecutives.selected" theme="bootstrap">
                                                    <ui-select-match placeholder="1">{{$select.selected.number}} <span class="custom-color"></span></ui-select-match>
                                                    <ui-select-choices group-by="'country'" repeat="item in consecutives | filter: $select.search">
                                                        <span ng-bind-html="trustAsHtml((item.number | highlight: $select.search))"></span>
                                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <p>ALREADY EXIST</p>
                                <div class="row row-margin2">
                                    <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="i in getNumber(numbersOfAlreadyExistsBoxes) track by $index">
                                        <div class="boxes-style">
                                            <label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBoxAlreadyExists[$index].active}">
                                                <div class="checkbox-circle">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <input hidden ng-click="makeCheckBoxAlreadyExistChange($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SECOND PORTLET END-->

                    <!--THIRD PORTLET-->
                    <div pg-portlet id="portlet-linear3" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                        <div class="panel-heading1 bg-primary custom-header">
                            <div class="panel-title">ADD-ONS
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body custom-panel-body">
                            <div class="panel-body no-padding">
                                <!--SEARCH-->
                                <div class="row m-t-15 m-b-10">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                        <span class="input-group-addon input-group-addon-custom">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </span>
                                            <input type="text" placeholder="Search add-ons" class="form-control">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3">-->
                                        <!--<form class="" role="form">-->
                                            <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown custom-color">-->
                                                <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                                                <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                                                    <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                                                    <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                                        <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                                        <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                                                    <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3">-->
                                        <!--<form class="" role="form">-->
                                            <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown">-->
                                                <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                                                <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                                                    <!--<ui-select-match placeholder="Sorted by category">{{$select.selected.name}}</ui-select-match>-->
                                                    <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                                        <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                                        <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                                                    <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                </div>
                                <p>RECOMANDED</p>
                                <div class="row row-margin2">
                                    <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="i in getNumber(numbersOfAddOnBoxes) track by $index">
                                        <div class="boxes-style">
                                            <label for="boxImage+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': container.items[$index].active}">
                                                <div class="checkbox-circle">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <input hidden ng-click="makeCheckBoxAddOnChange($index)" class="custom-checkbox" type="checkbox" name="checkbox5" value="Option" id="boxImage+{{$index}}"><label for="boxImage+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--THIRD PORTLET END-->

                    <!--FOUR PORTLET-->
                    <div pg-portlet id="portlet-linear4" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                        <div class="panel-heading1 bg-primary custom-header">
                            <div class="panel-title">ALL ADD-ONS
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body custom-panel-body">
                            <div class="panel-body no-padding">
                                <!--SEARCH-->
                                <!--<div class="row m-t-15 m-b-10">-->
                                    <!--<div class="col-md-3">-->
                                        <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon input-group-addon-custom">-->
                                            <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--</span>-->
                                            <!--<input type="text" placeholder="Search packages" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3">-->
                                        <!--<form class="" role="form">-->
                                            <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown custom-color">-->
                                                <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                                                <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                                                    <!--<ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>-->
                                                    <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                                        <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                                        <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                                                    <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3">-->
                                        <!--<form class="" role="form">-->
                                            <!--<div pg-form-group class="form-group-default form-group-default-select custom-dropdown">-->
                                                <!--&lt;!&ndash;<label class="">Project</label>&ndash;&gt;-->
                                                <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                                                    <!--<ui-select-match placeholder="Sorted by category">{{$select.selected.name}}</ui-select-match>-->
                                                    <!--<ui-select-choices group-by="'country'" repeat="item in people | filter: $select.search">-->
                                                        <!--<span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>-->
                                                        <!--<small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>-->
                                                    <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row row-margin2">
                                    <!-- Odavde kopiraj -->
                                    <!-- <ul dnd-list="containers"
                                        dnd-allowed-types="['container']"
                                        dnd-external-sources="true"
                                        dnd-dragover="dragoverCallback(index, external, type, callback)"
                                        dnd-drop="dropCallback(index, item, external, type)"> -->
                                    <!-- <li ng-repeat="container in containers"
                                        dnd-draggable="container"
                                        dnd-type="'container'"
                                        dnd-effect-allowed="copyMove"
                                        dnd-moved="containers.splice($index, 1)"
                                        dnd-callback="container.items.length"> -->
                                    <div class="container-element box box-blue">
                                        <!-- <h3>Container (effects allowed: {{container.effectAllowed}})</h3> -->
                                        <ul dnd-list="container.items"
                                            dnd-allowed-types="['item']"
                                            dnd-horizontal-list="true"
                                            dnd-external-sources="true"
                                            dnd-effect-allowed="{{container.effectAllowed}}"
                                            dnd-dragover="dragoverCallback(index, external, type)"
                                            dnd-drop="dropCallback(index, item, external, type)"
                                            dnd-inserted="logListEvent('inserted at', index, external, type)"
                                            class="itemlist row">
                                            <li class="col-md-2" ng-repeat="item in container.items"
                                                 dnd-draggable="item"
                                                 dnd-type="'item'"
                                                 dnd-effect-allowed="{{item.effectAllowed}}"
                                                 dnd-dragstart="logEvent('Started to drag an item')"
                                                 dnd-moved="container.items.splice($index, 1)"
                                                 dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)" ng-if="item.active">
                                                    <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4 text-center">
                                                            <div class="draggable-circuit">
                                                                <i class="fa fa-arrows" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fav-icon">
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-8 desc-box">
                                                            {{item.label}}
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                    </div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- </li> -->
                                    <!-- </ul> -->
                                    <!-- Dovde -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FOUR PORTLET END-->

                    <!--FIVE PORTLET-->
                    <div pg-portlet id="portlet-linear5" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                        <div class="panel-heading1 bg-primary custom-header">
                            <div class="panel-title">POLICIES
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body custom-panel-body">
                            <div class="panel-body no-padding">
                                <div pg-portlet id="sub-portlet-linear" class="panel panel-default m-t-20" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                                    <div class="panel-heading ">
                                        <div class="panel-title">POLICIE #1
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <!--<h3>-->
                                        <!--<span class="semi-bold">Linear</span> Progress-->
                                        <!--</h3>-->
                                        <p>Click on the refresh icon to simulate an AJAX call and to see an animated progress bar indicator above the portlet. These progress bars come in seven different colors that are available in the Pages contextual color scheme.
                                        </p>
                                    </div>
                                </div>
                                <div pg-portlet id="sub-portlet-linear2" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                                    <div class="panel-heading ">
                                        <div class="panel-title">POLICIE #2
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <!--<h3>-->
                                        <!--<span class="semi-bold">Linear</span> Progress-->
                                        <!--</h3>-->
                                        <p>Click on the refresh icon to simulate an AJAX call and to see an animated progress bar indicator above the portlet. These progress bars come in seven different colors that are available in the Pages contextual color scheme.
                                        </p>
                                    </div>
                                </div>
                                <div pg-portlet id="sub-portlet-linear3" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                                    <div class="panel-heading ">
                                        <div class="panel-title">POLICIE #3
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <!--<h3>-->
                                        <!--<span class="semi-bold">Linear</span> Progress-->
                                        <!--</h3>-->
                                        <p>Click on the refresh icon to simulate an AJAX call and to see an animated progress bar indicator above the portlet. These progress bars come in seven different colors that are available in the Pages contextual color scheme.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIVE PORTLET END-->
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-position">
        <button class="btn btn-primary btn-cons" ng-click="addOption()">Save</button>
        <button class="btn btn-default btn-cons" ng-click="editOption()">Cancel</button>
    </div>
</div>