.custom-message-position {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 50%;
    left: 50%;
}
.option-button {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 3px;
    font-size: 12px;
}
/*DRAG AND DROP STYLE*/

ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

li {
    display: block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation.
 */
.dndDraggingSource {
    opacity: 0.5;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
    background-color: #ddd !important;
    display: block;
    min-height: 42px;
}

/***************************** Element type specific styles *****************************/

.itemlist {
    min-height: 120px !important;
}

.itemlist > li {
    background-color: transparent;
    border: 1px solid #eeeeee;
    /*border-radius: .25em;*/
    color: black;
    float: left;
    font-weight: 700;
    height: 100px;
    /*margin: 5px;*/
    padding: 3px;
    text-align: center;
    /*width: 80px;*/
}
.container-element {
    margin: 10px;
}
.draggable-circuit > i {
    border: 1px solid #eeeeee;
    padding: 7px;
    border-radius: 50%;
    color: #dddddd;
    cursor: pointer;
}
.fav-icon {
    float: right;
    cursor: pointer;
    color: #dddddd;
}
.desc-box {
    border: 1px solid #eeeeee;
    /*width: 100px;*/
    height: 50px;
    padding: 11px;
    margin-top: 5px;
    color: #6d5cae;
}
/*DRAG AND DROP STYLE -- END*/