<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                ORDER LIST
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="basicTable" ui-jq="dataTable" ui-options="options">
                    <thead>
                        <tr>
                            <th style="width:20%; color: #000;"><b>#</b></th>
                            <th style="width:20%">DATE</th>
                            <th style="width:20%">GUEST NAME</th>
                            <th style="width:20%">$ PRICE</th>
                            <th style="width:20%">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="color: #000;" class="v-align-middle">
                                <p>3908</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>23/06/2017</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>Zoran Kustrimovic</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>$ 416.00</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <button class="btn btn-default table-edit-button" ui-sref="side_menu.edit_order">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #000;" class="v-align-middle">
                                <p>4308</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>27/10/2017</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>Aleksandar Vukasinovic</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>$ 423.00</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <button class="btn btn-default table-edit-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #000;" class="v-align-middle">
                                <p>2408</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>18/09/2017</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>Danilo Cvetkovic</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <p>$ 476    .00</p>
                            </td>
                            <td class="v-align-middle" style="padding-left: 8px !important;">
                                <button class="btn btn-default table-edit-button">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" ng-change="paginate()" items-per-page="maxSize">
                </ul>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>