.table-edit-button {
	background-color: #fff;
	color: #000;
	border: none;
	border: 1px solid #f0f0f0;
}
.table-edit-button:hover {
	background-color: #8a7dbe;
	color: #fff;
	border: none;
	border: 1px solid #8a7dbe;
}