<!-- START HEADER -->
<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <div class="container-fluid relative">
      <!-- LEFT SIDE -->
      <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
          <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
            <span class="icon-set menu-hambuger"></span>
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <div class="pull-center hidden-md hidden-lg">
        <div class="header-inner">
          <div class="brand inline">
              <h3 class="font-logo-menu">booking</h3>
            <!--<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">-->
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE HAMBURGER MENI ZAKOMENTARISAN-->
      <!--<div class="pull-right full-height visible-sm visible-xs">-->
        <!--&lt;!&ndash; START ACTION BAR &ndash;&gt;-->
        <!--<div class="header-inner">-->
          <!--<a ng-if="includes('app.layouts.horizontal')" href="#" class="btn-link visible-xs-inline-block visible-sm-inline-block m-r-10" pg-horizontal-menu-toggle>-->
                <!--<span class="pg pg-arrow_minimize"></span>-->
            <!--</a>-->
          <!--<a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">-->
            <!--<span class="icon-set menu-hambuger-plus"></span>-->
          <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; END ACTION BAR &ndash;&gt;-->
      <!--</div>-->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
            <div class="brand inline">
                <h3 class="font-logo-menu">booking</h3>
                <!--<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">-->
            </div>
            <!-- START NOTIFICATION LIST -->
            <!--<ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">-->
              <!--<li class="p-r-15 inline">-->
                <!--<div class="dropdown">-->
                  <!--<a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">-->
                    <!--<span class="bubble"></span>-->
                  <!--</a>-->
                  <!--&lt;!&ndash; START Notification Dropdown &ndash;&gt;-->
                  <!--<div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center" pg-notification-center>-->
                    <!--&lt;!&ndash; START Notification &ndash;&gt;-->
                    <!--<div class="notification-panel">-->
                      <!--&lt;!&ndash; START Notification Body&ndash;&gt;-->
                      <!--<div class="notification-body scrollable">-->
                        <!--&lt;!&ndash; START Notification Item&ndash;&gt;-->
                        <!--<div class="notification-item unread clearfix">-->
                          <!--&lt;!&ndash; START Notification Item&ndash;&gt;-->
                          <!--<div class="heading open">-->
                            <!--<a href="#" class="text-complete pull-left">-->
                              <!--<i class="pg-map fs-16 m-r-10"></i>-->
                              <!--<span class="bold">Carrot Design</span>-->
                              <!--<span class="fs-12 m-l-10">David Nester</span>-->
                            <!--</a>-->
                            <!--<div class="pull-right">-->
                              <!--<div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">-->
                                <!--<div><i class="fa fa-angle-left"></i>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<span class=" time">few sec ago</span>-->
                            <!--</div>-->
                            <!--<div class="more-details">-->
                              <!--<div class="more-details-inner">-->
                                <!--<h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br> -->
                                                            <!--distinguishes between <br>-->
                                                            <!--A leader and a follower.”</h5>-->
                                <!--<p class="small hint-text">-->
                                  <!--Commented on john Smiths wall.-->
                                  <!--<br> via pages framework.-->
                                <!--</p>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; END Notification Item&ndash;&gt;-->
                          <!--&lt;!&ndash; START Notification Item Right Side&ndash;&gt;-->
                          <!--<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">-->
                            <!--<a href="#" class="mark"></a>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; END Notification Item Right Side&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; START Notification Body&ndash;&gt;-->
                        <!--&lt;!&ndash; START Notification Item&ndash;&gt;-->
                        <!--<div class="notification-item  clearfix">-->
                          <!--<div class="heading">-->
                            <!--<a href="#" class="text-danger pull-left">-->
                              <!--<i class="fa fa-exclamation-triangle m-r-10"></i>-->
                              <!--<span class="bold">98% Server Load</span>-->
                              <!--<span class="fs-12 m-l-10">Take Action</span>-->
                            <!--</a>-->
                            <!--<span class="pull-right time">2 mins ago</span>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; START Notification Item Right Side&ndash;&gt;-->
                          <!--<div class="option">-->
                            <!--<a href="#" class="mark"></a>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; END Notification Item Right Side&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END Notification Item&ndash;&gt;-->
                        <!--&lt;!&ndash; START Notification Item&ndash;&gt;-->
                        <!--<div class="notification-item  clearfix">-->
                          <!--<div class="heading">-->
                            <!--<a href="#" class="text-warning-dark">-->
                              <!--<i class="fa fa-exclamation-triangle m-r-10"></i>-->
                              <!--<span class="bold">Warning Notification</span>-->
                              <!--<span class="fs-12 m-l-10">Buy Now</span>-->
                            <!--</a>-->
                            <!--<span class="pull-right time">yesterday</span>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; START Notification Item Right Side&ndash;&gt;-->
                          <!--<div class="option">-->
                            <!--<a href="#" class="mark"></a>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; END Notification Item Right Side&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END Notification Item&ndash;&gt;-->
                        <!--&lt;!&ndash; START Notification Item&ndash;&gt;-->
                        <!--<div class="notification-item unread clearfix">-->
                          <!--<div class="heading">-->
                            <!--<div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">-->
                              <!--<img width="30" height="30" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="" src="assets/img/profiles/1.jpg">-->
                            <!--</div>-->
                            <!--<a href="#" class="text-complete pull-left">-->
                              <!--<span class="bold">Revox Design Labs</span>-->
                              <!--<span class="fs-12 m-l-10">Owners</span>-->
                            <!--</a>-->
                            <!--<span class="pull-right time">11:00pm</span>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; START Notification Item Right Side&ndash;&gt;-->
                          <!--<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">-->
                            <!--<a href="#" class="mark"></a>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; END Notification Item Right Side&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END Notification Item&ndash;&gt;-->
                      <!--</div>-->
                      <!--&lt;!&ndash; END Notification Body&ndash;&gt;-->
                      <!--&lt;!&ndash; START Notification Footer&ndash;&gt;-->
                      <!--<div class="notification-footer text-center">-->
                        <!--<a href="#" class="">Read all notifications</a>-->
                        <!--<a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">-->
                          <!--<i class="pg-refresh_new"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                      <!--&lt;!&ndash; START Notification Footer&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END Notification &ndash;&gt;-->
                  <!--</div>-->
                  <!--&lt;!&ndash; END Notification Dropdown &ndash;&gt;-->
                <!--</div>-->
              <!--</li>-->
              <!--<li class="p-r-15 inline">-->
                <!--<a href="#" class="icon-set clip "></a>-->
              <!--</li>-->
              <!--<li class="p-r-15 inline">-->
                <!--<a href="#" class="icon-set grid-box"></a>-->
              <!--</li>-->
            <!--</ul>-->
            <!-- END NOTIFICATIONS LIST -->
            <a class="search-link" ng-click="showSearchOverlay()"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
        </div>
    </div>
    <div class=" pull-right">
        <div class="header-inner">

            <a href="" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
        </div>
    </div>
    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{firstname}}</span> <span class="text-master">{{lastname}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                      <img ng-src="{{avatar_url}}" alt="" width="32" height="32">
                  </span>
                </button>
                <div class="dropdown-menu profile-dropdown">
                    <ul class="dropdown-location custom-style" role="menu">
                        <li ng-repeat="location in locations track by $index" ><a ng-class="{'activeLocation':location.active==true}" ng-click="setActiveLocation(location.id,$index)" ><i class="fa fa-location-arrow" aria-hidden="true"></i>{{location.name}}</a>
                        </li>
                    </ul>
                    <ul class="custom-style2">
                        <li class="add-location">
                          <a class="addlocation" data-toggle="modal" data-target="#modalFillIn"><i class="fa fa-plus" aria-hidden="true"></i> Add Location</a>
                        </li>
                        <li class="bg-master-lighter">
                            <a href="" class="clearfix logout-button" ng-click="logout()">
                                <span class="pull-left">Logout</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->

<!--MODAL FOR LOCATION-->
<div class="modal fade fill-in" id="modalFillIn" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-left p-b-5"><span class="semi-bold">Enter Name and Address</span> of new location</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <form name="createLocation">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createLocation.locationName.$invalid && !createLocation.locationName.$pristine }">
                                <input type="text" placeholder="Location name" class="form-control input-lg" id="icon-filter" name="locationName" ng-model="newLocation.name" required="true">
                            </div>
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createLocation.addressName.$invalid && !createLocation.addressName.$pristine }">
                                <input type="text" placeholder="Address" class="form-control input-lg m-t-10" id="icon-filter1" name="addressName" ng-model="newLocation.location" required="true">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-primary btn-lg btn-large fs-15" ng-click="addLocation()" ng-disabled="!createLocation.$valid">Add</button>
                    </div>
                </div>
                <!--<p class="text-right hinted-text p-t-10 p-r-10">What is it ? Terms and conditions</p>-->
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END - MODAL-->