 <!-- START OVERLAY -->
    <div ng-controller="SearchCtrl" class="overlay" style="display: none" pg-search> 
      <!-- BEGIN Overlay Content !-->
      <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
          <!-- BEGIN Overlay Logo !-->
          <!--&lt;!&ndash;<img class="overlay-brand" src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">&ndash;&gt; Ovo sam ja zakomentarisao-->
          <!-- END Overlay Logo !-->
          <!-- BEGIN Overlay Close !-->
          <a href="" class="close-icon-light overlay-close text-black fs-16" data-search="closeButton">
            <i class="pg-close"></i>
          </a>
          <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
          <!-- BEGIN Overlay Controls !-->
          <input data-search="searchField" id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false" ng-model="search.query" ng-change="liveSearch(search.query)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
          <br>
          <!-- <div class="inline-block">
            <div class="checkbox right">
              <input id="checkboxn" type="checkbox" value="1" checked="checked">
              <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
            </div>
          </div> -->
          <div class="inline-block m-l-10">
            <!--<p class="fs-13">Press enter to search</p>-->
          </div>
          <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
        <div class="container-fluid">
          <!--<span>-->
                <!--<strong>suggestions :</strong>-->
            <!--</span>-->
          <!--<span id="overlay-suggestions">{{search.query}}</span>-->
          <!--<br>-->
          <div class="search-results m-t-40">
            <p class="bold">booking Search Results</p>
            <div class="row">
              <div class="col-md-3">
                <!-- BEGIN Search Result Item !-->
                <p><strong>Add-ons</strong></p>
                <p class="hint-text" ng-if="searchResult.addons.length == 0">No results found</p>
                <div class="click" ng-click="editAddonGo(addOn.id)" ng-repeat="addOn in searchResult.addons">
                  <!-- BEGIN Search Result Item Thumbnail !-->
                  <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                    <div>
                      <!--<img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt=""> Ovo sam ja zakomentarisao-->
                    </div>
                  </div>
                  <!-- END Search Result Item Thumbnail !-->
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5"><span class="semi-bold result-name">{{addOn.name | limitTo:20}}{{addOn.name.length > 20 ? '...' : ''}}</span></h5>
                    <p class="hint-text">{{addOn.description | limitTo:30}}{{addOn.description.length > 30 ? '...' : ''}}</p>
                  </div>
                </div>
                <!-- END Search Result Item !-->
              </div>
              <div class="col-md-3">
                <!-- BEGIN Search Result Item !-->
                <p><strong>Events</strong></p>
                <p class="hint-text" ng-if="searchResult.events.length == 0">No results found</p>
                <div class="click" ng-click="editEventGo(event.id)" ng-repeat="event in searchResult.events">
                  <!-- BEGIN Search Result Item Thumbnail !-->
                  <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                    <div>
                      <i class="fa fa-calendar"></i>
                      <!--<img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt=""> Ovo sam ja zakomentarisao-->
                    </div>
                  </div>
                  <!-- END Search Result Item Thumbnail !-->
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5"><span class="semi-bold result-name">{{event.name | limitTo:20}}{{event.name.length > 20 ? '...' : ''}}</span></h5>
                    <p class="hint-text">{{event.description | limitTo:30}}{{event.description.length > 30 ? '...' : ''}}</p>
                  </div>
                </div>
                <!-- END Search Result Item !-->
              </div>
              <div class="col-md-3">
                <!-- BEGIN Search Result Item !-->
                <p><strong>Packages</strong></p>
                <p class="hint-text" ng-if="searchResult.packages.length == 0">No results found</p>
                <div class="click" ng-click="editPackageGo(package.id)" ng-repeat="package in searchResult.packages">
                  <!-- BEGIN Search Result Item Thumbnail !-->
                  <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                    <div>
                      <!--<img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt=""> Ovo sam ja zakomentarisao-->
                    </div>
                  </div>
                  <!-- END Search Result Item Thumbnail !-->
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5"><span class="semi-bold result-name">{{package.name | limitTo:20}}{{package.name.length > 20 ? '...' : ''}}</span></h5>
                    <p class="hint-text">{{package.description | limitTo:30}}{{package.description.length > 30 ? '...' : ''}}</p>
                  </div>
                </div>
                <!-- END Search Result Item !-->
              </div>
              <div class="col-md-3">
                <!-- BEGIN Search Result Item !-->
                <p><strong>Users</strong></p>
                <p class="hint-text" ng-if="searchResult.users.length == 0">No results found</p>
                <div class="click" ng-click="editUserGo(user.id)" ng-repeat="user in searchResult.users">
                  <!-- BEGIN Search Result Item Thumbnail !-->
                  <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                    <div>
                      <!--<img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt=""> Ovo sam ja zakomentarisao-->
                    </div>
                  </div>
                  <!-- END Search Result Item Thumbnail !-->
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5"><span class="semi-bold result-name">{{user.firstname | limitTo:15}}{{user.firstname.length > 15 ? '...' : ''}} {{user.lastname | limitTo:15}}{{user.lastname.length > 15 ? '...' : ''}}</span></h5>
                    <p class="hint-text">{{user.email | limitTo:30}}{{user.email.length > 30 ? '...' : ''}}</p>
                  </div>
                </div>
                <!-- END Search Result Item !-->
              </div>
              <!--<div class="col-md-6">-->
                <!--&lt;!&ndash; BEGIN Search Result Item !&ndash;&gt;-->
                <!--<div class="">-->
                  <!--&lt;!&ndash; BEGIN Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">-->
                    <!--<div><i class="fa fa-facebook large-text "></i>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; END Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="p-l-10 inline p-t-5">-->
                    <!--<h5 class="m-b-5"><span class="semi-bold result-name">{{search.query}}</span> on facebook</h5>-->
                    <!--<p class="hint-text">via facebook</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END Search Result Item !&ndash;&gt;-->
                <!--&lt;!&ndash; BEGIN Search Result Item !&ndash;&gt;-->
                <!--<div class="">-->
                  <!--&lt;!&ndash; BEGIN Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">-->
                    <!--<div><i class="fa fa-twitter large-text "></i>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; END Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="p-l-10 inline p-t-5">-->
                    <!--<h5 class="m-b-5">Tweats on<span class="semi-bold result-name">{{search.query}}</span></h5>-->
                    <!--<p class="hint-text">via twitter</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END Search Result Item !&ndash;&gt;-->
                <!--&lt;!&ndash; BEGIN Search Result Item !&ndash;&gt;-->
                <!--<div class="">-->
                  <!--&lt;!&ndash; BEGIN Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">-->
                    <!--<div><i class="fa fa-google-plus large-text "></i>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; END Search Result Item Thumbnail !&ndash;&gt;-->
                  <!--<div class="p-l-10 inline p-t-5">-->
                    <!--<h5 class="m-b-5">Circles on<span class="semi-bold result-name">{{search.query}}</span></h5>-->
                    <!--<p class="hint-text">via google plus</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END Search Result Item !&ndash;&gt;-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- END Overlay Search Results !-->
      </div>
      <!-- END Overlay Content !-->
    </div>
    <!-- END OVERLAY -->