<!-- <div class="text-center">
	<button ng-click="changeTheme('/css/pages.css')">Change to Default</button>
	<button ng-click="changeTheme('/css/themes/retro.css')">Change to Retro</button>
	<button ng-click="changeTheme('/css/themes/abstract.css')">Change to Abstract</button>
	<button ng-click="changeTheme('/css/themes/calendar.css')">Change to Calendar</button>
	<button ng-click="changeTheme('/css/themes/corporate.css')">Change to Corporate</button>
	<button ng-click="changeTheme('/css/themes/simple.css')">Change to Simple</button>
	<button ng-click="changeTheme('/css/themes/unlax.css')">Change to Unlax</button>
	<button ng-click="changeTheme('/css/themes/vibes.css')">Change to Vibes</button>
	<button ng-click="changeTheme('/css/pages.rtl.css')">Change to Right Side</button>
	<button ng-click="changeTheme('/css/pages.css')">Change to Left Side</button>
</div> -->


<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
	<div pg-portlet id="portlet-linear1" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
		<div class="panel-heading1 bg-primary custom-header">
			<div class="panel-title">THEMES
			</div>
			<div class="panel-controls">
				<ul>
					<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body custom-panel-body">
			<div class="row m-t-20">
				<div class="col-md-4">
					<form role="form">
						<div class="form-group  form-group-default">
							<div class="col-md-6 p-l-0">
								<label>SIDE MENU POSiTION</label>
								<label class="custom-label">{{generalSettings.menu_position}}</label>
							</div>
							<div class="col-md-6 p-r-0">
								<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid container-fixed-lg p-l-5 p-r-5">
					<!-- START PANEL -->
					<div class="panel panel-default">
						<div class="panel-heading custom-color-tite">
							<div class="panel-title">COLOR OPTIONS
							</div>
							<div class="tools">
								<a class="collapse" href="javascript:;"></a>
								<a class="config" data-toggle="modal" href="#grid-config"></a>
								<a class="reload" href="javascript:;"></a>
								<a class="remove" href="javascript:;"></a>
							</div>
						</div>
						<div class="panel-body builder">
							<div class="wrapper scroll-wrapper">
								<div class="row m-t-10 scrollable scroll-scrollx_visible">
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/pages.css', 'default',1)" ng-class="{'active':builder.theme == 'default' }">
											<img alt="Theme default" src="../../../../img/theme_default.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Default</span>
													<span class="fs-11">pages default color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/corporate.css', 'corporate', 2)" ng-class="{'active':builder.theme == 'corporate' }">
											<img alt="Theme corporate" src="../../../../img/theme_corporate.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Corporate</span>
													<span class="fs-11">give your an a profesional look</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/retro.css', 'retro',3)" ng-class="{'active':builder.theme == 'retro' }">
											<img alt="Theme retro" src="../../../../img/theme_retro.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Retro</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/unlax.css', 'unlax',4)" ng-class="{'active':builder.theme == 'unlax' }">
											<img alt="Theme unlax" src="../../../../img/theme_unlax.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Unlax</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('/css/themes/vibes.css', 'vibes',5)" ng-class="{'active':builder.theme == 'vibes' }">
											<img alt="Thmeme vibes" src="../../../../img/theme_vibes.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Vibes</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('/css/themes/abstract.css', 'abstract',6)" ng-class="{'active':builder.theme == 'abstract' }">
											<img alt="Theme abstract" src="../../../../img/theme_abstract.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Abstract</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
								</div>
								<!--<div class="scroll-element scroll-x scroll-scrollx_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div>-->
								<!--<div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 80px; top: 0px;"></div></div></div>-->
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- END PANEL -->
				</div>
			</div>
		</div>
	</div>
	<div class="row btn-position">
		<button class="btn btn-primary btn-cons" ng-click="editGeneralSettings(generalSettings)">Save</button>
		<button class="btn btn-default btn-cons" >Cancel</button>
	</div>
</div>
