<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
        <div class="panel-heading">
            <div class="panel-title">CREATE NEW LOCATION
            </div>
            <div class="panel-controls">
                <ul>
                    <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                    </li>
                    <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body panel-heading">
            <!--<div class="col-xs-12">-->
            <div class="row">
                <div class="col-xs-12">
                    <!--<div class="panel-title">CREATE NEW CATEGORY</div>-->
                    <p class="subtitle">Here you can create a new location</p>
                </div>
            </div>
            <div class="row">
                <form name="createLocation">
                    <div class="col-xs-12 col-sm-9 col-md-5 padding-custom-left">
                        <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createLocation.locationName.$invalid && !createLocation.locationName.$pristine }">
                            <label>ENTER LOCATION NAME</label>
                            <input type="text" name="locationName" placeholder="Location name" class="form-control" ng-model="newLocation.name" required="true">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-5">
                        <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createLocation.addressName.$invalid && !createLocation.addressName.$pristine }">
                            <label>ENTER ADDRESS</label>
                            <input type="text" name="addressName" placeholder="Location address" class="form-control" ng-model="newLocation.location" required="true">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 padding-custom-right">
                        <button class="btn btn-primary m-b-10 btn-create-ctg pull-right" type="button" ng-click="addLocation()" ng-disabled="!createLocation.$valid"><span class="bold">Create</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row ctg-input">
                <div class="col-xs-12">
                    <div class="panel-title">ALL locations</div>
                    <p class="subtitle">List of all locations</p>
                </div>
            </div>
            <div class="row" ng-repeat="location in locations track by $index">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div pg-form-group class="form-group form-group-default disabled">
                        <label>{{location.name}}</label>
                        <input type="email" class="form-control" ng-model="location.location" disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-default btn-create-ctg m-b-10 pull-right" type="button" data-toggle="modal" data-target="#edit-location" ng-click="setLocationForEdit(location.name,location.location,location.id,$index)">Edit</button>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-primary btn-create-ctg m-b-10 pull-right" type="button" ng-click="deleteLocation(location.id,$index)"><span class="bold">Delete</span>
                    </button>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-8">
                    <div pg-form-group class="form-group form-group-default disabled">
                        <label>ENTER location name</label>
                        <input type="email" class="form-control" value="Meat" disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-default btn-create-ctg m-b-10 pull-right" type="button" data-toggle="modal" data-target="#edit-category">Edit</button>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-primary btn-create-ctg m-b-10 pull-right" type="button"><span class="bold">Delete</span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div pg-form-group class="form-group form-group-default disabled">
                        <label>ENTER location name</label>
                        <input type="email" class="form-control" value="Popcorns" disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-default btn-create-ctg m-b-10 pull-right" type="button" data-toggle="modal" data-target="#edit-category">Edit</button>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <button class="btn btn-primary btn-create-ctg m-b-10 pull-right" type="button"><span class="bold">Delete</span>
                    </button>
                </div> -->
            </div>
            <!--</div>-->
        </div>
    </div>
    <!-- <div class="row btn-position">
        <button class="btn btn-primary btn-cons">Save</button>
        <button class="btn btn-default btn-cons" ui-sref="side_menu.scheduled_blocks">Cancel</button>
    </div> -->
</div>

<!--MODAL-->

<div class="modal fade slide-up disable-scroll" id="edit-location" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <div class="text-center">
                        <h5><span class="semi-bold">Edit your Location!</span></h5>
                        <!--<p><span>Quickly pick up some of recommended products.</span></p>-->
                    </div>
                </div>
                <div class="modal-body">
                    <form name="locationEdit">
                        <div pg-form-group class="form-group form-group-default m-l-20 m-r-20 required" ng-class="{ 'has-error' : locationEdit.editLocationName.$invalid && !locationEdit.editLocationName.$pristine }">
                            <label>ENTER LOCATION NAME</label>
                            <input type="text" name="editLocationName" placeholder="Location name" class="form-control" ng-model="locationForEdit.name" required="true">
                        </div>
                        <div pg-form-group class="form-group form-group-default m-l-20 m-r-20 required" ng-class="{ 'has-error' : locationEdit.editAddressName.$invalid && !locationEdit.editAddressName.$pristine }">
                            <label>ENTER LOCATION ADDRESS</label>
                            <input type="text" name="editAddressName" placeholder="Location address" class="form-control" ng-model="locationForEdit.location" required="true">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary btn-cons m-b-10" type="button" ng-click="editLocation()" ng-disabled="!locationEdit.$valid"><span class="bold">Save</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>