.categories-page {
    background-color: #fff;
    border: 1px solid;
    border-color: #e4e4e4;
    margin-top: 20px;
}
.subtitle {
    color: #bdbdbd;
    font-family: 'Montserrat';
}
.btn-create-ctg {
    height: 55px;
    min-width: 150px;
}
.ctg-input {
    margin-top: 20px;
}
.padding-custom-left {
	padding-left: 0px !important;
}
.padding-custom-right {
	padding-right: 5px !important;
}