<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div class="row">
        <div class="col-md-3 m-b-10 widget-height">
            <div class="ar-1-1">
                <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin cursor-style" ui-sref="side_menu.new_events">
                    <div class="panel-heading">
                        <div class="panel-controls">
                            <ul>
                                <li>
                                    <!--<a data-toggle="refresh" class="portlet-refresh text-black" href="#">-->
                                    <!--<i class="portlet-icon portlet-icon-refresh-lg-white"></i>-->
                                    <!--&lt;!&ndash;<i class="fa fa-circle-o" aria-hidden="true"></i>&ndash;&gt;-->
                                    <!--</a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body body-align" style="margin-top: 45px !important;">
                        <div class="plus-box">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <h1 class="add-package">Book New</h1>
                        <!--<p>Create a event</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ar-1-1">
                <!--<div class="col-md-6 col-lg-4 hidden-xlg m-b-10">-->
                <!-- START WIDGET -->
                <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" pg-portlet progress="circle" on-refresh="refreshTest('.widget-11-2')">
                    <div class="panel-heading top-right">
                        <div class="panel-controls">
                            <ul>
                                <!--<li><a data-toggle="refresh" class="portlet-refresh text-black" ng-click="refresh()"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        <div class="pull-left">
                            <!--<h2 class="text-success no-margin">webarch</h2>-->
                            <p class="no-margin title-widget p-l-10 p-t-10">recent bookings</p>
                        </div>
                        <!--<h3 class="pull-right semi-bold"><sup><small class="semi-bold">$</small></sup> 102,967</h3>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="auto-overflow widget-11-2-table">
                        <table class="table table-condensed table-hover">
                            <tbody>
                            <tr>
                                <td class="font-montserrat all-caps fs-12 col-lg-6">Last 24 hours</td>
                                <td class="text-right hidden-lg">
                                    <span class="hint-text small">dewdrops</span>
                                </td>
                                <td class="text-right b-r b-dashed b-grey col-lg-3">
                                    <span class="hint-text small"></span>
                                </td>
                                <td class="col-lg-3">
                                    <span class="font-montserrat fs-18">1</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-montserrat all-caps fs-12 col-lg-6">Last 48 hours</td>
                                <td class="text-right hidden-lg">
                                    <span class="hint-text small">dewdrops</span>
                                </td>
                                <td class="text-right b-r b-dashed b-grey col-lg-3">
                                    <span class="hint-text small"></span>
                                </td>
                                <td class="col-lg-3">
                                    <span class="font-montserrat fs-18">3</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-montserrat all-caps fs-12 col-lg-6">Last 7 days</td>
                                <td class="text-right hidden-lg">
                                    <span class="hint-text small">dewdrops</span>
                                </td>
                                <td class="text-right b-r b-dashed b-grey col-lg-3">
                                    <span class="hint-text small"></span>
                                </td>
                                <td class="col-lg-3">
                                    <span class="font-montserrat fs-18">8</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="padding-25">-->
                    <!--<p class="small no-margin">-->
                    <!--<a href=""><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>-->
                    <!--<span class="hint-text ">Show more details of APPLE . INC</span>-->
                    <!--</p>-->
                    <!--</div>-->
                </div>
                <!-- END WIDGET -->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="ar-1-1">
                <!--<div class="col-md-6 col-lg-4 hidden-xlg m-b-10">-->
                <!-- START WIDGET -->
                <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" pg-portlet progress="circle" on-refresh="refreshTest('.widget-11-2')">
                    <div class="panel-heading top-right">
                        <div class="panel-controls">
                            <ul>
                                <!--<li><a data-toggle="refresh" class="portlet-refresh text-black" ng-click="refresh()"><i class="portlet-icon portlet-icon-refresh"></i></a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        <div class="pull-left">
                            <!--<h2 class="text-success no-margin">webarch</h2>-->
                            <p class="no-margin title-widget p-l-10 p-t-10">event revenue</p>
                        </div>
                        <!--<h3 class="pull-right semi-bold"><sup><small class="semi-bold">$</small></sup> 102,967</h3>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="auto-overflow widget-11-2-table">
                        <table class="table table-condensed table-hover">
                            <tbody>
                            <tr>
                                <td class="font-montserrat b-r b-dashed b-grey all-caps fs-12 col-lg-8">MTD</td>
                                <td class="text-right hidden-lg">
                                    <span class="hint-text small">dewdrops</span>
                                </td>
                                <!--<td class="text-right b-r b-dashed b-grey col-lg-3">-->
                                    <!--<span class="hint-text small"></span>-->
                                <!--</td>-->
                                <td class="col-lg-4">
                                    <span class="font-montserrat fs-18">$3.917</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-montserrat b-r b-dashed b-grey all-caps fs-12 col-lg-8">YTD</td>
                                <td class="text-right hidden-lg">
                                    <span class="hint-text small">dewdrops</span>
                                </td>
                                <!--<td class="text-right b-r b-dashed b-grey col-lg-3">-->
                                    <!--<span class="hint-text small"></span>-->
                                <!--</td>-->
                                <td class="col-lg-4">
                                    <span class="font-montserrat fs-18">$18.637</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="padding-25">-->
                    <!--<p class="small no-margin">-->
                    <!--<a href=""><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>-->
                    <!--<span class="hint-text ">Show more details of APPLE . INC</span>-->
                    <!--</p>-->
                    <!--</div>-->
                </div>
                <!-- END WIDGET -->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="ar-1-1">
                <div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle">
                    <div class="panel-heading">
                        <!--<div class="pull-left">-->
                            <p class="title-widget p-l-10">Completed events MTD</p>
                        <!--</div>-->
                        <!--<div class="panel-controls">-->
                            <!--<ul>-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-collapse" data-toggle="collapse"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-collapse"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-refresh"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="panel-body no-padding">
                        <ul class="nav nav-tabs nav-tabs-simple">
                            <li class="active">
                                <a href="#widget-15-tab-1" class="p-t-5">
                                    Package 1<br>
                                    20<br>
                                    <span class="text-success">+60.20%</span>
                                </a>
                            </li>
                            <li><a href="#widget-15-tab-2" class="p-t-5">
                                Package 2<br>
                                15<br>
                                <span class="text-danger">-0.67%</span>
                            </a>
                            </li>
                            <li><a href="#widget-15-tab-3" class="p-t-5">
                                Package 3<br>
                                19<br>
                                <span class="text-success">+30.20%</span>
                            </a>
                            </li>
                        </ul>
                        <div class="tab-content p-l-20 p-r-20">
                            <div class="tab-pane no-padding active" id="widget-15-tab-1">
                                <div class="full-width">
                                    <div class="full-width">
                                        <div class="widget-14-chart rickshaw-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane no-padding" id="widget-15-tab-2">
                            </div>
                            <div class="tab-pane" id="widget-15-tab-3">
                            </div>
                        </div>
                        <!--<div class="p-t-20 p-l-20 p-r-20 p-b-30">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-9">-->
                        <!--<p class="fs-16 text-black">Apple’s Motivation - Innovation-->
                        <!--<br>distinguishes between A leader and a follower.-->
                        <!--</p>-->
                        <!--<p class="small hint-text">VIA Apple Store (Consumer and Education Individuals)-->
                        <!--<br>(800) MY-APPLE (800-692-7753)-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 text-right">-->
                        <!--<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>-->
                        <!--<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SECOND ROW-->

    <div class="row">
        <div class="col-md-4">
            <div class="ar-3-2">
                <div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle">
                    <div class="panel-heading">
                        <p class="title-widget p-l-10">TOP event by sales mtd</p>
                        <!--<div class="panel-controls">-->
                            <!--<ul>-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-collapse" data-toggle="collapse"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-collapse"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-refresh"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="panel-body no-padding">
                        <ul class="nav nav-tabs nav-tabs-simple">
                            <li class="active">
                                <a href="#widget-15-tab-11" class="p-t-5">
                                    Package 1<br>
                                    $1.694<br>
                                    <span class="text-success">+63.40%</span>
                                </a>
                            </li>
                            <li><a href="#widget-15-tab-22" class="p-t-5">
                                Package 2<br>
                                $1.498<br>
                                <span class="text-danger">-0.67%</span>
                            </a>
                            </li>
                            <li><a href="#widget-15-tab-33" class="p-t-5">
                                Package 3<br>
                                $2.048<br>
                                <span class="text-success">+37.00%</span>
                            </a>
                            </li>
                        </ul>
                        <div class="tab-content p-l-20 p-r-20">
                            <div class="tab-pane no-padding active" id="widget-15-tab-11">
                                <div class="full-width">
                                    <div class="full-width">
                                        <div class="widget-15-chart rickshaw-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane no-padding" id="widget-15-tab-22">
                            </div>
                            <div class="tab-pane" id="widget-15-tab-33">
                            </div>
                        </div>
                        <!--<div class="p-t-20 p-l-20 p-r-20 p-b-30">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-9">-->
                        <!--<p class="fs-16 text-black">Apple’s Motivation - Innovation-->
                        <!--<br>distinguishes between A leader and a follower.-->
                        <!--</p>-->
                        <!--<p class="small hint-text">VIA Apple Store (Consumer and Education Individuals)-->
                        <!--<br>(800) MY-APPLE (800-692-7753)-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 text-right">-->
                        <!--<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>-->
                        <!--<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ar-3-2">
                <div class="widget-12 panel no-border widget-loader-circle no-margin">
                    <div class="row">
                        <div class="col-xlg-8 ">
                            <div class="panel-heading pull-up top-left ">
                                <p class="title-widget p-l-10">upcoming events</p>
                                <!--<div class="panel-controls">-->
                                    <!--<ul>-->
                                        <!--&lt;!&ndash;<li class="hidden-xlg">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<i class="portlet-icon portlet-icon-settings"></i>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<ul class="dropdown-menu pull-right" role="menu">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<li><a href="#">AAPL</a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<li><a href="#">YHOO</a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<li><a href="#">GOOG</a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="row">
                            <div class="col-xlg-8 ">
                                <div class="p-l-10">
                                    <!--<h2 class="pull-left">Apple Inc.</h2>-->
                                    <!--<h2 class="pull-left m-l-50 text-danger">-->
                                        <!--<span class="bold">448.97</span>-->
                                        <!--<span class="text-danger fs-12">-318.24</span>-->
                                    <!--</h2>-->
                                    <div class="clearfix"></div>
                                    <div class="full-width">
                                        <ul class="list-inline">
                                            <!--<li><a href="#" class="font-montserrat text-master">1D</a>-->
                                            <!--</li>-->
                                            <!--<li class="active"><a href="#" class="font-montserrat  bg-master-light text-master">5D</a>-->
                                            <!--</li>-->
                                            <!--<li><a href="#" class="font-montserrat text-master">1M</a>-->
                                            <!--</li>-->
                                            <!--<li><a href="#" class="font-montserrat text-master">1Y</a>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>
                                    <div class="nvd3-line line-chart text-center" data-x-grid="false">
                                        <svg></svg>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xlg-4 visible-xlg">-->
                                <!--<div class="widget-12-search">-->
                                    <!--<p class="pull-left">Company-->
                                        <!--<span class="bold">List</span>-->
                                    <!--</p>-->
                                    <!--<button class="btn btn-default btn-xs pull-right">-->
                                        <!--<span class="bold">+</span>-->
                                    <!--</button>-->
                                    <!--<div class="clearfix"></div>-->
                                    <!--<input type="text" placeholder="Search list" class="form-control m-t-5">-->
                                <!--</div>-->
                                <!--<div class="company-stat-boxes">-->
                                    <!--<div data-index="0" class="company-stat-box m-t-15 active padding-20 bg-master-lightest">-->
                                        <!--<div>-->
                                            <!--<button type="button" class="close" data-dismiss="modal">-->
                                                <!--<i class="pg-close fs-12"></i>-->
                                            <!--</button>-->
                                            <!--<p class="company-name pull-left text-uppercase bold no-margin">-->
                                                <!--<span class="fa fa-circle text-success fs-11"></span> AAPL-->
                                            <!--</p>-->
                                            <!--<small class="hint-text m-l-10">Yahoo Inc.</small>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                        <!--<div class="m-t-10">-->
                                            <!--<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<p class="small hint-text no-margin inline">37.73</p>-->
                                                <!--<span class=" label label-important p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>-->
                                            <!--</div>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div data-index="1" class="company-stat-box m-t-15  padding-20 bg-master-lightest">-->
                                        <!--<div>-->
                                            <!--<button type="button" class="close" data-dismiss="modal">-->
                                                <!--<i class="pg-close fs-12"></i>-->
                                            <!--</button>-->
                                            <!--<p class="company-name pull-left text-uppercase bold no-margin">-->
                                                <!--<span class="fa fa-circle text-primary fs-11"></span> YHOO-->
                                            <!--</p>-->
                                            <!--<small class="hint-text m-l-10">Yahoo Inc.</small>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                        <!--<div class="m-t-10">-->
                                            <!--<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<p class="small hint-text no-margin inline">37.73</p>-->
                                                <!--<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>-->
                                            <!--</div>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div data-index="2" class="company-stat-box m-t-15  padding-20 bg-master-lightest">-->
                                        <!--<div>-->
                                            <!--<button type="button" class="close" data-dismiss="modal">-->
                                                <!--<i class="pg-close fs-12"></i>-->
                                            <!--</button>-->
                                            <!--<p class="company-name pull-left text-uppercase bold no-margin">-->
                                                <!--<span class="fa fa-circle text-complete fs-11"></span> GOOG-->
                                            <!--</p>-->
                                            <!--<small class="hint-text m-l-10">Yahoo Inc.</small>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                        <!--<div class="m-t-10">-->
                                            <!--<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>-->
                                            <!--<div class="pull-right">-->
                                                <!--<p class="small hint-text no-margin inline">37.73</p>-->
                                                <!--<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>-->
                                            <!--</div>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ar-3-2">
                <div class="row">
                    <div class="ar-3-1">
                        <div class="row">
                            <div class="widget-8 panel no-border bg-success no-margin widget-loader-bar">
                                <div class="container-xs-height full-height">
                                    <div class="row-xs-height">
                                        <div class="col-xs-height col-top">
                                            <div class="panel-heading top-left top-right">
                                                <div class="panel-title text-black hint-text">
                                                    <span class="font-montserrat fs-11 all-caps">Average Sale <i
                                                            class="fa fa-chevron-right"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-controls">
                                                    <ul>
                                                        <li>
                                                            <a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i
                                                                    class="portlet-icon portlet-icon-refresh"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-xs-height ">
                                        <div class="col-xs-height col-top relative">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="p-l-20">
                                                        <h3 class="no-margin text-white"><span class="label  font-montserrat m-r-5">MTD</span>$456</h3>
                                                        <h3 class="no-margin text-white"><span class="label  font-montserrat m-r-5">MTD</span>$386</h3>
                                                        <!--<p class="small hint-text m-t-5">-->
                                                            <!--<span class="label  font-montserrat m-r-5">MTD</span>Higher-->
                                                        <!--</p>-->
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                                <svg></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="ar-3-1">
                        <div class="row p-t-20">
                                <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar">
                                    <div class="container-xs-height full-height">
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="panel-heading  top-left top-right">
                                                    <div class="panel-title text-black">
                                        <span class="font-montserrat fs-11 all-caps">Confirmations Needed <i
                                                class="fa fa-chevron-right"></i>
                                                                </span>
                                                    </div>
                                                    <div class="panel-controls">
                                                        <ul>
                                                            <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
                                                                    class="portlet-icon portlet-icon-refresh"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="p-l-20 p-t-15">
                                                    <h3 class="no-margin p-b-5 text-white">1</h3>
                                                    <!--<a href="#" class="btn-circle-arrow text-white"><i-->
                                                            <!--class="pg-arrow_minimize"></i>-->
                                                    <!--</a>-->
                                                    <span class="small hint-text">Lorem Ipsum is simply dummy text</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-bottom">
                                                <div class="progress progress-small m-b-20">
                                                    <!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
                                                    <div class="progress-bar progress-bar-white" style="width:45%"></div>
                                                    <!-- END BOOTSTRAP PROGRESS -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!--THIRD ROW-->

    <div class="row">
        <div class="col-md-4 m-t-10">
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="custom-widget">
                        <p>Outstanding Events</p>
                        <h1>-$647.33</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-widget">
                        <p>Cancellations YTD</p>
                        <h1>6</h1>
                    </div>
                </div>
            </div> -->
            <div class="ar-3-2">
                <div class="row">
                    <div class="ar-3-1">
                        <div class="row">
                            <div class="widget-8 panel no-border no-margin widget-loader-bar">
                                <div class="container-xs-height full-height">
                                    <div class="row-xs-height">
                                        <div class="col-xs-height col-top">
                                            <div class="top-left">
                                                <div class="panel-title text-black hint-text">
                                                    <p class="no-margin title-widget p-l-20 p-t-10">Outstanding Events</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-xs-height ">
                                        <div class="col-xs-height col-top relative">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="p-l-20">
                                                        <h1 style="color: #000 !important;" class="no-margin p-b-5 text-white">-$647.33</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                                <svg></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ar-3-1">
                        <div class="row p-t-10">
                            <div class="widget-8 panel no-border no-margin widget-loader-bar">
                                <div class="container-xs-height full-height">
                                    <div class="row-xs-height">
                                        <div class="col-xs-height col-top">
                                            <div class="top-left">
                                                <div class="panel-title text-black hint-text">
                                                    <p class="no-margin title-widget p-l-20 p-t-10">Cancellations YTD</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-xs-height ">
                                        <div class="col-xs-height col-top relative">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="p-l-20">
                                                        <h1 style="color: #000 !important;" class="no-margin p-b-5 text-white">6</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                                <svg></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-t-10">
            <div class="ar-3-2">
                <div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle">
                    <div class="panel-heading">
                        <p class="no-margin title-widget">Completed Events YTD</p>
                        <!--<div class="panel-controls">-->
                            <!--<ul>-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-collapse" data-toggle="collapse"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-collapse"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-refresh"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="panel-body no-padding">
                        <ul class="nav nav-tabs nav-tabs-simple">
                            <li class="active">
                                <a href="#widget-17-tab-11" class="p-t-5">
                                    Package 1<br>
                                    40<br>
                                    <span class="text-success">+38%</span>
                                </a>
                            </li>
                            <li><a href="#widget-17-tab-22" class="p-t-5">
                                Package 2<br>
                                30<br>
                                <span class="text-success">+29%</span>
                            </a>
                            </li>
                            <li><a href="#widget-17-tab-33" class="p-t-5">
                                Package 3<br>
                                35<br>
                                <span class="text-success">+33%</span>
                            </a>
                            </li>
                        </ul>
                        <div class="tab-content p-l-20 p-r-20">
                            <div class="tab-pane no-padding active" id="widget-17-tab-11">
                                <div class="full-width">
                                    <div class="full-width">
                                        <div class="widget-13-chart rickshaw-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane no-padding" id="widget-17-tab-22">
                            </div>
                            <div class="tab-pane" id="widget-17-tab-33">
                            </div>
                        </div>
                        <!--<div class="p-t-20 p-l-20 p-r-20 p-b-30">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-9">-->
                        <!--<p class="fs-16 text-black">Apple’s Motivation - Innovation-->
                        <!--<br>distinguishes between A leader and a follower.-->
                        <!--</p>-->
                        <!--<p class="small hint-text">VIA Apple Store (Consumer and Education Individuals)-->
                        <!--<br>(800) MY-APPLE (800-692-7753)-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 text-right">-->
                        <!--<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>-->
                        <!--<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-t-10">
            <div class="ar-3-2">
                <div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle">
                    <div class="panel-heading">
                        <p class="no-margin title-widget">TOP event by sales YTD</p>
                        <!--<div class="panel-controls">-->
                            <!--<ul>-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-collapse" data-toggle="collapse"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-collapse"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="portlet-icon portlet-icon-refresh"></i></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="panel-body no-padding">
                        <ul class="nav nav-tabs nav-tabs-simple">
                            <li class="active">
                                <a href="#widget-18-tab-11" class="p-t-5">
                                    Package 1<br>
                                    $4.987<br>
                                    <span class="text-success">+63.40%</span>
                                </a>
                            </li>
                            <li><a href="#widget-18-tab-22" class="p-t-5">
                                Package 2<br>
                                $3.967<br>
                                <span class="text-danger">-0.67%</span>
                            </a>
                            </li>
                            <li><a href="#widget-18-tab-33" class="p-t-5">
                                Package 3<br>
                                $5.285<br>
                                <span class="text-success">+37.00%</span>
                            </a>
                            </li>
                        </ul>
                        <div class="tab-content p-l-20 p-r-20">
                            <div class="tab-pane no-padding active" id="widget-18-tab-11">
                                <div class="full-width">
                                    <div class="full-width">
                                        <div class="widget-12-chart rickshaw-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane no-padding" id="widget-18-tab-22">
                            </div>
                            <div class="tab-pane" id="widget-18-tab-33">
                            </div>
                        </div>
                        <!--<div class="p-t-20 p-l-20 p-r-20 p-b-30">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-9">-->
                        <!--<p class="fs-16 text-black">Apple’s Motivation - Innovation-->
                        <!--<br>distinguishes between A leader and a follower.-->
                        <!--</p>-->
                        <!--<p class="small hint-text">VIA Apple Store (Consumer and Education Individuals)-->
                        <!--<br>(800) MY-APPLE (800-692-7753)-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 text-right">-->
                        <!--<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>-->
                        <!--<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>