.body-align {
    text-align: -webkit-center;
    padding-top: 20px!important;
}
.add-package {
    color: #ffffff;
}
.plus-box {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.custom-widget {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding-left: 15px;
}
.custom-widget > p {
    color: #bcbcbc;
    font-weight: 500;
    text-transform: uppercase;
}
.custom-widget > h1 {
    color: #424242;
    font-weight: 400;
}
.row-height {
    height: 350px;
}
.widget-height {
    height: 100%;
}

.title-widget {
    color: #bcbcbc;
    font-weight: 500;
    text-transform: uppercase;
}