<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <form role="form" name="personal" novalidate>
        <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
            <div class="panel-heading ">
                <div class="panel-title">CREATE A NEW USER
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                        </li>
                        <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--FIRST PORTLET-->
                        <div pg-portlet id="portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                            <div class="panel-heading1 bg-primary custom-header">
                                <div class="panel-title">USER SETTINGS
                                </div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body custom-panel-body">
                                <!-- <form role="form" name="personal" novalidate> -->
                                    <div class="row m-t-20">
                                        <div class="col-md-4">
                                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : personal.firstname.$invalid && !personal.firstname.$pristine }">
                                                <label>FIRST NAME</label>
                                                <input type="text" name="firstname" ng-model="newUser.firstname" class="form-control" placeholder="Brea" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group  form-group-default required" ng-class="{ 'has-error' : personal.lastname.$invalid && !personal.lastname.$pristine }">
                                                <label>LAST NAME</label>
                                                <input type="text" name="lastname" ng-model="newUser.lastname" class="form-control" placeholder="Hall" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group  form-group-default required" ng-class="{ 'has-error' : personal.username.$invalid && !personal.username.$pristine }">
                                                <label>USERNAME</label>
                                                <input type="text" name="username" ng-model="newUser.username" class="form-control" placeholder="john.doe" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group  form-group-default required" ng-class="{ 'has-error' : personal.password.$invalid && !personal.password.$pristine }">
                                                <label>PASSWORD</label>
                                                <input type="password" name="password" ng-model="newUser.password" class="form-control" placeholder="******" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group  form-group-default required" ng-class="{ 'has-error' : personal.emal.$invalid && !personal.emal.$pristine }">
                                                <label>EMAIL</label>
                                                <input type="email" name="emal" ng-model="newUser.email" class="form-control" placeholder="example@gmail.com" required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group  form-group-default">
                                                <label>PHONE NUMBER</label>
                                                <input type="text" id="phone" class="form-control"  ng-model='newUser.phone' ui-mask="(999) 999-9999">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div pg-form-group class="form-group form-group-default form-group-default-select">
                                                <label class="">STATUS</label>
                                                <ui-select on-select="onSelectedStatus($item)" ng-model="selectedStatus" theme="bootstrap">
                                                    <ui-select-match placeholder="Active">{{$select.selected.status}} <span class="custom-color"></span></ui-select-match>
                                                    <ui-select-choices group-by="'country'" repeat="item in userStatus | filter: $select.search">
                                                        <span ng-bind-html="trustAsHtml((item.status | highlight: $select.search))"></span>
                                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                <!-- </form> -->
                                <div class="row">
                                    <!--&lt;!&ndash; START PANEL &ndash;&gt;-->
                                    <!--<div class="panel panel-transparent">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<div class="panel-title">Basic Nestables-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="panel-body">-->
                                            <!--<p>Netables and also draggable using touch devices, you can simply create on by with an Ordered list, further reading please reffer documentation</p>-->
                                            <!--<div ng-nestable ng-model="items">-->
                                                <!--<input type="checkbox">-->
                                                    <!--&lt;!&ndash; this element is the template for each menu item &ndash;&gt;-->
                                                    <!--&lt;!&ndash; the $item is available on scope and is the reference to the menu item object &ndash;&gt;-->
                                                    <!--{{$item}}-->
                                                <!--</input>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; END PANEL &ndash;&gt;-->
                                    <div class="col-md-3">
                                        <div class="checkbox check-success" ng-repeat="permission in allPermissions track by $index">
                                            <input type="checkbox" ng-click="makeCheckBoxChange($index)" id="checkbox + {{$index}}">
                                            <label for="checkbox + {{$index}}">{{permission.name}}</label>
                                        </div>
                                        <!--<div pg-portlet id="portlet-linear2" class="panel panel-default custom-transparent-portlet" progress="bar" on-refresh="refreshTest('#portlet-linear')">-->
                                            <!--<div class="panel-heading custom-portlet-heading">-->
                                                <!--<div class="panel-title panel-title-custom">-->
                                                    <!--<div class="checkbox check-success m-b-0 m-t-0">-->
                                                        <!--<input type="checkbox" ng-model="newUser.permissions.manageOrders" value="Manage Orders" id="checkbox3">-->
                                                        <!--<label for="checkbox3">Manage Orders</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="panel-controls">-->
                                                    <!--<ul>-->
                                                        <!--<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="panel-body p-b-10">-->
                                                <!--<div class="checkbox check-success  ">-->
                                                    <!--<input type="checkbox" ng-model="newUser.permissions.editOrders" value="User can edit orders" id="checkbox4">-->
                                                    <!--<label for="checkbox4">User can edit orders</label>-->
                                                <!--</div>-->
                                                <!--<div class="checkbox check-success  ">-->
                                                    <!--<input type="checkbox" ng-model="newUser.permissions.rescheduleEvent" value="User can reschedule event" id="checkbox5">-->
                                                    <!--<label for="checkbox5">User can reschedule event</label>-->
                                                <!--</div>-->
                                                <!--<div class="checkbox check-success  ">-->
                                                    <!--<input type="checkbox" ng-model="newUser.permissions.cancelOrders" value="User can cancel orders" id="checkbox6">-->
                                                    <!--<label for="checkbox6">User can cancel orders</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div pg-portlet id="portlet-linear3" class="panel panel-default custom-transparent-portlet" progress="bar" on-refresh="refreshTest('#portlet-linear')">-->
                                            <!--<div class="panel-heading custom-portlet-heading">-->
                                                <!--<div class="panel-title panel-title-custom">-->
                                                    <!--<div class="checkbox check-success m-b-0 m-t-0">-->
                                                        <!--<input type="checkbox" ng-model="newUser.permissions.manageCalendars" value="Manage Calendar" id="checkbox7">-->
                                                        <!--<label for="checkbox7">Manage Calendar</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="panel-controls">-->
                                                    <!--<ul>-->
                                                        <!--<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="panel-body p-b-10">-->
                                                <!--<div class="checkbox check-success  ">-->
                                                    <!--<input type="checkbox" ng-model="newUser.permissions.addOneTimeEvent" value="User can add one-time events" id="checkbox8">-->
                                                    <!--<label for="checkbox8">User can add one-time events</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIRST PORTLET END-->

                        <!--SECOND PORTLET-->
                        <div pg-portlet id="portlet-linear1" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                            <div class="panel-heading1 bg-primary custom-header">
                                <div class="panel-title">GENERAL SETTINGS
                                </div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body custom-panel-body">
                                <div class="row m-t-20">
                                    <div class="col-md-4">
                                        <!-- START PANEL -->
                                        <div class="panel panel-default">
                                            <!--<div class="panel-heading">-->
                                            <!--<div class="panel-title">-->
                                            <!--Photos-->
                                            <!--</div>-->
                                            <div class="tools">
                                                <a class="collapse" href="javascript:;"></a>
                                                <a class="config" data-toggle="modal" href="#grid-config"></a>
                                                <a class="reload" href="javascript:;"></a>
                                                <a class="remove" href="javascript:;"></a>
                                            </div>
                                            <!--</div>-->
                                            <div class="panel-body no-scroll no-padding">
                                                <div class="dropzone custom-dropzone" action="/file-upload" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                                                    <input class="input-position" name="file" type="file" multiple/>
                                                    <!--<div class="dz-default dz-message"><span>Drop files here to upload</span></div>-->
                                                    <div class="row">
                                                        <div class="col-md-2 p-r-0">
                                                            <span class="input-group-addon1"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                                        </div>
                                                        <div class="col-md-10 p-l-0 custom-margintop-upload">
                                                            <span class="custom-margintop-uploadtext">Upload your avatar</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                    <!--<div class="col-md-4">-->
                                        <!--<form role="form">-->
                                            <!--<div class="form-group  form-group-default">-->
                                                <!--<div class="col-md-6 p-l-0">-->
                                                    <!--<label>LOCK SCREEN</label>-->
                                                    <!--<label class="custom-label">No</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-6 p-r-0">-->
                                                    <!--<input type="checkbox" class="js-switch" ng-model="lockScreenModel.check" ui-switch="{color: '#10cfbd'}" ng-change="lockScreen(lockScreenModel.check)"/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                    <div class="col-md-4">
                                        <form role="form">
                                            <div class="form-group  form-group-default">
                                                <div class="col-md-6 p-l-0">
                                                    <label>SIDE MENU POSiTION</label>
                                                    <label class="custom-label">{{menuPosition}}</label>
                                                </div>
                                                <div class="col-md-6 p-r-0">
                                                    <input type="checkbox" class="js-switch" ng-model="newUser.menuPos" ng-true-value="'right'" ng-false-value="'left'" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(newUser.menuPos)" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container-fluid container-fixed-lg p-l-5 p-r-5">
                                        <!-- START PANEL -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading custom-color-tite">
                                                <div class="panel-title">COLOR OPTIONS
                                                </div>
                                                <div class="tools">
                                                    <a class="collapse" href="javascript:;"></a>
                                                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                                                    <a class="reload" href="javascript:;"></a>
                                                    <a class="remove" href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="panel-body builder">
                                                <div class="wrapper scroll-wrapper">
                                                    <div class="row m-t-10 scrollable scroll-scrollx_visible">
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('default',1)" ng-class="{'active':builder.theme == 'default' }">
                                                                <img alt="Theme default" src="../../../../img/theme_default.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Default</span>
                                                                        <span class="fs-11">pages default color palette</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('corporate',2)" ng-class="{'active':builder.theme == 'corporate' }">
                                                                <img alt="Theme corporate" src="../../../../img/theme_corporate.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Corporate</span>
                                                                        <span class="fs-11">give your an a profesional look</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('retro',3)" ng-class="{'active':builder.theme == 'retro' }">
                                                                <img alt="Theme retro" src="../../../../img/theme_retro.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Retro</span>
                                                                        <span class="fs-11">calm color palette</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('unlax',4)" ng-class="{'active':builder.theme == 'unlax' }">
                                                                <img alt="Theme unlax" src="../../../../img/theme_unlax.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Unlax</span>
                                                                        <span class="fs-11">calm color palette</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('vibes',5)" ng-class="{'active':builder.theme == 'vibes' }">
                                                                <img alt="Thmeme vibes" src="../../../../img/theme_vibes.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Vibes</span>
                                                                        <span class="fs-11">calm color palette</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a href="" class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('abstract',6)" ng-class="{'active':builder.theme == 'abstract' }">
                                                                <img alt="Theme abstract" src="../../../../img/theme_abstract.png" class="image-responsive-height">
                                                                <div class="p-l-15 p-r-20 p-b-10 p-t-10">
                                                                    <p class="no-margin">
                                                                        <span class="block font-montserrat text-uppercase fs-12 bold">Abstract</span>
                                                                        <span class="fs-11">calm color palette</span>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!--<div class="scroll-element scroll-x scroll-scrollx_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div>-->
                                                    <!--<div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 80px; top: 0px;"></div></div></div>-->
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--SECOND PORTLET END-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row btn-position">
            <button class="btn btn-primary btn-cons" ng-click="addUser()"  ng-disabled="!personal.$valid">Save</button>
            <button class="btn btn-default btn-cons" ui-sref="side_menu.users">Cancel</button>
        </div>
    </form>
</div>
