.custom-dropzone {
    min-height: 45px!important;
    border: 0px solid #f0f0f0!important;
    background-color: #ffffff!important;
    padding: 0px!important;
}
.input-group-addon1 {
    height: calc(43px);
    /*min-width: calc(50px);*/
    /*border-radius: 0px;*/
    /*border-width: initial;*/
    /*border-style: none;*/
    /*border-color: initial;*/
    /*border-image: initial;*/
    color: rgba(98, 98, 98, 0.47);
    font-size: 14px;
    display: table-cell;
    background: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(0, 0, 0, 0.07);*/
    border-image: initial;
    padding: 12px;
    /*border-radius: 3px;*/
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.input-position {
    position: absolute!important;
}
.custom-margintop-upload {
    margin-top: 12px;
}
.custom-margintop-uploadtext {
    font-weight: 400!important;
    color: #c9c9c9!important;
    font-size: 14px!important;
}
/*.dropzone .dz-default.dz-message {*/
    /*background-image: none!important;*/
/*}*/
.custom-transparent-portlet {
    background: transparent!important;
    border: 0!important;
    width: 80%!important;
    margin-bottom: 0px!important;
}
.custom-portlet-heading {
    padding-left: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    min-height: 20px!important;
}
.custom-label {
    line-height: 15px!important;
    font-weight: 400!important;
    color: rgba(98, 98, 98, 0.47);
}
.custom-color-tite {
    border-bottom: 1px solid #f0f0f0!important;
}

.wrapper {
    width: 100%!important;
    overflow-x: scroll!important;
}
.scrollable {
    width: 1500px!important;
    display: inline-flex!important;
}
.panel-title-custom {
    text-transform: none!important;
}
.custom-header {
    /*background-color: #6d5cae!important;*/
    color: #ffffff!important;
    /*border: 1px solid #6d5cae!important;*/
}
.custom-panel-body {
    background-color: #f8f8f8;
}
.custom-margintop-uploadtext {
    margin-left: -200px;
}
@media screen and (min-width: 1800px) {
    .wrapper {
        overflow-x: hidden!important;
    }
}