<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
	<div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
		<div class="panel-heading">
			<div class="panel-title">CREATE NEW CATEGORY
			</div>
			<div class="panel-controls">
				<ul>
					<li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
					</li>
					<!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
					<!--</li>-->
				</ul>
			</div>
		</div>
		<div class="panel-body panel-heading">
			<!--<div class="col-xs-12">-->
				<div class="row">
					<div class="col-xs-12">
						<!--<div class="panel-title">CREATE NEW CATEGORY</div>-->
						<p class="subtitle">Here you can create a new category</p>
					</div>
				</div>
				<div class="row">
					<form name="createCategorie">
						<div class="col-xs-12 col-sm-9 col-md-10 padding-custom-left">
							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createCategorie.categorieName.$invalid && !createCategorie.categorieName.$pristine }">
								<label>ENTER CATEGORY NAME</label>
								<input name="categorieName" type="text" placeholder="cakes" class="form-control" ng-model="newCategorie.categorie" required="true">
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-2 padding-custom-right">
							<button class="btn btn-primary m-b-10 btn-create-ctg pull-right" type="button" ng-click="addCategorie()" ng-disabled="!createCategorie.$valid"><span class="bold">Create</span>
							</button>
						</div>
					</form>
				</div>
				<div class="row ctg-input">
					<div class="col-xs-12">
						<div class="panel-title">ALL categories</div>
						<p class="subtitle">List of all categories</p>
					</div>
				</div>
				<div class="row" ng-repeat="category in categories track by $index">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div pg-form-group class="form-group form-group-default disabled">
							<label>ENTER CATEGORY name</label>
							<input type="email" class="form-control" ng-model="category.name" disabled>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-2">
						<button class="btn btn-default btn-create-ctg m-b-10 pull-right" type="button" data-toggle="modal" data-target="#edit-category" ng-click="setCategoryForEdit(category.name, category.id, $index)">Edit</button>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-2">
						<button class="btn btn-primary btn-create-ctg m-b-10 pull-right" type="button" ng-click="deleteCategorie(category.id,$index)"><span class="bold">Delete</span>
						</button>
					</div>
				</div>
			<!--</div>-->
		</div>
	</div>
	<!-- <div class="row btn-position">
		<button class="btn btn-primary btn-cons">Save</button>
		<button class="btn btn-default btn-cons" ui-sref="side_menu.scheduled_blocks">Cancel</button>
	</div> -->
</div>

<!--MODAL-->

<div class="modal fade slide-up disable-scroll" id="edit-category" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
	<div class="modal-dialog ">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<div class="text-center">
						<h5><span class="semi-bold">Hey, you forgot choose some awesome add ons!</span></h5>
						<p><span>Quickly pick up some of recommended products.</span></p>
					</div>
				</div>
				<div class="modal-body">
					<form name="categoryEdit">
						<div pg-form-group class="form-group form-group-default m-l-20 m-r-20 required" ng-class="{ 'has-error' : categoryEdit.editCategoryName.$invalid && !categoryEdit.editCategoryName.$pristine }">
							<label>ENTER CATEGORY NAME</label>
							<input type="text" name="editCategoryName" placeholder="cakes" class="form-control" ng-model="categoryForEdit.name" required="true">
						</div>
						<div class="text-center">
							<button class="btn btn-primary btn-cons m-b-10" type="button" ng-click="editCategory()" ng-disabled="!categoryEdit.$valid"><span class="bold">Save</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>