<div>
    <div class="container-fluid padding-25 sm-padding-10 sm-gutter">
        <form role="form" name="newPackage">
            <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
                <div class="panel-heading ">
                    <div class="panel-title">CREATE A PACKAGE
                    </div>
                    <div class="panel-controls">
                        <ul>
                            <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                            </li>
                            <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!-- <form role="form" name="personal"> -->
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : newPackage.packagename.$invalid && !newPackage.packagename.$pristine }">
                                <label>PACKAGE NAME</label>
                                <input type="text" name="packagename" ng-model="package.name" placeholder="Birthday adventure" class="form-control" required>
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="row">
                        <!--<div class="panel-heading summernote-padding-left">-->
                            <!--<div class="panel-title summernote-font-size">-->
                                <!--PACKAGE DESCRIPTION-->
                            <!--</div>-->
                        <!--</div>-->
                    <div pg-form-group class="form-group form-group-default reauired-desc required">
                        <p>PACKAGE DESCRIPTION</p>
                    </div>
                        <div class="no-scroll">
                            <div class="summernote-wrapper">
                                <div id="summernote" config="summernote_options" ng-model="package.description" on-focus="focus(evt)" on-blur="blur(evt)" summernote required="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-t-15 p-l-0">
                            <!-- START PANEL -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Photos
                                    </div>
                                    <div class="tools">
                                        <a class="collapse" href="javascript:;"></a>
                                        <a class="config" data-toggle="modal" href="#grid-config"></a>
                                        <a class="reload" href="javascript:;"></a>
                                        <a class="remove" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="panel-body no-scroll no-padding">
                                    <div class="dropzone" method="post" action="/file-upload" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                                        <input name="file" type="file" />
                                        <div class="custom-message-position"><span><h1>Drop files here to upload</h1></span></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>
                        <div class="col-md-6 m-t-15 p-r-0">
                            <!-- START PANEL -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        OPTIONS
                                    </div>
                                    <div class="tools">
                                        <a class="collapse" href="javascript:;"></a>
                                        <a class="config" data-toggle="modal" href="#grid-config"></a>
                                        <a class="reload" href="javascript:;"></a>
                                        <a class="remove" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="panel-body no-scroll no-padding">
                                    <div class="custom-content">
                                        <div class="row">
                                            <button ui-sref="side_menu.add_option" class="btn btn-primary btn-cons options-first-box">
                                                <div class="plus-box-options">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                                <p class="first-options-text"><span class="custom-bold">Add options |</span><span> create new options</span></p>
                                            </button>
                                        </div>
                                        <div ng-repeat="option in packageOptions track by $index">
                                            <div class="row options-second-box m-t-10">
                                                <div class="">
                                                    <div class="col-md-6">
                                                        <div class="checkbox check-success  ">
                                                            <input ng-click="makeCheckBoxChange($index)" type="checkbox" value="1" id="box+{{$index}}">
                                                            <label for="box+{{$index}}">{{option.name}}</label>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6 options-second-text-pad">
                                                        <p class="second-options-text">{{option.name}}</p>
                                                    </div> -->
                                                    <div class="col-md-6">
                                                    <button class="btn btn-primary btn-cons btn-custom" ui-sref="side_menu.edit_option({id: option.id})">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btn-position">
                <button class="btn btn-primary btn-cons" ng-click="addPackage()" ng-disabled="!newPackage.$valid || selectedOptions.length == 0">Save</button>
                <button class="btn btn-default btn-cons" ui-sref="side_menu.packages">Cancel</button>
            </div>
        </form>
    </div>
</div>
