.custom-dropzone {
    min-height: 45px!important;
    border: 0px solid #f0f0f0!important;
    background-color: #ffffff!important;
    padding: 0px!important;
}
.input-group-addon1 {
    height: calc(43px);
    /*min-width: calc(50px);*/
    /*border-radius: 0px;*/
    /*border-width: initial;*/
    /*border-style: none;*/
    /*border-color: initial;*/
    /*border-image: initial;*/
    color: rgba(98, 98, 98, 0.47);
    font-size: 14px;
    display: table-cell;
    background: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(0, 0, 0, 0.07);*/
    border-image: initial;
    padding: 12px;
    /*border-radius: 3px;*/
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.input-position {
    position: absolute!important;
}
.custom-margintop-upload {
    margin-top: 12px;
}
.custom-margintop-uploadtext {
    font-weight: 400!important;
    color: #c9c9c9!important;
    font-size: 14px!important;
}
/*.dropzone .dz-default.dz-message {*/
/*background-image: none!important;*/
/*}*/
.custom-transparent-portlet {
    background: transparent!important;
    border: 0!important;
    width: 80%!important;
    margin-bottom: 0px!important;
}
.custom-portlet-heading {
    padding-left: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    min-height: 20px!important;
}
.custom-label {
    line-height: 15px!important;
    font-weight: 400!important;
    color: rgba(98, 98, 98, 0.47);
}
.custom-color-tite {
    border-bottom: 1px solid #f0f0f0!important;
}

.wrapper {
    width: 100%!important;
    overflow-x: scroll!important;
}
.scrollable {
    width: 1500px!important;
    display: inline-flex!important;
}
.panel-title-custom {
    text-transform: none!important;
}
.custom-header {
    /*background-color: #6d5cae!important;*/
    color: #ffffff!important;
    /*border: 1px solid #6d5cae!important;*/
}
.custom-panel-body {
    background-color: #f8f8f8;
}
.custom-margintop-uploadlogo {
    margin-left: -135px;
}

.checkable-square {
    webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}
.custom-radioPosition {
    float: left;
}
/* step 3 content */
.square-step3 {
    width: 100%;
    max-width: 50px;
    min-height: 50px;
    /*padding-bottom: 20px;*/
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-right: 1px;
}
.square-step3 .firstColor {
    height: 53px;
    width: 53px;
    background-color: #6d5cae;
}
.square-step3 .secondColor {
    height: 53px;
    width: 53px;
    background-color: #42aefa;
}
.square-step3 .thirdColor {
    height: 53px;
    width: 53px;
    background-color: #00cfbd;
}
.square-step3 .fourthColor {
    height: 53px;
    width: 53px;
    background-color: #f9d146;
}
.square-step3 .fifthColor {
    height: 53px;
    width: 53px;
    background-color: #f8564f;
}
.sixthColor {
    height: 53px;
    width: 90px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.07);
    text-align: left;
    padding-left: 18px;
}
.color-selected {
    margin-bottom: 0px;
    color: #8b91a0;
    font-size: 12px;
    margin-top: 5px;
}
.active-color {
    font-weight: 500;
}
.square-step3:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 88%;
    /*background: -moz-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -webkit-gradient(left bottom, left bottom, color-stop(-75%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));*/
    /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -o-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -ms-linear-gradient(bottom, rgba(0,0,0,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: linear-gradient(to top, rgba(0,0,0,1) -50%, rgba(255,255,255,0) 100%);*/
}
/*.square-step3 img {*/
    /*height: 50px;*/
/*}*/
/*.square-step3 img:hover {*/
    /*background-color: red;*/
    /*opacity: 30%;*/
/*}*/
input[type="radio"][id^="cb"] {
    display: none;
}
:checked + label {
    border-color: #ddd;
}
:checked + label:before {
    background-color: grey;
    transform: scale(1);
}
/*:checked + label img {*/
    /*border: 5px solid #6d5caf;*/
    /*box-shadow: 0 0 5px #333;*/
    /*z-index: -1;*/
/*}*/
:checked + label .square-step3:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    /*background: -moz-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -webkit-gradient(left bottom, left bottom, color-stop(-75%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));*/
    /*background: -webkit-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -o-linear-gradient(bottom, rrgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: -ms-linear-gradient(bottom, rgba(109,92,175,1) -75%, rgba(255,255,255,0) 100%);*/
    /*background: linear-gradient(to top, rgba(109,92,175,1) -50%, rgba(255,255,255,0) 100%);*/
}
.custom-form-group {
    padding-bottom: 0px!important;
}
.custom-margin {
    margin-top: -6px!important;
}

@media screen and (min-width: 1800px) {
    .wrapper {
        overflow-x: hidden!important;
    }
}