<!-- <div class="text-center">
	<button ng-click="changeTheme('/css/pages.css')">Change to Default</button>
	<button ng-click="changeTheme('/css/themes/retro.css')">Change to Retro</button>
	<button ng-click="changeTheme('/css/themes/abstract.css')">Change to Abstract</button>
	<button ng-click="changeTheme('/css/themes/calendar.css')">Change to Calendar</button>
	<button ng-click="changeTheme('/css/themes/corporate.css')">Change to Corporate</button>
	<button ng-click="changeTheme('/css/themes/simple.css')">Change to Simple</button>
	<button ng-click="changeTheme('/css/themes/unlax.css')">Change to Unlax</button>
	<button ng-click="changeTheme('/css/themes/vibes.css')">Change to Vibes</button>
	<button ng-click="changeTheme('/css/pages.rtl.css')">Change to Right Side</button>
	<button ng-click="changeTheme('/css/pages.css')">Change to Left Side</button>
</div> -->


<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
	<div pg-portlet id="portlet-linear1" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
		<div class="panel-heading1 bg-primary custom-header">
			<div class="panel-title">THEMES
			</div>
			<div class="panel-controls">
				<ul>
					<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse custom-panel-control"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body custom-panel-body">
			<div class="row m-t-20">
				<div class="container-fluid container-fixed-lg p-l-5 p-r-5">
					<!-- START PANEL -->
					<div class="panel panel-default m-b-0">
						<div class="panel-heading custom-color-tite">
							<div class="panel-title">RIBBON
							</div>
							<div class="tools">
								<a class="collapse" href="javascript:;"></a>
								<a class="config" data-toggle="modal" href="#grid-config"></a>
								<a class="reload" href="javascript:;"></a>
								<a class="remove" href="javascript:;"></a>
							</div>
						</div>
						<div class="panel-body">
							<div class="col-md-4 m-t-15 p-l-0">
								<div pg-form-group class="form-group form-group-default">
									<label>CHANGE NAME</label>
									<input type="text" name="changeribbon" ng-model="profileSettings.ribbon_name" class="form-control" placeholder="Recommended" required>
								</div>
							</div>
							<div class="col-md-8 m-t-15">
								<div class="row">
									<div class="custom-radioPosition">
										<div class="checkable-square">
											<input type="radio" id="cb4" ng-click="changeRibbonColorName('Purple')" name="color" ng-checked="profileSettings.ribbon_color_name=='Purple'" />
											<label for="cb4">
												<div class="square-step3">
													<div class="firstColor"></div>
												</div>
											</label>
										</div>
									</div>
									<div class="custom-radioPosition">
										<div class="checkable-square">
											<input type="radio" id="cb5" ng-click="changeRibbonColorName('Blue')" name="color" ng-checked="profileSettings.ribbon_color_name=='Blue'" />
											<label for="cb5">
												<div class="square-step3">
													<div class="secondColor"></div>
												</div>
											</label>
										</div>
									</div>
									<div class="custom-radioPosition">
										<div class="checkable-square">
											<input type="radio" id="cb6" ng-click="changeRibbonColorName('Green')" name="color" ng-checked="profileSettings.ribbon_color_name=='Green'"/>
											<label for="cb6">
												<div class="square-step3">
													<div class="thirdColor"></div>
												</div>
											</label>
										</div>
									</div>
									<div class="custom-radioPosition">
										<div class="checkable-square">
											<input type="radio" id="cb7" ng-click="changeRibbonColorName('Yellow')" name="color" ng-checked="profileSettings.ribbon_color_name=='Yellow'" />
											<label for="cb7">
												<div class="square-step3">
													<div class="fourthColor"></div>
												</div>
											</label>
										</div>
									</div>
									<div class="custom-radioPosition">
										<div class="checkable-square" >
											<input type="radio" ng-click="changeRibbonColorName('Red')" id="cb8" name="color" ng-checked="profileSettings.ribbon_color_name=='Red'" />
											<label for="cb8">
												<div class="square-step3">
													<div class="fifthColor"></div>
												</div>
											</label>
										</div>
									</div>
									<div class="custom-radioPosition">
										<div class="sixthColor">
											<p class="color-selected">Selected</p>
											<p class="active-color">{{profileSettings.ribbon_color_name}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PANEL -->
				</div>
			</div>
			<div class="row m-t-20">
				<div class="col-md-4">
					<!-- START PANEL -->
					<div class="panel panel-default">
						<!--<div class="panel-heading">-->
						<!--<div class="panel-title">-->
						<!--Photos-->
						<!--</div>-->
						<div class="tools">
							<a class="collapse" href="javascript:;"></a>
							<a class="config" data-toggle="modal" href="#grid-config"></a>
							<a class="reload" href="javascript:;"></a>
							<a class="remove" href="javascript:;"></a>
						</div>
						<!--</div>-->
						<div class="panel-body no-scroll no-padding">
							<div class="dropzone custom-dropzone" action="/file-upload" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
								<input class="input-position" name="file" type="file" multiple/>
								<!--<div class="dz-default dz-message"><span>Drop files here to upload</span></div>-->
								<div class="row">
									<div class="col-md-2 p-r-0">
										<span class="input-group-addon1"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
									</div>
									<div class="col-md-10 p-l-0 custom-margintop-upload">
										<span class="custom-margintop-uploadtext">Upload your avatar</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PANEL -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div pg-form-group class="form-group custom-form-group form-group-default required" ng-class="{ 'has-error' : personal.firstname.$invalid && !personal.firstname.$pristine }">
						<label>CHANGE PASSWORD</label>
						<input type="password" name="changepassword" ng-model="profileSettings.password" class="form-control custom-margin" placeholder="Enter new password" required>
					</div>
				</div>
				<div class="col-md-4">
					<form role="form">
						<div class="form-group  form-group-default">
							<div class="col-md-6 p-l-0">
								<label>SIDE MENU POSiTION</label>
								<label class="custom-label">{{profileSettings.menu_position}}</label>
							</div>
							<div class="col-md-6 p-r-0">
								<input type="checkbox" class="js-switch" ng-model="switchButton" ui-switch="{color: '#10cfbd'}" ng-change="changeMenuPosition(switchButton)" checked="true"/>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<!--<div class="panel-heading">-->
						<!--<div class="panel-title">-->
						<!--Photos-->
						<!--</div>-->
						<div class="tools">
							<a class="collapse" href="javascript:;"></a>
							<a class="config" data-toggle="modal" href="#grid-config"></a>
							<a class="reload" href="javascript:;"></a>
							<a class="remove" href="javascript:;"></a>
						</div>
						<!--</div>-->
						<div class="panel-body no-scroll no-padding">
							<div class="dropzone custom-dropzone" action="/file-upload" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
								<input class="input-position" name="file" type="file" multiple/>
								<!--<div class="dz-default dz-message"><span>Drop files here to upload</span></div>-->
								<div class="row">
									<div class="col-md-2 p-r-0">
										<span class="input-group-addon1"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
									</div>
									<div class="col-md-10 p-l-0 custom-margintop-upload">
										<span class="custom-margintop-uploadlogo">Upload logo for booking event</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid container-fixed-lg p-l-5 p-r-5">
					<!-- START PANEL -->
					<div class="panel panel-default">
						<div class="panel-heading custom-color-tite">
							<div class="panel-title">COLOR OPTIONS
							</div>
							<div class="tools">
								<a class="collapse" href="javascript:;"></a>
								<a class="config" data-toggle="modal" href="#grid-config"></a>
								<a class="reload" href="javascript:;"></a>
								<a class="remove" href="javascript:;"></a>
							</div>
						</div>
						<div class="panel-body builder">
							<div class="wrapper scroll-wrapper">
								<div class="row m-t-10 scrollable scroll-scrollx_visible">
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/pages.css', 'default',1)" ng-class="{'active':builder.theme == 'default'}">
											<img alt="Theme default" src="../../../../img/theme_default.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Default</span>
													<span class="fs-11">pages default color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/corporate.css', 'corporate', 2)" ng-class="{'active':builder.theme == 'corporate' }">
											<img alt="Theme corporate" src="../../../../img/theme_corporate.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Corporate</span>
													<span class="fs-11">give your an a profesional look</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/retro.css', 'retro',3)" ng-class="{'active':builder.theme == 'retro' }">
											<img alt="Theme retro" src="../../../../img/theme_retro.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Retro</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="" class="btn-toggle-theme b-a b-grey theme-selector" ng-click="setTheme('/css/themes/unlax.css', 'unlax',4)" ng-class="{'active':builder.theme == 'unlax' }">
											<img alt="Theme unlax" src="../../../../img/theme_unlax.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Unlax</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('/css/themes/vibes.css', 'vibes',5)" ng-class="{'active':builder.theme == 'vibes' }">
											<img alt="Thmeme vibes" src="../../../../img/theme_vibes.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Vibes</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a class="btn-toggle-theme b-a b-grey theme-selector m-b-30" ng-click="setTheme('/css/themes/abstract.css', 'abstract',6)" ng-class="{'active':builder.theme == 'abstract' }">
											<img alt="Theme abstract" src="../../../../img/theme_abstract.png" class="image-responsive-height">
											<div class="p-l-15 p-r-20 p-b-10 p-t-10">
												<p class="no-margin">
													<span class="block font-montserrat text-uppercase fs-12 bold">Abstract</span>
													<span class="fs-11">calm color palette</span>
												</p>
											</div>
										</a>
									</div>
								</div>
								<!--<div class="scroll-element scroll-x scroll-scrollx_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div>-->
								<!--<div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 80px; top: 0px;"></div></div></div>-->
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- END PANEL -->
				</div>
			</div>
		</div>
	</div>
	<div class="row btn-position">
		<button class="btn btn-primary btn-cons" ng-click="editProfileSettings(profileSettings)">Save</button>
		<button class="btn btn-default btn-cons" >Cancel</button>
	</div>
</div>
