<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
	<div id="portlet-advance" class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				EDIT PACKAGE
			</div>
			<div class="panel-controls">
				<ul>
					<li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
					</li>
					<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>
					<!--</li>-->
				</ul>
			</div>
		</div>
		<div class="panel-body panel-heading">
			<div class="row">
				<div class="col-xs-12 edit-package-title">
					<h3>PICK A DATE</h3>
				</div>
				<div class="col-xs-12 table-edit-package">
					<div id="datepicker-embeded" ui-jq="datepicker" ui-options='{
			            daysOfWeekDisabled: "0,1"
			        }'></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 edit-package-title">
					<h3>AVAIBLE TIME SLOTS FOR   <span>JUNE,17/2017</span></h3>
				</div>
				<div class="col-xs-12 table-edit-package">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								<div class="col-xs-12 col-md-4 m-t-10">
									<div class="time-slots">
										<p><b>11:00 PM - 12:30 PM</b></p>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 m-t-10 edit-package-title">
									<button class="btn btn-primary btn-pick">PICK</button>
									<h3 class="m-t-0 m-b-0">Birthday Adventure</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row btn-position">
		<button class="btn btn-primary btn-cons">Save</button>
		<button class="btn btn-default btn-cons" ui-sref="side_menu.edit_order">Cancel</button>
	</div>
</div>