.table-edit-package {
	margin-top:5px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
}
.table-condensed {
	width: 100%;
}
.datepicker table tr td {
	height: 50px;
}
.edit-package-title h3 {
	color: #6f7b8a;
    font-size: 13px;
    font-weight: 700;
}
.edit-package-title span {
	color: #6d5caf;
    font-size: 13px;
    font-weight: 700;
}
.time-slots:hover {
	background-color: #6d5cae;
	cursor: pointer;
	color: #fff;
}
.time-slots {
	border: 1px solid #cce4f0;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 10px;
	color: #5b8ba5;
}
.time-slots p {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.btn-pick {
	border-radius: 20px;
    height: 32px;
    background-color: #fff;
    color: #6d5cae;
    border: 2px solid #6d5cae;
    float: left;margin-right: 10px;
    line-height: 17px;
}
.btn-pick:hover {
	border-radius: 20px;
    height: 33px;
    background-color: #6d5cae;
    color: #fff;
    border: 2px solid #6d5cae;
}