<div class="login-wrapper">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="../../img/login-background.png" data-src="../../img/login-background.png" data-src-retina="../../img/login-background.png" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white"></h2>
            <p class="small">
                
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <!--<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">-->
            <h1 class="font-logo">Booking</h1>
            <p class="p-t-35">Sign into your account</p>
            <!-- START Login Form -->
            <form id="form-login" name="personal" class="p-t-15" role="form" novalidate ng-submit="onSubmit()">
                <!-- START Form Control-->
                <div class="form-group form-group-default required" ng-class="{ 'has-error' : personal.username.$invalid && !personal.username.$pristine }">
                    <label>Username</label>
                    <div class="controls">
                        <input type="text" ng-model="user.username" name="username" placeholder="Username" class="form-control" required>
                    </div>
                </div>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div class="form-group form-group-default required" ng-class="{ 'has-error' : personal.password.$invalid && !personal.password.$pristine }">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                <label class="error" ng-if="invalidCredentials">Username or password were incorrect.</label>
                <!-- START Form Control-->
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="checkbox ">
                            <input type="checkbox" value="1" id="checkbox1">
                            <label for="checkbox1">Keep Me Signed in</label>
                        </div>
                    </div>
                    <!--<div class="col-md-6 text-right">-->
                        <!--<a href="#" class="text-info small">Help? Contact Support</a>-->
                    <!--</div>-->
                </div>
                <!-- END Form Control-->
                <button class="btn btn-default btn-cons m-t-10" ui-sref="register" type="button">Register</button>
                <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
            </form>
            <!--END Login Form-->
            <div class="pull-bottom sm-pull-bottom">
                <!--<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">-->
                    <!--<div class="col-sm-3 col-md-2 no-padding">-->
                        <!--<img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">-->
                    <!--</div>-->
                    <!--<div class="col-sm-9 no-padding m-t-10">-->
                        <!--<p>-->
                            <!--<small>-->
                                <!--Create a pages account. If you have a facebook account, log into it for this-->
                                <!--process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#"-->
                                                                                                       <!--class="text-info">Google</a>-->
                            <!--</small>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- BEGIN VENDOR JS -->
<!--<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>-->
<!--<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>-->
<!--<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>-->
<!--<script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>-->
<!--<script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>-->
<!-- END VENDOR JS -->
<!--<script src="pages/js/pages.min.js"></script>-->
<!--<script>-->
    <!--$(function()-->
    <!--{-->
        <!--$('#form-login').validate()-->
    <!--})-->
<!--</script>-->