<div class="container-xs-height full-height">
    <div class="row-xs-height">
        <div class="col-xs-height col-middle">
            <div class="error-container text-center">
                <h1 class="error-number">404</h1>
                <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
                <p>This page you are looking for does not exsist <a href="">Report this?</a>
                </p>
                <div class="error-container-innner text-center">
                    <form>
                        <div pg-form-group class="form-group form-group-default input-group transparent text-left">
                            <label>Search</label>
                            <input class="form-control" placeholder="Try searching the missing page" type="email"> <span class="input-group-addon pg-search"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pull-bottom sm-pull-bottom full-width">
    <div class="error-container">
        <!--<div class="error-container-innner">-->
            <div class="row m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class=" col-md-4 p-r-0">
                    <!--<img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" ui-jq="unveil" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">-->
                    <h3 class="font-logo-menu">booking</h3>
                </div>
                <div class=" col-md-8 p-l-0">
                    <p><small>Create a pages account. If you have a facebook account, log into it for this process.
                        Sign in with <a href="">Facebook</a> or <a href="">Google</a></small>
                    </p>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>