.option-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.option-name span {
    display: table-cell;
    vertical-align: middle;
    color: #626262;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}