.custom-message-position {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 50%;
    left: 50%;
}
.option-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.option-name span {
    display: table-cell;
    vertical-align: middle;
    color: #626262;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}