<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <form role="form" name="createAddOn" id="form-personal">
    <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
        <div class="panel-heading ">
            <div class="panel-title">CREATE ADD ON
            </div>
            <div class="panel-controls">
                <ul>
                    <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                    </li>
                    <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body">
            
                <div class="row">
                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createAddOn.addonname.$invalid && !createAddOn.addonname.$pristine }">
                        <label>ADD-ON NAME</label>
                        <input type="text" name="addonname" ng-model="newAddOn.name" placeholder="Birthday adventure" class="form-control" required="true">
                    </div>
                </div>
                <div class="row ">
                    <!--<div class="panel-heading summernote-padding-left">-->
                        <!--<div class="panel-title summernote-font-size">-->
                            <!--ADD ON DESCRIPTION-->
                        <!--</div>-->
                    <!--</div>-->
                    <div pg-form-group class="form-group form-group-default reauired-desc required">
                        <p>ADD ON DESCRIPTION</p>
                    </div>
                    <div class="no-scroll">
                        <div class="summernote-wrapper">
                            <div id="summernote" config="summernote_options" ng-model="newAddOn.description" on-focus="focus(evt)" on-blur="blur(evt)" summernote required="true"></div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 m-t-15 p-l-0">
                    <!-- START PANEL -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Photos
                            </div>
                            <div class="tools">
                                <a class="collapse" href="javascript:;"></a>
                                <a class="config" data-toggle="modal" href="#grid-config"></a>
                                <a class="reload" href="javascript:;"></a>
                                <a class="remove" href="javascript:;"></a>
                            </div>
                        </div>
                        <form class="panel-body no-scroll no-padding">
                            <div class="dropzone" method="post" action="/file-upload" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig" ng-model="dropzone">
                                <input name="images" type="file" multiple />
                                <div class="custom-message-position"><span><h1>Drop files here to upload</h1></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- END PANEL -->
                </div>
                    <div class="col-md-6 m-t-15 p-r-0">
                        <!-- START PANEL -->
                        <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body">-->
                        <!-- <form class="" role="form" name="createAddOn" id="form-personal"> -->
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createAddOn.priceName.$invalid && !createAddOn.priceName.$pristine }">
                                <label>PRICE</label>
                                <input type="text" data-a-sign="$ " placeholder="$50" name="priceName" class="autonumeric form-control" ui-jq="autoNumeric" ui-options="'init'" ng-model="newAddOn.price" required="true">
                            </div>
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createAddOn.unitOfMeasure.$invalid && !createAddOn.priceName.$pristine }">
                                <label>UNIT OF MEASURE</label>
                                <input type="text" data-a-sign="$ " placeholder="Please insert unit of measure" name="unitOfMeasure" class="autonumeric form-control" ui-options="'init'" ng-model="newAddOn.unitOfMeasure" required="true">
                            </div>
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createAddOn.qty.$invalid && !createAddOn.qty.$pristine }">
                                <label>QUANTITY</label>
                                <input type="text" placeholder="Insert quantity" name="qty" ng-model="newAddOn.quantity" class="form-control" ui-jq="autoNumeric" required="true">
                            </div>
                            <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : createAddOn.taxableName.$invalid && !createAddOn.taxableName.$pristine }">
                                <label class="">IS TAXABLE?</label>
                                <ui-select ng-model="newAddOn.isTaxable" theme="bootstrap" required="true">
                                    <ui-select-match name="taxableName" placeholder="No">{{$select.selected.answer}} <span class="custom-color"></span></ui-select-match>
                                    <ui-select-choices group-by="'country'" repeat="item in taxable | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.answer | highlight: $select.search))"></span>
                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : createAddOn.categoryName.$invalid && !createAddOn.categoryName.$pristine }">
                                <label class="">CATEGORY</label>
                                <ui-select ng-model="newAddOn.category" theme="bootstrap" required="true">
                                    <ui-select-match name="categoryName" placeholder="Choose category">{{$select.selected.name}} <span class="custom-color"></span></ui-select-match>
                                    <ui-select-choices group-by="'country'" repeat="item in categories | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                        <!-- <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small> -->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        <!-- </form> -->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- END PANEL -->
                    </div>
                </div>
                <p>CHOOSE OPTIONS</p>
                <div class="row row-margin2">
                    <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="i in getNumber(numbersOfBoxes) track by $index">
                        <div class="boxes-style">
                            <div class="option-name">
                                <span>{{activeCheckBox[$index].name|limitTo:10}}</span>
                            </div>
                            <label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': activeCheckBox[$index].active}">
                                <div class="checkbox-circle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <input hidden ng-click="makeCheckBoxChange($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>

                                </div>
                                <!-- <div class="text-choose-options">
                                    <p>{{activeCheckBox[$index].name|limitTo:10}}</p>
                                </div> -->
                            </label>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row btn-position">
        <button class="btn btn-primary btn-cons" ng-click="addAddon()" ng-disabled="!createAddOn.$valid||checkForOptions()">Save</button>
        <button class="btn btn-default btn-cons" ui-sref="side_menu.add_ons">Cancel</button>
    </div>
    </form>
</div>
