<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <form role="form" name="createPolicy">
        <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
            <div class="panel-heading ">
                <div class="panel-title">CREATE POLICY
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                        </li>
                        <!--<li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                    <div class="row">
                        <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : createPolicy.policyname.$invalid && !createPolicy.policyname.$pristine }">
                            <label>Policy name</label>
                            <input type="text" name="policyname" ng-model="newPolicy.name" placeholder="Birthday adventure" class="form-control" required="true">
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="panel-heading summernote-padding-left">-->
                            <!--<div class="panel-title summernote-font-size">-->
                                <!--POLICY DESCRIPTION-->
                            <!--</div>-->
                        <!--</div>-->
                        <div pg-form-group class="form-group form-group-default reauired-desc required">
                            <p>POLICY DESCRIPTION</p>
                        </div>
                        <div class="no-scroll">
                            <div class="summernote-wrapper">
                                <div id="summernote" name="policydescription" config="summernote_options" ng-model="newPolicy.description" on-focus="focus(evt)" on-blur="blur(evt)" summernote required="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding m-t-10" ng-repeat="i in getNumber(numOfQuestions) track by $index">
                            <div pg-form-group class="form-group form-group-default">
                                <label>{{$index+1}}) Policy agree label</label>
                                <input type="text" ng-model="questions[$index].description" placeholder="I have read and agree to the above policies." class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 no-padding m-t-10 m-b-20 p-l-5">
                            <button class="btn btn-primary btn-cons" ng-click="addMoreQuestions()">Add question</button>
                        </div>
                        <div class="col-md-12 no-padding">
                            <!-- <div pg-form-group class="form-group form-group-default form-group-default-select">
                                <label class="">PACKAGE</label>
                                <ui-select on-select="onSelected($item)" ng-model="newPolicy.isGlobal" theme="bootstrap">
                                    <ui-select-match placeholder="Select option">{{$select.selected.name}} <span class="custom-color"></span></ui-select-match>
                                    <ui-select-choices group-by="'country'" repeat="item in packages | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div> -->
                            <div pg-form-group class="form-group form-group-default form-group-default-select">
                                <label class="">SELECT PACKAGE</label>
                                <ui-select on-select="onSelected($item)" ng-model="newPolicy.isGlobal" theme="bootstrap">
                                    <ui-select-match placeholder="Select Package">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in packages | filter: $select.search">
                                        <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                <p ng-if="packageOptions.length > 0">CONNECT WITH OPTION</p>
                <p ng-if="!hasOptions">THERE IS NO OPTION FOR THIS PACKAGE</p>
                <div class="row row-margin2">
                    <div class="col-sm-6 col-md-4-5 col-lg-1-5" ng-repeat="option in packageOptions track by $index">
                        <div class="boxes-style">
                            <div class="option-name">
                                <span>{{option.name}}</span>
                            </div>
                            <label for="box+{{$index}}" ng-class="{'boxes-style-hover':true, 'activeCheckBox': packageOptions[$index].active}">
                                <div class="checkbox-circle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <input hidden ng-click="makeCheckBoxChange($index)" class="custom-checkbox" type="checkbox" name="checkbox1" value="Option1" id="box+{{$index}}"><label for="box+{{$index}}"><i class="fa fa-check" aria-hidden="true"></i></label>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="packageOptions.length > 0">
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" ng-change="paginate(currentPage)" items-per-page="itemsPerPage">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row btn-position">
            <button class="btn btn-primary btn-cons" ng-click="addPolicy()" ng-disabled="!createPolicy.$valid||checkedPackageOptions.length==0">Save</button>
            <button class="btn btn-default btn-cons" ui-sref="side_menu.policy">Cancel</button>
        </div>
    </form>
</div>
