.options-first-box {
    /*border: 1px solid #6d5bae;*/
    border-radius: 2px;
    background-color: #6d5bae;
    color: #ffffff;
    height: 40px;
    width: 100%;
    padding: 8px;
}
.plus-box-options {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 14px;
    position: absolute;
}
.first-options-text {
    margin-left: 28px;
}
.custom-bold {
    font-weight: 600;
}
.options-second-box {
    border: 1px solid #ededed;
    border-radius: 2px;
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    padding: 6px;
}
.btn-custom {
    line-height: 12px!important;
    padding-left: 22px!important;
    padding-right: 22px!important;
    border-radius: 0!important;
    float: right;
}
.options-second-text-pad {
    padding-top: 2px;
}

/*EDIT OPTIONS PACKAGE*/

.custom-header {
    background-color: #6d5cae!important;
    color: #ffffff!important;
    /*border: 1px solid #6d5cae!important;*/
}
.custom-panel-control {
    color: #ffffff!important;
}
.custom-panel-body {
    background-color: #f8f8f8;
}
.custom-title-quest {
    font-weight: 400!important;
    font-size: 14px!important;
    color: #626262!important;
}
.custom-text-quest {
    color: #90a4ae!important;
    font-size: 12px!important;
    font-weight: 400!important;
}
.custom-tier-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.custom-tier-checkbox {
    margin-bottom: 0px!important;
    margin-top: -4px!important;
    float: right!important;
}
.first-box-schedule {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.boxes-style-schedule {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 95px;
    text-align: center;
    padding: 36px;
}
.boxes-style {
    position: relative;
}
.boxes-style label {
    position: absolute;
}
.option-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.option-name span {
    display: table-cell;
    vertical-align: middle;
    color: #626262;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
/*.boxes-style-schedule:hover {*/
    /*background-color: rgba(109, 92, 175, 0.75);*/
/*}*/

